/*!
*	Theme vX.X.X
*	Copyright 2016 Songfarm Inc.
*/
/*
* RESET STYLES
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* html5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
/* links */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:visited {
  text-decoration: none;
}
/* inline elements */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
em,
i {
  font-style: italic;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  width: 100%;
  /* ie fallback */
  max-width: 100%;
  height: auto;
  vertical-align: middle;
  /* removes gap below image and it's parent */
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  display: block;
  box-sizing: content-box;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
  height: 0;
  overflow: visible;
}
/* forms */
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
  width: 100%;
}
button,
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
/*
* THEME DEFAULTS
*/
.cta-link {
  display: block;
  border: 1px solid transparent;
  margin-top: 3.1984002rem;
  text-transform: capitalize;
}
.nav-active {
  background-color: rgba(255, 250, 242, 0.3);
}
.nav-active::after {
  content: "";
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  bottom: -1.618%;
  height: 5px;
  color: #487F98;
  background-color: #487F98;
}
@media (min-width: 48rem) {
  .nav-active::after {
    width: 97%;
  }
}
.fixed-nav,
.nav-visible {
  background-color: rgba(255, 255, 255, 0.8);
  height: 73px;
  animation: fadeIn 0.5s 0.23s ease-in both;
}
.fixed-nav nav #primary-nav .dropdown-content,
.nav-visible nav #primary-nav .dropdown-content {
  background-color: rgba(255, 255, 255, 0.8);
  color: #487F98;
  opacity: .8;
}
.fixed-nav nav #primary-nav .dropdown-content li a,
.nav-visible nav #primary-nav .dropdown-content li a {
  color: inherit;
}
.fixed-nav nav #primary-nav .dropdown-content li a:hover,
.nav-visible nav #primary-nav .dropdown-content li a:hover {
  opacity: 1;
}
.fixed-nav nav #primary-nav .dropdown-content li a::after,
.nav-visible nav #primary-nav .dropdown-content li a::after {
  width: 100%;
  height: 0px;
}
.fixed-nav nav #primary-nav .dropdown-content li:hover,
.nav-visible nav #primary-nav .dropdown-content li:hover {
  background-color: #fff;
}
.container {
  width: 100%;
}
@media (min-width: 48rem) {
  .container {
    width: 100%;
    max-width: 75.01875469rem;
    margin: 0 auto;
  }
}
html {
  font-size: 18px;
}
html body {
  font-family: 'Raleway', sans-serif;
  font-size: 1em;
  margin: 0 auto;
  height: 100%;
  background-color: #5b8290;
}
@media (min-width: 48rem) {
  html body {
    margin-bottom: 205px;
  }
}
/* type & text */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
  font: normal 1rem 'Muli', Arial, sans-serif;
  margin: 1.333rem 0 0.6665rem;
  text-transform: capitalize;
}
p,
span {
  margin: 1.333rem 0 0.6665rem;
  line-height: 1.333;
  font-size: 1.3rem;
}
h6,
.h6 {
  font-size: 1rem;
}
h5,
.h5 {
  font-size: 1.3rem;
}
h4,
.h4 {
  font-size: 1.8rem;
}
h3,
.h3 {
  font-size: 2.4rem;
}
h2,
.h2 {
  font-size: 3.2rem;
}
h1,
.h1 {
  font-size: 4.2rem;
}
/* links */
a {
  color: #487F98;
  transition: all 100ms ease-in;
}
a:link,
a:visited,
a:hover,
a:active,
a:focus {
  color: #487F98;
  outline-width: 0;
}
a.active-link {
  color: #487F98;
  background-color: rgba(255, 250, 242, 0.3);
}
a.active-link::after {
  content: "";
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  width: 100%;
  bottom: -1.618%;
  height: 5px;
  color: #487F98;
  background-color: #487F98;
}
@media (min-width: 48rem) {
  a.active-link::after {
    width: 97%;
  }
}
/* lists */
ul,
ol,
dl {
  margin-top: 0.6665rem;
  margin-bottom: 1.333rem;
  padding-left: 1.333rem;
  list-style: none;
  font-size: 1.3rem;
}
ul ul,
ol ul,
dl ul,
ul ol,
ol ol,
dl ol,
ul dl,
ol dl,
dl dl {
  margin-bottom: 0;
}
dt {
  font-weight: bold;
  margin-bottom: 0.6665rem;
}
dd {
  padding-left: 1em;
}
li {
  line-height: 1.618;
  margin-bottom: 0.82385661rem;
}
/*
* GRID STYLES
*/
.row {
  clear: both;
  height: auto;
  margin: 0;
  padding: 0;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  zoom: 1;
  /* For IE 6/7 */
}
.col {
  box-sizing: border-box;
  display: block;
  float: left;
  margin-top: 1.333%;
  margin-bottom: 1.333%;
  height: 100%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 48rem) {
  .col-1 {
    width: 6.10033333%;
  }
  .col-2 {
    width: 14.43366667%;
  }
  .col-3 {
    width: 22.767%;
  }
  .col-4 {
    width: 31.10033333%;
  }
  .col-5 {
    width: 39.43366667%;
  }
  .col-6 {
    width: 47.767%;
  }
  .col-7 {
    width: 56.10033333%;
  }
  .col-8 {
    width: 64.43366667%;
  }
  .col-9 {
    width: 72.767%;
  }
  .col-10 {
    width: 81.10033333%;
  }
  .col-11 {
    width: 89.43366667%;
  }
  .col-12 {
    width: 97.767%;
  }
  .col {
    margin-left: 1.333%;
  }
  .col:last-child {
    margin-right: 1.333%;
  }
}
/* NOTE: could write a function that does the conversions internally and outputs each size as separate variable */
/*
* TYPOGRAPHY AND TYPESETTING
*/
/* colors used on website services page*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInUp {
  0% {
    transform: translateY(2.666rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes fadeInRight {
  0% {
    transform: translateX(3.999rem);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes bounce {
  0% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(-15%);
  }
}
@keyframes grow {
  0% {
    transform: scale(0.5);
    opacity: .25;
  }
  50% {
    transform: scale(1.15);
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
.inline-icon-font {
  font-family: FontAwesome;
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  position: relative;
  vertical-align: baseline;
}
.fadeInUp {
  animation: fadeInUp 1.8s 0.23s ease-out forwards;
  animation-fill-mode: both;
}
.fadeInRight {
  animation: fadeInRight 1.8s 1.2s ease-out both;
}
.grow {
  animation: grow .75s backwards;
}
.grow-left {
  animation-delay: 0s;
}
.grow-center {
  animation-delay: .1s;
}
.grow-right {
  animation-delay: .2s;
}
.at-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.at-only-focusable:active,
.at-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.clear-float {
  content: '';
  display: table;
  clear: both;
}
.full-width {
  margin-left: 0;
  margin-right: 0;
}
.box-shadow {
  box-shadow: 0px 3px 5px 2px #487F98;
}
.box-shadow-img {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.9);
}
.hide {
  display: none;
}
.invisible {
  visibility: hidden;
}
.embolden {
  font-weight: bold;
}
/* site-wide */
header {
  position: fixed;
  z-index: 10000;
  top: 0;
  z-index: 999;
  width: 100%;
}
header h1.h3 {
  margin: 0;
  padding-left: 0.6665rem;
  color: #487F98;
  line-height: 1.618;
}
header h1.h3:hover {
  cursor: pointer;
}
header::after {
  content: '';
  display: table;
  clear: both;
}
@media (min-width: 48rem) {
  header {
    position: fixed;
  }
}
nav.navbar {
  position: static;
  clear: right;
  z-index: 1000;
  display: block;
  width: 100%;
  height: 73px;
}
nav.navbar::after {
  content: '';
  display: table;
  clear: both;
}
nav.navbar .navbar-header {
  display: block;
  height: auto;
  width: 100%;
}
nav.navbar .navbar-header button {
  display: block;
  height: 100%;
  width: auto;
  float: right;
  padding: 0.71982rem;
  padding-0.3: 2.3994rem;
  /* css error */
  padding-top: .7rem;
  padding-bottom: .7rem;
  background: transparent;
  margin-right: 0.35991rem;
}
nav.navbar .navbar-header button span.icon-bar {
  width: 2.156794rem;
  height: 3px;
  background-color: #487F98;
  display: block;
  margin: 0;
  margin: .5rem .5rem;
}
nav.navbar .navbar-header button:hover {
  cursor: pointer;
}
nav.navbar .navbar-collapse {
  clear: both;
}
nav.navbar .navbar-collapse ul {
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 3px 5px 2px #487F98;
}
nav.navbar ul {
  padding-left: 0;
  margin-bottom: 0;
  display: block;
  height: 100%;
}
nav.navbar ul li {
  display: block;
  text-align: center;
}
nav.navbar ul li a {
  display: block;
  vertical-align: middle;
  color: #487F98;
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
nav.navbar ul li a:hover {
  background-color: rgba(153, 153, 153, 0.9);
}
@media (min-width: 48rem) {
  nav.navbar {
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    width: auto;
  }
  nav.navbar .navbar-header {
    display: none;
  }
  nav.navbar .navbar-collapse ul {
    background-color: transparent;
    box-shadow: none;
  }
  nav.navbar .collapse {
    display: block;
  }
  nav.navbar ul {
    display: flex;
    background-color: transparent;
    margin-right: 0;
  }
  nav.navbar ul li {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  nav.navbar ul li a {
    padding: 0.82385661rem;
    height: auto;
  }
  nav.navbar ul li a:hover {
    background-color: rgba(255, 250, 242, 0.3);
  }
  nav.navbar ul li a:hover::after {
    content: "";
    position: absolute;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    width: 100%;
    bottom: -1.618%;
    height: 5px;
    color: #487F98;
    background-color: #487F98;
  }
  nav.navbar ul li.dropdown-btn {
    position: relative;
  }
  nav.navbar ul li.dropdown-btn ul.dropdown-content {
    position: absolute;
    left: 5000%;
    opacity: .25;
    height: auto;
    display: block;
    width: auto;
    top: 73px;
    transition: opacity 100ms ease-in;
  }
  nav.navbar ul li.dropdown-btn ul.dropdown-content li {
    display: block;
    white-space: nowrap;
  }
  nav.navbar ul li.dropdown-btn ul.dropdown-content li a {
    padding: 1rem 0.6665rem;
    line-height: 1;
  }
  nav.navbar ul li.dropdown-btn:hover ul.dropdown-content,
  nav.navbar ul li.dropdown-btn:focus ul.dropdown-content {
    left: 1rem;
    left: 0;
    opacity: 1;
  }
}
@media (min-width: 48rem) and (min-width: 48rem) {
  nav.navbar ul li a:hover::after {
    width: 97%;
  }
}
#primary-nav {
  display: none;
}
footer {
  position: static;
  width: 100%;
  bottom: 0;
  z-index: -1;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  clear: both;
  padding-top: 1.333rem;
}
footer #social-links ul {
  margin-bottom: 0;
  padding-left: 0;
  text-align: center;
}
footer #social-links ul li {
  display: inline-block;
  font-size: 1.8rem;
  padding: 12px 6px;
  padding-bottom: 0;
  margin-bottom: 0;
}
footer #social-links ul li > a {
  color: #6099b3;
}
footer #copyright {
  text-align: center;
  width: 100%;
  padding: 1.1997rem;
  padding-0.5: 2.3994rem;
}
footer #copyright span {
  font-size: 1rem;
}
@media (min-width: 48rem) {
  footer {
    position: fixed;
  }
  footer ul {
    position: relative;
    top: 15px;
  }
}
.cssanimations #about #about-intro,
.cssanimations ul#key-list,
.cssanimations #about-cta {
  opacity: 0;
}
#final-cta,
#service-cta {
  font: normal 900 1rem/1 'Raleway', Arial, sans-serif;
  text-align: center;
  background-color: #86A5C4;
  color: #fff;
  width: 100%;
  transition: background-color 0.25s linear;
  position: relative;
  z-index: 100;
  padding: 2.3994rem;
  padding-1: 2.3994rem;
  padding-top: 1.776889rem;
  padding-bottom: 1.776889rem;
  box-shadow: 0px 3px 5px 2px #487F98;
}
@media (min-width: 48rem) {
  #final-cta,
  #service-cta {
    padding-bottom: 2.666rem;
  }
}
@media (min-width: 48rem) {
  #final-cta,
  #service-cta {
    padding: 2.96588381rem;
    padding-1.2360939431396785: 2.3994rem;
  }
}
#final-cta:hover,
#service-cta:hover {
  background-color: #6099b3;
  cursor: pointer;
}
#final-cta h2,
#service-cta h2 {
  font: 'Raleway', sans-serif;
  font-size: 1.8rem;
}
#final-cta h2 > i,
#service-cta h2 > i {
  color: inherit;
  font-size: inherit;
  position: relative;
}
@media (min-width: 48rem) {
  #final-cta h2,
  #service-cta h2 {
    font-size: 2.5rem;
  }
}
/* index.php (main) */
#elevate-business h2,
#website-important h3 {
  font-family: normal 900 1rem 'Raleway', Arial, sans-serif;
}
#website-important dt {
  font-weight: bold;
}
#business-top {
  position: relative;
  background-color: #86A5C4;
  background-image: url(../_images/air-triangulated.jpg);
  background-position: center 0%;
  background-repeat: no-repeat;
  height: auto;
  min-height: 480px;
  padding-top: 4.7988rem;
}
@media (max-height: 460px) {
  #business-top {
    height: 480px;
  }
}
@media (min-width: 48rem) {
  #business-top {
    background-size: 100%;
    height: 100vh;
  }
}
@media (min-width: 64rem) {
  #business-top {
    background-size: cover;
    overflow: hidden;
  }
}
#business-top .callout {
  padding-left: 0.59985rem;
  padding-right: 0.59985rem;
}
@media (min-width: 48rem) {
  #business-top .callout {
    padding-left: 1.1997rem;
    padding-right: 1.1997rem;
  }
}
@media (min-width: 64rem) {
  #business-top .callout {
    padding-top: 7.1982rem;
  }
}
#business-top .callout h1 {
  color: #467F96;
  font: normal 900 1rem/1 'Raleway', Arial, sans-serif;
  text-shadow: 1px 1px 1px #386275;
  font-size: 3.2rem;
  margin: 0 auto;
  text-align: center;
}
#business-top .callout h1 > span {
  font-size: inherit;
  color: #35885f;
}
@media (min-width: 48rem) {
  #business-top .callout h1 {
    font-size: 4.2rem;
  }
}
@media (min-width: 64rem) {
  #business-top .callout h1 {
    font-size: 4.9rem;
    text-align: left;
  }
}
#business-top .callout div.callout-container {
  width: 100%;
  position: absolute;
  top: 480px;
  left: 0;
  right: 0;
  text-align: center;
  background-color: #fff;
  padding-top: 1.1997rem;
  padding-bottom: 7.1982rem;
  box-shadow: inset 0px 2px 10px 0px #467F96;
}
@media (min-width: 48rem) {
  #business-top .callout div.callout-container {
    padding-top: 2.3994rem;
    padding-bottom: 9.5976rem;
    top: 28rem;
  }
}
@media (min-width: 64rem) {
  #business-top .callout div.callout-container {
    position: static;
    background-color: transparent;
    box-shadow: none;
    text-align: left;
    padding-top: 0;
  }
}
#business-top .callout div.callout-container p {
  font-family: 'Raleway', sans-serif;
  font-size: 1.3rem;
  color: #314873;
  font-weight: 400;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 3.5991rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}
@media (min-width: 48rem) {
  #business-top .callout div.callout-container p {
    font-size: 1.5rem;
  }
}
@media (min-width: 64rem) {
  #business-top .callout div.callout-container p {
    font-size: 1.8rem;
    width: 70%;
    margin-left: 0;
  }
}
@media (min-width: 105rem) {
  #business-top .callout div.callout-container p {
    width: 60%;
    font-size: 1.8rem;
  }
}
#business-top .callout div.callout-container a {
  font-family: 'Raleway', sans-serif;
  color: white;
  letter-spacing: 1px;
  padding: 1rem 2.666rem;
  font-size: 1.3rem;
  background-color: #35885f;
  text-decoration: none;
  border-radius: 2px;
  box-shadow: 0 2px 3px 0px #555;
}
@media (min-width: 48rem) {
  #business-top .callout div.callout-container a {
    font-size: 1.5rem;
  }
}
#business-top .callout div.callout-container a:hover,
#business-top .callout div.callout-container a:active {
  background-color: #467F96;
}
#elevate-business {
  display: none;
  height: auto;
  background: #fff url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%2225%25%22%20stop-color%3D%22%2386a5c4%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23ffffeb%22%20stop-opacity%3D%220.5%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
  padding-top: 2.3994rem;
  padding-bottom: 4.7988rem;
}
#elevate-business > div {
  text-align: center;
  padding-left: 0.82385661rem;
  padding-right: 0.82385661rem;
}
@media (min-width: 64rem) {
  #elevate-business > div {
    width: 70%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 7.1982rem;
  }
}
#elevate-business > div h2 {
  color: #3b687c;
  font-size: 1.8rem;
}
@media (min-width: 48rem) {
  #elevate-business > div h2 {
    font-size: 1.7rem;
    font-weight: bold;
  }
}
@media (min-width: 64rem) {
  #elevate-business > div h2 {
    font-size: 2.4rem;
    margin-bottom: 3.1984002rem;
  }
}
#elevate-business > div #mountain-layout > div.col {
  position: relative;
  margin-top: 2.3994rem;
  padding-left: 0.82385661rem;
  padding-right: 0.82385661rem;
  padding-bottom: 0.82385661rem;
}
@media (min-width: 64rem) {
}
#elevate-business > div p {
  color: #1a4b67;
  font-size: 1.3rem;
}
@media (min-width: 64rem) {
  #elevate-business > div p {
    font-size: 1.2rem;
    margin-left: auto;
    margin-right: auto;
  }
}
@media (min-width: 64rem) {
  #elevate-business {
    min-height: 100vh;
  }
}
#website-important {
  display: none;
  padding-top: 4.7988rem;
  padding-bottom: 4.7988rem;
  background-color: #fff;
  background-image: url(../_images/backgrounds/circle-mess-multi.svg);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.45);
}
#website-important > div {
  text-align: center;
}
#website-important > div h3 {
  font-size: 1.5rem;
  margin-bottom: 2.3994rem;
  padding-left: 0.82385661rem;
  padding-right: 0.82385661rem;
  color: #386275;
}
@media (min-width: 48rem) {
  #website-important > div h3 {
    font-size: 1.8rem;
    position: relative;
    margin-bottom: 3.1984002rem;
    font-weight: bold;
  }
  #website-important > div h3::after {
    content: "";
    height: 5px;
    width: 12.5%;
    position: absolute;
    background-color: #3b687c;
    bottom: -2.156794rem;
    left: 50%;
    transform: translateX(-50%);
  }
}
#website-important > div dl,
#website-important > div dd {
  padding-left: 0;
}
#website-important > div dl {
  text-align: center;
  font-size: 1.2rem;
  margin-left: 0.44433333rem;
  margin-right: 0.44433333rem;
}
#website-important > div dl > .row div:nth-child(1) dt {
  color: #4F1271;
}
#website-important > div dl > .row div:nth-child(2) dt {
  color: #056a5f;
}
#website-important > div dl > .row div:nth-child(3) dt {
  color: #345995;
}
#website-important > div dl > .row dt {
  font-size: 130%;
}
#website-important > div dl > .row dd {
  color: #386275;
}
#website-important > div dd {
  margin-bottom: 2.3994rem;
}
#website-important > div dt,
#website-important > div dd {
  padding-left: 12px;
  padding-right: 12px;
}
@media (min-width: 64rem) {
  #website-important > div {
    margin-top: 4.7988rem;
  }
}
@media (min-width: 64rem) {
  #website-important {
    min-height: 100vh;
  }
}
footer {
  display: none;
}
@media (min-width: 64rem) {
  html,
  body {
    overflow: hidden;
  }
}
/*
* peakwebsites.ca/website-services/
*/
.service {
  background-size: 100%;
  background-repeat: no-repeat;
  box-shadow: 0px 3px 5px 2px #487F98;
}
#website-services {
  background-image: url('../../_assets/fallbacks/backgrounds/polygon-bg-main.png');
}
#development {
  background-image: url('../../_assets/fallbacks/backgrounds/polygon-bg-green.png');
}
#maintenance {
  background-image: url('../../_assets/fallbacks/backgrounds/polygon-bg-pink.png');
}
#optimization {
  background-image: url('../../_assets/fallbacks/backgrounds/polygon-bg-purple.png');
}
.service > .service-intro {
  padding: 1.1997rem;
  padding-0.5: 2.3994rem;
  height: auto;
  color: #487F98;
  padding-top: 4.7988rem;
  padding-bottom: 2.96588381rem;
}
@media (min-width: 48rem) {
  .service > .service-intro {
    height: auto;
    min-height: 100vh;
    padding-top: 15.5289168rem;
  }
}
.service > .service-intro > span {
  font-size: 1.8rem;
  line-height: 1.618;
  color: #487F98;
  text-shadow: 1px 1px 1px #487F98;
}
.service > .service-intro > p {
  margin-top: 2.3994rem;
  color: #386275;
}
.service > .service-features {
  height: auto;
  background-color: #fff;
  padding-top: 3.1984002rem;
  padding-bottom: 2.3994rem;
  padding: 1.4829419rem;
  padding-0.6180469715698392: 2.3994rem;
}
@media (min-width: 48rem) {
  .service > .service-features {
    height: auto;
    min-height: 100vh;
    padding-top: 4.7988rem;
  }
}
.service > .service-features > ul.feature-list {
  margin-top: 1.8rem;
  padding-left: 0;
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin-bottom: 0;
  padding-left: 18px;
  padding-right: 18px;
}
.service > .service-features > ul.feature-list > li {
  flex-grow: 2;
  flex-shrink: 0;
  flex-basis: 100%;
  margin-bottom: 1.8rem;
}
@media (min-width: 48rem) {
  .service > .service-features > ul.feature-list > li {
    flex-basis: 400px;
    margin-right: 1.333%;
  }
}
.service > .service-features > ul.feature-list > li > span {
  font-size: 1.3rem;
  font-weight: bold;
}
.service > .service-features > ul.feature-list > li > p {
  font-size: 1.2rem;
  line-height: 1.618;
  margin-top: 1.618rem;
}
.service > .service-features > ul.feature-list > li > small {
  font-style: italic;
  font-size: 1.1rem;
  float: right;
  display: block;
  margin-top: 1.1997rem;
}
.service .feature-container {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: space-between;
  flex-wrap: nowrap;
}
@media (min-width: 48rem) {
  .service .feature-container {
    flex: 0 0 7.998rem;
    width: auto;
    height: auto;
  }
  .service .feature-container > img {
    height: auto;
    width: auto;
  }
}
@media (min-width: 64rem) {
  .service .feature-container {
    justify-content: flex-start;
  }
}
.service .feature-container > img {
  flex: 0 0 90px;
  margin-right: 9px;
  margin-left: 9px;
  width: 90px;
  height: 90px;
}
.service .feature-container > span {
  flex: 1 1 0px;
}
#website-services {
  position: relative;
  padding-top: 4.7988rem;
  padding-bottom: 9.5976rem;
  box-shadow: 0px 3px 5px 2px #487F98;
  background-color: white;
}
@media (min-width: 48rem) {
  #website-services {
    height: auto;
    min-height: 100vh;
  }
}
#website-services > div.container {
  text-align: center;
  padding-left: 0.82385661rem;
  padding-right: 0.82385661rem;
}
@media (min-width: 64rem) {
  #website-services > div.container {
    margin-top: 5.9985rem;
    margin-bottom: 5.9985rem;
  }
}
#website-services > div.container p {
  font-family: 'Raleway', sans-serif;
  font-size: 2.4rem;
  color: #487F98;
  width: 80%;
  margin: 0 auto;
}
#website-services #service-display {
  border: 2px solid red;
}
#website-services #service-display > section {
  width: 100%;
  min-height: 500px;
  background-color: #fff;
}
#website-services #service-display > section > p {
  width: 100%;
  margin: 0 auto;
  text-align: center;
}
#website-services #service-display > section > p:first-of-type {
  padding-top: 1.333rem;
  padding-bottom: 1.333rem;
  font-size: 2.4rem;
  font-weight: 700;
  color: white;
}
#website-services #service-display > section > p:last-of-type {
  font-size: 1.3rem;
  background-color: #fff;
  font-size: 1.4rem;
  font-weight: 400;
  padding: 1.776889rem 1.776889rem 1.333rem;
  line-height: 1.333;
  border-bottom: 1px solid #edd;
  min-height: 260px;
}
#website-services #service-display > section > a {
  text-decoration: none;
  color: white;
}
#website-services #service-display > section:nth-child(1) > p:first-of-type,
#website-services #service-display > section:nth-child(1) > a {
  background: #52c38c url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%2250%25%22%20stop-color%3D%22%2352c38c%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23239d62%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
}
#website-services #service-display > section:nth-child(2) > p:first-of-type,
#website-services #service-display > section:nth-child(2) > a {
  background: #48c6df url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%2250%25%22%20stop-color%3D%22%2348c6df%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%231c9eb8%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
}
#website-services #service-display > section:nth-child(3) > p:first-of-type,
#website-services #service-display > section:nth-child(3) > a {
  background: #895cbd url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%2250%25%22%20stop-color%3D%22%23895cbd%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23552987%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
}
@media (min-width: 64rem) {
  #website-services #service-display {
    overflow: hidden;
  }
  #website-services #service-display > section {
    width: 33.33%;
    float: left;
  }
}
#website-services #service-table {
  display: none;
}
#website-services #service-table > table {
  width: 75rem;
  border-left: 1px solid #eed;
  margin-right: auto;
  margin-left: auto;
  position: relative;
  min-width: 900px;
  font-family: 'Raleway', sans-serif;
  background-color: #fefefe;
  border-bottom: 1px solid #eed;
}
#website-services #service-table > table th,
#website-services #service-table > table td {
  border-right: 1px solid #edd;
}
#website-services #service-table > table thead a {
  text-decoration: none;
}
#website-services #service-table > table thead > tr > th {
  padding-top: 1.333rem;
  padding-bottom: 1.333rem;
  font-size: 2.4rem;
  font-weight: 700;
}
#website-services #service-table > table thead > tr:first-child > th > a {
  color: white;
}
#website-services #service-table > table thead > tr + tr > th {
  font-size: 1.4rem;
  font-weight: 400;
  padding-top: 1.776889rem;
  padding-bottom: 1.333rem;
  padding-left: 1.776889rem;
  padding-right: 1.776889rem;
  line-height: 1.333;
  border-bottom: 1px solid #edd;
}
#website-services #service-table > table tbody > tr td {
  text-align: center;
  padding-top: 1.333rem;
  padding-bottom: 1.333rem;
  padding-left: 1.333rem;
  padding-right: 1.333rem;
  width: 33.33333333%;
}
#website-services #service-table > table tbody > tr:first-child > td {
  background-color: white;
  font-style: italic;
  padding-top: 1rem;
  padding-bottom: 1rem;
  text-indent: 1.333rem;
  text-align: left;
  color: #1B998B;
  font-weight: 700;
}
#website-services #service-table > table tbody > tr:not(.include) > td {
  font-size: 1.4rem;
  font-weight: 300;
}
#website-services #service-table > table tbody > tr:nth-child(even) td {
  background-color: #fcfaf7;
}
#website-services #service-table > table tbody > tr > td#dev-examples {
  position: absolute;
}
#website-services #service-table > table tfoot > tr > td {
  padding-left: 1.776889rem;
  padding-right: 1.776889rem;
  background-color: inherit;
}
#website-services #service-table > table tfoot > tr > td a {
  display: block;
  text-align: center;
  padding-top: 18px;
  padding-bottom: 18px;
  font-size: 1.3rem;
  text-decoration: none;
  width: 50%;
  margin: 0 auto;
}
#website-services #service-table > table tfoot > tr > td a:first-child {
  margin-top: 2.666rem;
  box-shadow: -1px 1px 4px 1px #ccc;
  color: white;
}
#website-services #service-table > table tfoot > tr > td a:last-child {
  padding-top: 0.6665rem;
  padding-bottom: 1.333rem;
  font-size: 100%;
}
#website-services #service-table > table tfoot > tr > td a:last-child:hover {
  text-decoration: underline;
}
#website-services #service-table .green {
  background: #52c38c url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%2250%25%22%20stop-color%3D%22%2352c38c%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23239d62%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
}
#website-services #service-table .blue {
  background: #48c6df url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%2250%25%22%20stop-color%3D%22%2348c6df%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%231c9eb8%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
}
#website-services #service-table .purple {
  background: #895cbd url('data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20%3F%3E%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20version%3D%221.1%22%20width%3D%22100%25%22%20height%3D%22100%25%22%20viewBox%3D%220%200%201%201%22%20preserveAspectRatio%3D%22none%22%3E%3ClinearGradient%20id%3D%22gradient%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%220%25%22%20y1%3D%220%25%22%20x2%3D%220%25%22%20y2%3D%22100%25%22%3E%3Cstop%20offset%3D%2250%25%22%20stop-color%3D%22%23895cbd%22%2F%3E%3Cstop%20offset%3D%22100%25%22%20stop-color%3D%22%23552987%22%2F%3E%3C%2FlinearGradient%3E%3Crect%20x%3D%220%22%20y%3D%220%22%20width%3D%221%22%20height%3D%221%22%20fill%3D%22url(%23gradient)%22%20%2F%3E%3C%2Fsvg%3E');
}
#service-cta > div p {
  line-height: 1.618;
}
#service-cta > div p > a {
  color: #fff;
}
@media (min-width: 48rem) {
  #service-cta > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 3.1984002rem;
    padding-bottom: 3.1984002rem;
    padding-left: 0;
    padding-right: 0;
  }
  #service-cta > div p {
    margin-left: 9.5976rem;
    font-size: 1.5rem;
    text-align: left;
  }
}
/* this is a different about page */
#about-page {
  height: auto;
  background-color: #86A5C4;
  background-image: url(../_images/backgrounds/circle-mess-multi.svg);
  padding: 0.9rem;
  padding-0.37509377344336087: 2.3994rem;
  padding-top: 3.8822292rem;
  padding-bottom: 2.3994rem;
  box-shadow: 0px 3px 5px 2px #487F98;
}
#about-page .headline {
  font: normal 900 1rem/1 'Raleway', Arial, sans-serif;
  color: #86A5C4;
  font-size: 2.4rem;
  line-height: 1.1;
  text-shadow: -1px 1px 2px #487F98;
}
#about-page .headline .hero {
  font-size: inherit;
  line-height: inherit;
  color: #fff;
}
#about-page p {
  color: #487F98;
}
#about-page p:last-child {
  font-weight: bold;
  margin-top: 2.3994rem;
}
#about-page p:last-child a:hover {
  color: #fff;
}
@media (min-width: 48rem) {
  #about-page {
    height: 100vh;
    padding-top: 9.5976rem;
  }
}
#contact-main {
  padding-top: 4.7988rem;
  background: radial-gradient(ellipse at center, rgba(26, 44, 54, 0.1) 50%, rgba(26, 44, 54, 0.7) 100%), #86A5C4 url("data:image/svg+xml,%3Csvg width='136' height='78' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%2327495D' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
  text-align: center;
  color: #fff;
  box-shadow: 0px 3px 5px 2px #487F98;
}
#contact-main p {
  text-shadow: -1px -1px 1px #487F98;
  margin-top: 0;
}
#contact-main section {
  padding-bottom: 1.333rem;
}
#contact-main #contact-form {
  background-color: rgba(255, 255, 255, 0.4);
  margin: 0.45rem;
  margin-0.18754688672168043: 2.3994rem;
  margin-top: 0;
  padding: 0.59985rem;
  padding-0.25: 2.3994rem;
  box-shadow: 0px 3px 5px 2px #487F98;
}
#contact-main #contact-form .row {
  overflow: hidden;
}
#contact-main #contact-form > fieldset {
  border-width: 0px;
  padding: 0;
}
#contact-main #contact-form > fieldset legend {
  margin: 0 0.5em 0 0;
  padding: 0 0.5em;
  font-weight: bold;
}
#contact-main #contact-form input,
#contact-main #contact-form textarea {
  border-width: 0 0 2px;
  border-style: solid;
  border-color: #329F5B;
  background-color: transparent;
  border-bottom-left-radius: 1px;
  border-bottom-right-radius: 1px;
  height: auto;
  padding: 0.82385661rem 1rem;
  padding-left: 0;
  margin-left: 2.666rem;
  margin-right: 2.666rem;
  font-size: 1.2rem;
}
#contact-main #contact-form input:first-child,
#contact-main #contact-form textarea:first-child {
  margin-left: 0;
}
#contact-main #contact-form input:last-child,
#contact-main #contact-form textarea:last-child {
  margin-right: 0;
}
#contact-main #contact-form input:focus,
#contact-main #contact-form textarea:focus {
  outline: 0;
}
#contact-main #contact-form textarea {
  height: auto;
}
#contact-main #contact-form textarea:focus {
  outline: 0;
  height: 150px;
}
#contact-main #contact-form input[type="submit"] {
  display: block;
  margin: 0 auto;
  border-width: 0px;
  color: #fff;
  margin-top: 1.776889rem;
  text-transform: uppercase;
  border-radius: 2px;
  background: linear-gradient(to bottom, #329F5B 25%, #267845);
  box-shadow: 0px 2px 4px 1px #27495D;
  transition: color 0.5s ease-out;
}
#contact-main #contact-form input[type="submit"]:hover {
  cursor: pointer;
  color: #487F98;
}
@media (min-width: 48rem) {
  #contact-main {
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0;
  }
  #contact-main #contact-form {
    width: 61.80469716%;
    margin: 0.37509377rem auto;
    padding: 1.1997rem;
    padding-0.5: 2.3994rem;
  }
  #contact-main #contact-form > fieldset {
    padding: 0.59985rem;
    padding-0.25rem: 2.3994rem;
  }
  #contact-main #contact-form input[type="submit"] {
    width: 56.27813555%;
  }
  #contact-main #contact-form input,
  #contact-main #contact-form textarea {
    padding-left: 1rem;
  }
}
#faq {
  padding: 0.9rem;
  padding-0.37509377344336087: 2.3994rem;
  padding-top: 3.8822292rem;
  padding-bottom: 4.7988rem;
  background-color: white;
  box-shadow: 0px 3px 5px 2px #487F98;
  background-color: #fff;
  background-image: url(../_images/backgrounds/circle-mess-multi.svg);
}
#faq h1 {
  font-size: 2.4rem;
  color: #86A5C4;
  text-shadow: -1px 1px 2px #487F98;
}
#faq dl,
#faq dd {
  padding-left: 0;
}
#faq dl {
  margin-top: 2.3994rem;
  padding-left: 0;
}
#faq dt {
  background: #86A5C4;
  color: #fff;
  padding: 18px;
  margin-bottom: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
}
#faq dt > .fa {
  position: relative;
  margin-right: 9px;
  top: 2px;
}
#faq dt:hover {
  cursor: pointer;
}
#faq dd {
  background: #eee;
  padding: 0.82385661rem;
  padding-bottom: 2.156794rem;
  line-height: 1.618;
  border-left: 1px solid #ccc;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  font-size: 1.2rem;
}
@media (min-width: 48rem) {
  #faq {
    padding-top: 11.6466876rem;
    margin-bottom: 1.333rem;
  }
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  transition-property: height, visibility;
  transition-duration: .35s;
  transition-timing-function: ease-out;
}
button.navbar-toggle:focus {
  outline: 0;
}
@media (min-width: 48rem) {
  .collapse {
    display: block;
  }
}
