/*
* LESS Calculations
* - specific helper functions for quick modularity
*/

/* Scale Font */
// when a number is declared, the line-height is multiplied to the power of the supplied variable producing a modular scale
.font-size() {
	font-size: @theme-default-em;
}
.font-size(@x) when (isnumber(@x)){
	@font-size-em: unit( round( (@theme-default-em * pow(@first-modular, @x) ), 1 ), em);
	font-size: @font-size-em;
}

/* NOTE: deprecated */
// used to exponentially expand or decrease margins based on a chosen ratio
.base(@prop; @base: 1) {
	@{prop}: unit((@theme-default * (@first-modular * @base) / 10), rem);
}
.base(@prop; @x; @base: 1) {
	@{prop}-@{x}: unit((@theme-default * (@first-modular * @base) / 10), rem);
}

// .base(margin; @base: 1) when not (@base = 0){
// 	margin: unit((@theme-default * (@first-modular * @base) / 10), rem);
// }
