/*
* GRID STYLES
*/

/* Grid Variables */
@grid-columns: 12;
@grid-padding: unit(@first-modular, %);

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
	width: 100%;
	box-sizing: border-box;
}
.col {
	box-sizing: border-box;
	display: block;
	height: 100%;
	float: left;
}
.col:last-child {
	// margin-right: unit(@first-modular, %);
}
.row {
	clear: both;
	height: auto;
	margin: 0;
	padding: 0;
	// background: #e99;
}
.row:before,
.row:after {
	content:"";
	display:table;
}
.row:after {
	clear:both;
}
.row {
	zoom:1; /* For IE 6/7 */
}


// go full-width at specified breakpoint
@media (min-width: 80em) {
	// generate grid with allowance given for
	.create-grid(@i: 1) when (@i =< @grid-columns) {
		@each: (@i / @grid-columns) * 100%;
		.col-@{i} {
			width: @each - (unit(@first-modular, %) + .9);
		}
		.create-grid(@i + 1);
	}
	.create-grid();
	.col {
		margin-left: unit(@second-modular, %);
	}
	.col:last-child {
		margin-right: 0;
	}
}
