# .gitignore

.gitignore

dev/_css/
dev/_js/vendor/
copy_scripts/

services.md

# 3rd-party dependencies
node_modules

# error fix
prod/_includes/_includes/

# misc
Thumbs.db
google1aee9f593bf6a34f.html
