main#about-page {
	.base(padding,1);
	article.bio {
		// .base(padding,1);
		figure {
			width: 100%;
			>img {
				box-shadow: none;
			}
			>figcaption {
				padding: 6px;
				small>span {
					color: @hero-color;
					font-weight: bold;
					font-style: italic;
				}
			}

			// border: 1px solid @hero-color;
			background-color: @background-color;
			.box-shadow-img;
			@media (@sm-query) {
				float: right;
				width: 30%;
			}
		}
		p {
			width: 100%;
			@media (@sm-query) {
				width: 69%;
			}
		}
		.clear-float();
	}
}
