// main styles for /about.php
#about {
	height: 100vh;
	padding-top: @4-rem * @first-modular;
	.headline {
		font: @header-font;
		.font-size(3);
		line-height: 1.1;
		.hero {
			font-size: inherit;
			line-height: inherit;
			color: @hero-color;
		}
	}
}
