// modularly scaled font
// when a number is declared, the line-height is multiplied to the power of the supplied variable producing a modular scale
.font-size() {
	font-size: @base-size-rem;
}
.font-size(@x) when (isnumber(@x)){
	@font-size-rem: unit( round( (@base-size-rem * pow(@first-modular, @x) ), 1 ), rem);
	font-size: @font-size-rem;
}

// NOTE: review results
// used to exponentially expand or decrease margins based on a chosen ratio
// .base(margin; @base: 1) when not (@base = 0){
// 	margin: unit((@base-size * (@first-modular * @base) / 10), rem);
// }
// .base(padding; @base: 1) {
// 	padding: unit((@base-size * (@first-modular * @base) / 10), rem);
// }
.base(@prop; @x; @base: 1) {
	@{prop}-@{x}: unit((@base-size * (@first-modular * @base) / 10), rem);
}
