// modularly scaled font
// when a number is declared, the line-height is multiplied to the power of the supplied variable producing a modular scale
.font-size() {
	font-size: @base-size-rem;
}
.font-size(@x) when (isnumber(@x)){
	@font-size-rem: unit( round( (@base-size-rem * pow(@line-height, @x) ), 1 ), rem);
	font-size: @font-size-rem;
}

// NOTE: review results
// used to exponentially expand or decrease margins based on a chosen ratio
.base(margin; @base: 1) when not (@base = 0){
	margin: unit((@base-size * (@line-height * @base) / 10), rem);
}
.base(padding; @base: 1) {
	padding: unit((@base-size * (@line-height * @base) / 10), rem);
}

.border (@color: red) {
	border: 2px solid @color;
}
.box-shadow {
	box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.35)
}
.eq {
	margin: 0;
	padding: 0;
}
