// SITE COLORS
// named colors
@silver-lake-blue: #6393BB;
@japanese-indigo: #27495C;
@medium-sky-blue: #7BDFF2;
@gray-blue: #8B93A0;
@platinum: #E6EAE9;
@ebony: #5A5C5F;
@orchid-pink: #F2B5D4;
@jasper: #D33E43;
@mustard: #FFE066;
@ash-white: #F0F4F5;
// as variables
@hero-color: @silver-lake-blue;
@hero-color-bold: @japanese-indigo;
@accent-color: @medium-sky-blue;
@link-color: @hero-color;
@link-color-hover: @mustard;
@secondary-color: @jasper;
@background-color: @ash-white;
@nav-color: @japanese-indigo;
