// SITE COLORS
@hero-color: #00558c;
@hero-color-alt: #89C9E4;
// @hero-color-light: fadeout(@hero-color, 12%);
@background-color: #E7EFF4;
@secondary-color: #D0E0EA;

@link-color: @hero-color;
// @link-color-hover: @hero-color-light;
@nav-color: #E2E9F3;
