// SITE COLORS
@mint-cream: #f8fff4;
@light-yellow: #fcffe4;
@pomona-green: #314e22;
@dark-green: darken(@pomona-green, 16%);
@gunmetal-blue: #22333b;
@dark-blue: darken(@gunmetal-blue, 16%);
@accent-color: #D5A021;
@gradient-color-list: #ECA400 0%, #FCA311 33%, #EFCB68 66%, #D17A22;
@link-color: @light-yellow;
@link-color-hover: @gunmetal-blue;
