//contact form
#contact-main {
	height: 100vh;
	padding-top: (@1-rem * 2);
	background-image: url(../_images/doodle-street-mountain.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center 60%;
	#contact-form {
		width: 100% / @first-modular;
		margin: 0 auto;
		background-color: fadeout(#fff, 50%);
		.base(padding, 0.25rem);
		>fieldset {
			.base(padding, 0.25rem);
			legend {
				margin: 0 0.5em 0 0;
				padding: 0 0.5em;
				font-weight: bold;
			}
			p {
				.font-size(0.5);
				&:first-of-type {
					margin-top: 0;
				}
			}
			label {
				display: block;
			}
		}
		span {
			.border;
			line-height: @line-height;
		}
		.row {
			.col:last-child {
				margin-right: 0;
			}
		}
		input,
		textarea {
			border-width: 0 0 2px;
			border-style: solid;
			border-color: @secondary-color;
			background-color: transparent;
			border-bottom-left-radius: 1px;
			border-bottom-right-radius: 1px;
			height: auto;
			padding: @1-rem / @first-modular;
			&:focus {
				outline: 0;
			}
		}
		textarea {
			height: auto;
			&:focus {
				outline: 0;
				height: 150px;
			}
		}
		input[type="submit"] {
			display: block;
			margin: 0 auto;
			border-width: 2px;
			margin-top: @1-rem * @first-modular;
			width: (100% / @first-modular) / @first-modular;
		}
	}
}
