
/* site-wide */
header {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	color: #111;
	h1.h3 {
		margin: 0;
		padding-left: @1-rem/2;
		color: @hero-color;
		line-height: @second-modular;
		&:hover {
			cursor: pointer;
		}
	}
}
nav {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	margin-right: @1-rem / @first-modular;
	ul {
		padding-left: 0; // undo resets
		margin-bottom: 0; // undo resets
		display: flex;
		text-align: center;
		height: 100%;
		li {
			display: table;
			flex-direction: column;
			justify-content: center;
			a {
				display: table-cell;
				vertical-align: middle;
				padding: .7rem 1rem;
				color: @nav-color;
				text-decoration: none;
				.font-size(1/@first-modular);
				padding: @1-rem/@second-modular;
				opacity: 1/@second-modular;
				text-transform: uppercase;
				text-shadow: -1px 0px 2px @davy-grey;
			}
		}
	}
	@media (@sm-query) {
		.navbar-header {
			display: none;
		}
		.collapse {
			display: block;
		}
		li {
			// margin: @1-rem/@second-modular 0;
			&:hover a {
				// background-color: @hero-color;
			}
		}
		li.dropdown-btn {
			position: relative;
			ul.dropdown-content {
				position: absolute;
				left: 5000%;
				opacity: .25;
				height: auto;
				display: block;
				width: auto;
				top: 73px;
				border-top: 4px solid fadeout(@davy-grey, 30%);
				box-shadow: 2px 2px 4px 1px @davy-grey;
				transition: opacity 100ms ease-in;
				li {
					display: block;
					white-space: nowrap;
					background-color: rgba(255, 255, 255, 0.1);
					a {
						// .font-size(.9);
						padding: @1-rem/@first-modular @1-rem/2;
						line-height: 1;
					}
				}
			}
			&:hover,
			&:focus {
				ul.dropdown-content {
					left: @1-rem / @first-modular;
					left: 0;
					opacity: 1;

				}
			}
		}
	}
}
footer {
	position: fixed;
	width: 100%;
	bottom: 0;
	z-index: -1;
	background-color: #ACC0D0;
	color: #27495D;
	.font-size(.5);
	>article,
	>section,
	>nav {
		.base(padding, 1);
		margin: @1-rem auto;
	}
	h3,
	h4 {
		text-shadow: -1px -1px 2px @gray-blue;
	}
	ul li a {
		font-size: inherit;
	}
	#quick-quote {
		text-align: center;
		.base(margin,bottom,1);
		// p {
		// 	margin-top: 0;
		// }
		// p:last-child {
		// 	.base(margin,top,1/@first-modular);
		// }
		a {
			color: inherit;
			&:hover {
				color: @link-color-hover;
			}
		}
	}
	#site-map {
		display: block;
		clear: both;
		position: static;
		text-align: center;
		width: 100% / @first-modular;
		.base(padding, 0);
		h4 {
			margin-bottom: 0;
		}
		ul {
			display: flex;
			justify-content: center;
			.font-size(.5);
		}
	}
	#copyright {
		text-align: center;
		width: 100%;
		.base(padding,1);
		span {
			.font-size();
		}
	}
}
