/* index.php (main) */
#landing-page {
	height: auto;
	// background-color: @background-color;
	background-image: url(../_images/air-triangulated.jpg);
	background-size: cover;
	background-position: 50% center;
	position: relative;
	#landing-page-intro {
		.base(padding,.5/@first-modular);
		.base(padding,top,4/@second-modular);
		.base(padding,bottom,4);
		color: @hero-color;
		span#headline {
			display: block; // by making it display block allows for transform translate effect
			.font-size(4);
			line-height: 1;
			// text-shadow: -1px -1px 2px @arsenic;
			>span {
				color: @secondary-color;
			}
		}
		div {
			width: 100%;
			.base(margin,top,1/@second-modular);
			// color: @arsenic;
			font: @body-font;
			p > a {
				margin-top: @1-rem * @first-modular;
				font-weight: bold;
				.font-size(1 * @second-modular);
				color: @secondary-color;
				&:hover {
					color: @hero-color;
				}
			}
		}
	}
	i {
		display: none; // hide bouncy arrow
	}
	@media (@sm-query) {
		height: 100vh;
		#landing-page-intro {
			div {
				width: (100% / @first-modular) / @first-modular;
			}
		}
		i {
			display: block; // show bouncy arrow
		}
	}
}

// about section
#about {
	height: auto;
	.base(padding,.5/@first-modular);
	.base(padding,bottom,2);
	background-color: #fff;
	background-image: url(../_images/backgrounds/circle-mess-multi.svg);
	#about-intro {
		float: none;
		width: 100%;
		.base(padding,top,1);
		color: @hero-color;
		line-height: 1;
		>p {
			margin-top: @1-rem*@first-modular;
			.font-size(1*@second-modular);
			>span {
				.font-size(3);
				opacity: 1;
				color: @egg-shell;
				line-height: 1;
			}
		}
	}
	ul#key-list {
		padding-left: 0;
		.font-size(1/@second-modular);
		float: none;
		.base(margin,top,@1-rem);
		color: #fff;
		li {
			font-weight: bold;
			margin-bottom: @1-rem * @second-modular;
			line-height: @second-modular;
			.font-size(1);
			>p {
				margin-top: @1-rem / @first-modular;
				font-weight: normal;
				line-height: @second-modular;
				.font-size(.9);
				color: @jungle-green;
				color: inherit;
				color: @hero-color;
				// color: #fff;
				opacity: .79;
			}
			&:nth-child(1) {
				color: #4F1271;

			}
			&:nth-child(2) {
				// color: #D00000;
				// color: #BA5624;
				// color: #EAC435;
				color: #1B998B;

			}
			&:nth-child(3) {
				// color: #3F88C5;
				// color: #FFBA08;
				color: #345995;
			}
			&:nth-child(4) {
				// color: #DB2955;
				color: #5E0B15;

			}
		}
	}
	#about-cta > a {
		float: left;
		display: block;
		// .font-size(1*@second-modular);
		.base(margin,top,1*@first-modular);
		color: @egg-shell;
		font-weight: bold;
		opacity: .95;
		&:hover {
			color: @hero-color;
		}
	}
	// div.container::after {
	// 	.clear-float;
	// }
	@media (@sm-query) {
		height: 100vh;
		padding-top: @4-rem * @first-modular;
		#about-intro {
			float: left;
			width: 49%;
			>p {
				margin-top: 0;
			}
		}
		ul#key-list {
			float: right;
			width: 49%;
			.base(margin,top,0);
		}
		#about-cta > a {
			.base(margin,top,3*@first-modular);
		}
	}
}
