/*!
*	Theme vX.X.X
*	Copyright 2016 Songfarm Inc.
*/
@import 'reset';
@import 'vars';
@import 'calcs';
@import 'theme';
@import 'grid';
@import 'queries';
@import 'typography';
@import 'colors';
@import 'animations';
@import 'helper';

// site-wide
header {
	position: fixed;
	top: 0;
	z-index: 999;
	width: 100%;
	color: #111;
	h1.h3 {
		margin: 0;
		padding-left: @1-rem/2;
		color: @hero-color;
		line-height: @second-modular;
		&:hover {
			cursor: pointer;
		}
	}
}
nav {
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	margin-right: @1-rem / @first-modular;
	ul {
		padding-left: 0; // undo resets
		margin-bottom: 0; // undo resets
		display: flex;
		text-align: center;
		height: 100%;
		li {
			display: table;
			flex-direction: column;
			justify-content: center;
			a {
				display: table-cell;
				vertical-align: middle;
				padding: .7rem 1rem;
				color: @nav-color;
				text-decoration: none;
				&:hover {
					font-weight: bold;
				}
			}
		}
	}
	@media (@sm-query) {
		.navbar-header {
			display: none;
		}
		.collapse {
			display: block;
		}
		li {
			// margin: @1-rem/@second-modular 0;
			&:hover a {
				// background-color: @hero-color;
			}
		}
		li.dropdown-btn {
			position: relative;
			ul.dropdown-content {
				position: absolute;
				left: 5000%;
				opacity: .25;
				height: auto;
				display: block;
				width: auto;
				top: (@1-rem * 2);
				border-left: 5px solid @hero-color-bold;
				transition: opacity 100ms ease-in;
				li {
					display: block;
					white-space: nowrap;
					background-color: rgba(255, 255, 255, 0.1);
					a {
						.font-size(.9);
						padding: 0.4rem 0.5rem;
					}
				}
			}
			&:hover,
			&:focus {
				ul.dropdown-content {
					left: @1-rem / @first-modular;
					left: 0;
					opacity: 1;

				}
			}
		}

	}

}
footer {
	background-color: @platinum;
	.font-size(1/@first-modular);
	>article,
	>section,
	>nav {
		.base(padding, 1);
		margin: @1-rem auto;
	}
	#mission-statement {
		text-align: center;
		width: 100% / @first-modular;
		p {
			font-size: inherit;
		}
	}
	p {
		.font-size(1/@first-modular);
	}
	// #mission-statement {
	// 	width: 50%;
	// 	h4 {
	// 		font-family: Arial, sans-serif;
	// 		margin-top: 0.5rem;
	// 	}
	// 	p {
	// 		line-height: @second-modular;
	// 	}
	// }
	// #newsletter {
	// 	width: 61%;
	// 	h3 {
	// 		font-family: Arial, sans-serif;
	// 	}
	// 	form {
	// 		width: 61%;
	// 		fieldset {
	// 			border-radius: 2px;
	// 		}
	// 		input {
	// 			padding-left: @1-rem / @first-modular;
	// 		}
	// 		div.container-newsletter {
	// 			display: flex;
	// 			button {
	// 				flex: 0 0 auto;
	// 				padding: 0.75rem;
	// 				margin: 0;
	// 				>span.fa {
	// 					margin: 0;
	// 				}
	// 			}
	// 		}
	// 	}
	// 	h3 {
	// 		.font-size(@first-modular);
	// 	}
	// }
	// #contact-info {
	// 	float: right;
	// 	width: 38%;
	// 	h3 {
	// 		.font-size(1);
	// 		font-weight: normal;
	// 		background-color: #ccc;
	// 		padding: 0.25em;
	// 	}
	// 	ul {
	// 		padding-left: 0.5rem;
	// 		li {
	// 			padding: 0.38rem 0;
	// 		}
	// 	}
	// }
	// .copyright {
	// 	text-align: center;
	// 	font-size: 61%;
	// 	padding: 0.5rem 0 0.5rem;
	// 	background-color: @gray-blue;
	// }
}

// peak/index.php
#landing-page {
	height: 100vh;
	background-color: @platinum;
	background-image: url(../_images/air-triangulated.jpg);
	background-size: cover;
	background-position: 50% center;
	position: relative;
	z-index: 100;
	#landing-page-intro {
		position: relative;
		top: @4-rem * @first-modular;
		color: @platinum;
		line-height: @second-modular;
		#headline {
			line-height: @second-modular;
			line-height: @second-modular;
			.accent-color {
				.h1;
				color: @accent-color;
			}
		}

		>div {
			// display: none;
			max-width: (100% / @first-modular) / @first-modular;
			p,
			a {
				// font: @header-font-400;
				font-family: 'Abel', sans-serif;
				color: @hero-color-bold;
				text-shadow: 1px 1px 2px @hero-color;
			}
			a:hover {
				color: @link-color-hover;
			}
		}
	}
}

@import 'service-pages';

@import 'plugins/collapse';
