/*!
*	Theme vX.X.X
*	Copyright 2016 Songfarm Inc.
*/
@import 'reset';
@import 'vars';
@import 'calcs';
@import 'theme';
@import 'grid';
@import 'queries';
@import 'typography';
@import 'colors';
@import 'animations';
@import 'helper';

html {
	background-color: @background-color;
	body {
		width: @page-width-rem;
		margin: 0 auto;
		background: #fff;
		// display: flex;
		// flex-direction: column;
		// height: 100%;
		// header, footer {
		// 	flex: 0 0 auto;
		// }
		main {
			flex: 1 1 0px;
			background-color: #ddd;
			// height: 100%;
		}
	}
}

header#site-header {
	position: relative;
	.col {
		margin-bottom: 0.25rem;
	}
	div#logo {
		display: block;
		background-size: cover;
		/* custom-fix while temp logo */
		position: relative;
		top: -3px;
		height: 100%;
		img {
			width: auto;
		}
	}
	div#call-now {
		position: absolute;
		top: unit(@first-modular, %);
		right: @1-rem * @second-modular;
		span {
			line-height: @line-height;
		}
		.fa {
			position: relative;
			top: 4px;
			.font-size(1.1);
		}
	}
	nav {
		color: #000;
		height: 100%;
		display: flex;
		justify-content: flex-end;
		clear: right;
		margin-top: @1-rem;
		margin-bottom: 0;
		ul {
			padding-left: 0; // undo resets
			margin-bottom: 0; // undo resets
			display: flex;
			justify-content: flex-end;
			// flex-wrap: wrap;
			text-align: center;
			li {
				display: flex;
				flex-direction: column;
				justify-content: center;
				a {
					padding: @1-rem (@1-rem / @first-modular);
					color: #000;
					text-decoration: none;
				}
			}
		}
		@media (@sm-query) {
			.navbar-header {
				display: none;
			}
			li.dropdown-btn {
				position: relative;
				ul.dropdown-content {
					position: absolute;
					transform: translateX(5000%);
				}
			}
		}
	}
}

#highlights {
	height: 100vh / @first-modular;
	padding: 0;
	color: #fff;
	#carousel-slider {
		height: 100%;
		.slide {
			text-align: center;
			height: 100%;
			padding-top: @4-rem * @first-modular;
			background-color: #eee;
			background-size: cover;
			h3 {
				line-height: @second-modular;
				text-transform: capitalize;
			}
			h3, p {
				width: 100% / @first-modular;
				margin: 0 auto;
				margin-bottom: @1-rem;
			}
			p {
				line-height: @line-height;
				.font-size(1.2);
			}
			&:nth-child(1) {
				background-image: url(../_images/features/victoria-island-gully.jpg);
			}
			&:nth-child(2) {
				background-image: url(../_images/features/yoho.jpg);
			}
			&:nth-child(3) {
				background-image: url(../_images/features/victoria-island-trail.jpg);
			}
			a {
				margin-top: @1-rem*@first-modular;
				color: #fff;
				.font-size(1.416);
				font-weight: bold;
			}
		}
	}
}

#services {
	section {
		>img+h3 {
			margin: unit(@first-modular, rem) 0 unit(@first-modular/2, rem);
		}
	}
}

footer {
	border-top: 1px solid @hero-color;
	margin-top: @1-rem * @second-modular;
	#site-map {
		padding-top: 0;
		padding-bottom: 0;
		>h3 {
			margin-bottom: unit(@second-modular, rem);
		}
		ul {
			padding-left: 0;
			margin-bottom: 0;
			li {
				display: inline-block;
				a {
					display: block;
					padding: 0.25rem;
				}
			}
		}
	}
	#address {
		>#address-container {
			margin-top: 1.2rem;
			span {
				line-height: @line-height;
			}
		}
	}
	#mission-statement {
		>h4 {
			margin-top: 0;
			margin-bottom: 0;
		}
	}
	#disclaimer {
		text-align: center;
		font-size: 90%;
		>h4 {
			margin-top: 0;
			margin-bottom: unit(@second-modular, rem) / 2;
			line-height: @second-modular;
		}
		small {
			display: block;
			margin-top: unit(@first-modular, em);
			font-style: italic; // NOTE: import italic font here
			transition: font-size 0.75s ease-out;
			&:hover {
				font-size: 100%;
			}
		}
	}
	#copyright {
		text-align: center;
		padding-top: 0;
		padding-bottom: @4-rem;
		small {
			font-size: 90%;
			line-height: 0;
		}
	}
}

@import 'plugins/collapse';
@import 'pages.less';
