/*!
*	Theme vX.X.X
*	Copyright 2016 Songfarm Inc.
*/
@import 'reset';
@import 'vars';
@import 'calcs';
@import 'theme';
@import 'grid';
@import 'queries';
@import 'typography';
@import 'colors';

/*
* MAIN PAGE STYLES
*/
#main-page-1,
#main-page-2,
#main-page-3,
#main-page-4 {
	display: block;
	border: 2px solid red;
	height: 100vh;
}

/********
	BANNER
	*******/
#banner {
	width: 100%;
	line-height: @line-height * @second-modular;
	.font-size();
	background-color: @accent-color;
	// add svg-gradient here
	span, a {
		margin: 0 auto;
		width: 100%;
	}
	span {
		display: table;
		text-align: center;
		@media (@sm-query) {
			width: 80%;
		}
		@media (@md-query) {
			width: 50%;
		}
		@media (@lg-query) {
			width: 20%;
		}
	}
	a {
		display: table-cell;
		vertical-align: middle;
		&:hover {}
	}
}

/******************
	MAIN SITE HEADER
	*****************/
header {
	.main-container {
		background-color: transparent;
	}
	&:before {
		.overlay(@light-yellow, 0.9);
	}
	font: @header-font;
	color: @pomona-green;
	position: relative;
	overflow: hidden;
	background-image: url(../_images/backgrounds/polyester.png);
	.row {
		position: relative;
		z-index: 10;
		> div > a {
			display: block;
		}
	}
	/* flexbox backup */
	.row {
		display: table;
		width: 100%;
		height: 15vh;
	}
	.col {
		display: table-cell;
		&:last-of-type {
			display: table;
			text-align: right;
			div:first-of-type {
				text-align: center;
				@media (@sm-query) {
					text-align: inherit;
				}
			}
		}
	}
	// end of flexbox backup
	display: flex;
	justify-content: center;
	align-items: center;
	a {
		color: @pomona-green;
	}
}

/************
	NAVIGATION
	***********/
nav {
	font: @body-font;
	color: #fff;
	background-color: @pomona-green;
	text-align: left;
	position: relative;
	z-index: 100;
	box-shadow: 0px 6px 5px 0px rgba(0,0,0,.35);
	ul {
		.main-container;
		background-color: transparent;
		font-size: 1.414rem;
		padding-left: 0;
		@media (@sm-query) {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: nowrap;
			> .dropdown-btn {
				flex: 1 1 auto;
				display: flex;
				display: inline-block;
				&:hover .dropdown-content {
					opacity: 1;
					transform: translateX(0);
				}
				ul {
					flex-direction: column;
					box-shadow: 1px 0px 5px 2px rgba(0, 0, 0, 0.5), inset -1px 2px 7px rgba(0, 0, 0, 0.35);
					li {
						font-size: .9em;
						white-space: normal;
						align-items: flex-start;
						&:hover {
							background-color: @gunmetal-blue;
						}
					}
				}
			}
		}
		@media (@lg-query) {
			white-space: nowrap;
		}
		> .dropdown-btn {
			// @media (@sm-query) {
			// 	display: inline-block;
			// }
			position: relative;
			&:hover {
				background-color: @gunmetal-blue;
			}
			a {
				display: block;
				padding: 0.7rem 1.2rem;
				&:hover {
					color: inherit;
				}
			}
			.dropdown-content {
				height: auto;
				position: absolute;
				top: 100%;
				left: 0;
				right: 0;
				opacity: 0;
				background-color: rgba(34, 51, 59, 0.9);
				transition: opacity 250ms ease-out 100ms;
				transform: translateX(-5000%);
				li {
					text-align: left;
					width: 100%;
				}
			}
		}
		li {
			line-height: @line-height;
		}
	}
	@import 'dependencies/bootstrap-nav';
}
