#about-1,
#expertise-1,
#faq-video {
	position: relative;
	top: 3.6rem;
	top: 7vh;
	background-color: #ccc;
	background-image: svg-gradient(to right, #ccc 0%, #eee 50%, #ccc 100%);
	background-repeat: no-repeat;
	background-size: cover;
	.container {
		background-color: @off-white;
		.base(padding);
		padding-bottom: @1-rem * 5;
		> h2 {
			.font-size(4);
			.header-focus();
			margin-top: 0;
		}
		div {
			h3 {
				.font-size(3);
				margin-top: @1-rem * @first-modular;
			}
			strong,
			strong a {

				white-space: nowrap;
			}
			.lessen strong {
				.font-size(1);
			}
		}
		aside {
			float: none;
			border: 3px solid @hero-color;
			margin-top: 1rem * @first-modular;
			.base(padding);
			padding-top: 0;
			padding-bottom: 1rem / 2;
			background-color: #eee;
			>p {
				color: @hero-color;
				font-style: italic;
				font-weight: bold;
				line-height: 1.2;
				.font-size(1.2);
			}
			>ul {
				// font: @special-font;
				color: #111;
				.font-size(.25);
			}
			+ p {
				text-align: center;
				clear: both;
				position: relative;
				top: @1-rem * @second-modular;
				a {
					font-size: inherit;
				}
			}
		}
		strong {
			.font-size(2);
		}
	}
	+ footer {
		background-color: white;
		position: relative;
		top: 3.6rem;
		top: 6.2vh;
		z-index: 100;
		box-shadow: 0px -1px 3px 0px rgba(0,0,0,.5);
	}
}

#about-1 {
	img {
		float: right;
		width: 35%;
		max-width: 35%;
		height: auto;
		.base(margin);
		margin-top: 0;
		margin-bottom: 0;
		.box-shadow-img;
	}
	p:last-of-type {
		margin-bottom: @1-rem * @second-modular;
	}
	a {
		font-weight: bold;
		.font-size(1.2);
	}
}

#expertise-1 {
	#crim-law,
	#fam-law,
	#civil-lits {
		padding-bottom: 2rem;
		position: relative;
		>div {
			float: none;
		}
		p:not(.lessen) > strong {
			// position: relative;
			// top: 3.4rem;
			// white-space: nowrap;
			// clear: both;
		}
	}
	hr {
		clear: both;
		display: block;
		padding-top: 4rem;
		position: relative;
		top: 4rem;
	}
	#civil-lits {
		p:not(.lessen) > strong {
			// margin-left: 2.4rem;
		}
	}
}

#faq-video {
	#video-gallery {
		.base(padding, .5);
		background-color: #eee;
		margin: (@1-rem * @second-modular) 0;
		&:after {
			.clear-float;
		}
		.video {
			position: relative;
			height: 0;
			overflow: hidden;
			float: left;
			width: 100%;
			padding-bottom: 51.25%;
			vertical-align: middle;
			margin: (@1-rem / @first-modular) 0 ((@1-rem / @first-modular) / 2);
			margin-top: 0;
			background-color: #000;
			> iframe {
				position: absolute;
				top:0;
				left: 0;
				bottom: 0;
				right: 0;
				width: 100%;
				height: 100%;
			}
			&.empty {
				> span {
					// font: @special-font;
					display: block;
					.border(#fbffd2);
					color: #fbffd2;
					position: absolute;
					top: 50%;
					left: 50%;
					padding: (.25rem*@first-modular) (.5rem*@first-modular);
					.font-size(.83);
					border-radius: 8px;
					transform: translateY(-50%) translateX(-50%) rotate(-20deg);
					transform-origin: center;
					text-align: center;
				}
			}
		}
		+ a {
			.link-style();
			clear: both;
		}
	}
}

@media (@sm-query) {
	#about-1,
	#expertise-1 {
		.container {
			#crim-law,
			#fam-law,
			#civil-lits {
				>div {
					float: right;
					width: 61.8%;
				}
			}
			aside {
				float: left;
				width: 34.2%;
			}
		}
	}

	#faq-video {
		#video-gallery {
			.video {
				width: 23%;
				.base(margin, 0.25);
				padding-bottom: 14%;
				&:nth-child(1) {
					margin-left: 0;
				}
			}
		}
	}
}
