// website-services/index.php
#website-services {
	height: auto;
	.base(padding,top,2);
	p.message {
		text-align: center;
		width: 100%;
		.font-size(2);
		>span {
			font-size: inherit;
			text-transform: capitalize;
		}
	}
	#service-container {
		.base(margin,top,1);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		>div {
			text-align: center;
			flex: 1 1 100%;
			.base(padding,top,1/@second-modular);
			.base(padding,bottom,1*@second-modular);
			background-color: fadeout(@ash-white, 25%);
			ul {
				.font-size(.5);
				padding-left: 0;
				.base(margin,top,1/@first-modular);
				.base(margin,bottom,1*@second-modular);
				li {
					.base(padding,.05/@second-modular);
				}
			}
			>a {
				display: block;
				.font-size(1/@second-modular);
				width: 100% / @first-modular;
				margin: 0 auto;
			}
		}
	}
	@media (@sm-query) {
		height: 100vh;
		.base(padding);
		p.message {
			.base(padding,top,1*@first-modular);
		}
		#service-container {
			flex-wrap: nowrap;
			>div {
				flex: 1 1 auto;
			}
		}
	}
}

.service.container {
	.service-intro {
		height: 100vh;
		.base(padding, top, 5);
		span {
			.font-size(2);
			line-height: @second-modular;
			+ p {
				.base(margin, top, 1);
				+ p > a {
					.base(margin, top, 2);
				}
			}
		}
		p:last-child {
			.base(margin,top,2);
		}
	}
	.service-features {
		height: 100vh;
		ul.feature-list {
			.base(margin,top,1);
			padding-left: 0;
			display: flex;
			flex-wrap: wrap;
			>li {
				margin-bottom: @1-rem/2;
				flex-grow:	1;
				flex-shrink:	1;
				flex-basis:	29%;
				.base(margin,right,1);
				.base(margin,bottom,1);
				.base(padding,.25);
				padding-left: 0;
				>span {
					.font-size(1);
					font-weight: bold;
				}
				>p {
					.font-size(.5);
					line-height: @second-modular;
					margin-top: unit(@second-modular, rem);
				}
				>small {
					font-style: italic;
					.font-size(.4);
					float: right;
					display: block;
					.base(margin,top,.5);
				}
			}
		}
	}
	.service-cta {
		height: 100vh;
	}
}
