// website-services/index.php
#website-services {
	position: relative;
	height: auto;
	.base(padding,top,1);
	.base(padding,bottom,1/@second-modular);
	background-color: @pewter-blue; // fallback for svg background
	background-image: url('../_images/diamonds.svg');
	background-repeat: no-repeat;
	background-size: cover;
	.box-shadow();
	>div>p {
		font: @body-font;
		.font-size(1);
		color: @hero-color;
		text-align: center;
		.base(margin,top,2);
		.base(margin,bottom,2);
		text-transform: capitalize;
		position: relative; // allows for border-bottom effect
		// text-shadow: 1px 1px 1px #333;
		&::after {
			content: "";
			height: 5px;
			width: 20%;
			position: absolute;
			background-color: @hero-color;
			bottom: -@1-rem;
			left: 50%;
			transform: translateX(-50%);
			// box-shadow: 1px 1px 0px 0px #333;
		}
	}
	#service-container {
		position: relative;
		z-index: 100;
		.base(margin,top,1*@first-modular);
		.base(margin,bottom,1);
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		>div {
			text-align: center;
			flex: 1 1 300px;
			padding: @1-rem/2;
			border-bottom: 1px solid rgba(90,90,90,0.5);
			box-shadow: 0px 3px 10px 1px fadeout(@japanese-indigo,30%);
			margin-left: 9px;
			margin-right: 9px;
			.base(margin,bottom,1);
			position: relative;
			transform-origin: center;
			transition: all .5s;
			&:nth-child(1) {
				background-color: fadeout(@sea-green, 85%);
				>h3 {
					color: @ufo-green;
				}
			}
			&:nth-child(2) {
				background-color: fadeout(@royal-purple, 70%);
				>h3 {
					color: @rich-lavender;
				}
			}
			&:nth-child(3) {
				background-color: fadeout(@electric-blue, 70%);
				>h3 {
					color: @electric-blue;
				}
			}
			>h3 {
				text-shadow: 1px 1px 3px @japanese-indigo;
				line-height: 1;
				>span {
					// .font-size(2.2);
				}
				&+a {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
					display: block;
					height: 100%;
					width: 100%;
					background: transparent;
					opacity: 1;
				}
			}
		}
		@media (@sm-query) {
			display: flex;
			.base(margin,1*@first-modular);
			h3 {
				.font-size(2.5);
				.base(margin,bottom,1/@first-modular);
			}
			ul {
				.base(margin,1/@first-modular);
			}
			>a {
				width: 100%/@second-modular;
				padding: 0.5rem*@first-modular 1rem;
			}
		}
		@media (@md-query) {
			justify-content: space-around;
			flex-wrap: wrap;
			>div {
				flex: 0 0 440px;
			}
		}
	}
	@media (@sm-query) {
		height: auto;
		min-height: 100vh;
		>div>p {
			.font-size(2);
			width: 100% / @first-modular;
			.base(margin,top,2*@first-modular);
			margin-left: auto;
			margin-right: auto;
			margin-bottom: 0;
		}
		#service-container {
			padding-top: 0;
			>div {
				.base(margin,1);
				&:nth-child(1) {
					transform-origin: right;
					&:hover {
						background-color: fadeout(@sea-green, 70%);
					}
				}
				&:nth-child(2) {
					transform-origin: center;
					&:hover {
						background-color: fadeout(@royal-purple, 55%);
					}
				}
				&:nth-child(3) {
					transform-origin: left;
					&:hover {
						background-color: fadeout(@electric-blue, 55%);
					}
				}
				>h3 {
					.font-size(2*@second-modular); // increase font size on large screens
					// >span {
					// 	.font-size(2*@first-modular);
					// }
				}
				&:hover {
					transform: scale(1.1);
				}
			}
		}
	}
}

// individual service pages
.service {
	.box-shadow();
	>div {
		background-color: @pewter-blue;
		background-image: url('../_images/diamonds.svg');
		background-repeat: no-repeat;
		background-size: cover;
		.base(padding,.5);
		height: auto;
	}
	.service-intro {
		height: auto;
		color: @hero-color;
		.base(padding, top, 2);
		.base(padding, bottom, 2/@second-modular);
		span {
			.font-size(2);
			line-height: @second-modular;
			color: white;
			text-shadow: 1px 1px 1px @hero-color;
			>span.hero {
				color: @pewter-blue;
			}
			+ p {
				.base(margin, top, 1);
				+ p > a {
					.base(margin, top, 2);
				}
			}
		}
		p:last-child {
			.base(margin,top,2);
			a:hover {
				color: #fff;
			}
		}
	}
	.service-features {
		height: auto;
		background-color: #fff;
		.base(padding,top,1*@first-modular);
		.base(padding,bottom,1);
		ul.feature-list {
			.base(margin,top,1/@first-modular);
			padding-left: 0;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			margin-bottom: 0;
			padding-left: 18px;
			padding-right: 18px;
			>li {
				flex-grow: 2;
				flex-shrink: 0;
				flex-basis:	100%;
				.base(margin,bottom,1/@first-modular);
				// .base(padding,.25);
				>div.feature-container {
					display: flex;
					flex-direction: row-reverse;
					align-items: center;
					justify-content: space-between;
					flex-wrap: nowrap;
					>img {
						flex: 0 0 90px;
						margin-right: 9px;
						margin-left: 9px;
						width: 90px;
						height: 90px;
					}
					>span {
						flex: 1 1 0px;
					}
				}
				>span {
					.font-size(1);
					font-weight: bold;
				}
				>p {
					.font-size(.5);
					line-height: @second-modular;
					margin-top: unit(@second-modular, rem);
				}
				>small {
					font-style: italic;
					.font-size(.4);
					float: right;
					display: block;
					.base(margin,top,.5);
				}
			}
		}
	}
	.service-cta {
		height: 100vh;
	}
	@media (@sm-query) {
		.service-intro {
			height: auto;
			min-height: 100vh;
			.base(padding,top,4*@second-modular);
		}
		.service-features {
			height: auto;
			min-height: 100vh;
			.base(padding,top,2);
			ul.feature-list {
				li {
					flex-basis: 400px;
					margin-right: unit(@first-modular,%);
					>div.feature-container>img {
						flex: 0 0 @1-rem*6;
						width: auto;
						height: auto;
						>img {
							height: auto;
							width: auto;
						}
					}
				}
			}
		}
	}
	@media (@md-query) {
		.service-features {
			ul.feature-list {
				li>div.feature-container {
					justify-content: flex-start;
				}
			}
		}
	}
}
