// website-services/index.php
#website-services {
	.base(padding);
	.base(padding,top,2);
	height: 100vh;
	.row {
		>div.col {
			text-align: center;
			ul {
				.font-size(.5);
				padding-left: 0;
				.base(margin,top,1/@first-modular);
				.base(margin,bottom,1*@second-modular);
				li {
					.base(padding,.05/@second-modular);
				}
			}
			>a {
				display: block;
				.font-size(1/@second-modular);
				width: 100% / @first-modular;
				margin: 0 auto;
			}
		}
	}
}

.service.container {
	.service-intro {
		height: 100vh;
		.base(padding, top, 5);
		span {
			.font-size(2);
			line-height: @second-modular;
			+ p {
				.base(margin, top, 1);
				+ p > a {
					.base(margin, top, 2);
				}
			}
		}
		p:last-child {
			.base(margin,top,2);
		}
	}
	.service-features {
		height: 100vh;
		ul.feature-list {
			.base(margin,top,1);
			padding-left: 0;
			display: flex;
			flex-wrap: wrap;
			>li {
				margin-bottom: @1-rem/2;
				flex-grow:	1;
				flex-shrink:	1;
				flex-basis:	29%;
				.base(margin,right,1);
				.base(margin,bottom,1);
				.base(padding,.25);
				padding-left: 0;
				>span {
					.font-size(1);
					font-weight: bold;
				}
				>p {
					.font-size(.5);
					line-height: @second-modular;
					margin-top: unit(@second-modular, rem);
				}
				>small {
					font-style: italic;
					.font-size(.4);
					float: right;
					display: block;
					.base(margin,top,.5);
				}
			}
		}
	}
	.service-cta {
		height: 100vh;
	}
}
