// website-services/index.php
#website-services {
	position: relative;
	height: auto;
	.base(padding,top,1);
	background-color: @pewter-blue;
	background-image: url('../_images/diamonds.svg');
	background-repeat: no-repeat;
	// background-size: cover;
	.box-shadow();
	p:not(.service-byline) {
		text-align: center;
		.base(margin,top,2*@first-modular);
		margin-bottom: 0;
		width: 100%;
		font: @body-font;
		.font-size(3);
		color: #8e8682;
		display: none;
		>span {
			font-size: inherit;
			text-transform: capitalize;
		}
	}
	#service-container {
		position: relative;
		z-index: 100;
		.base(margin,top,2);
		display: flex;
		flex-wrap: wrap;
		>div {
			text-align: center;
			flex: 1 1 100%;
			.base(padding,top,1/@second-modular);
			.base(padding,bottom,1);
			height: auto;
			border-left: 2px solid rgba(190,190,190,0.5);
			border-bottom: 1px solid rgba(90,90,90,0.5);
			// color: fadeout(@arsenic,20%);
			box-shadow: 0px 3px 10px 1px fadeout(@japanese-indigo,30%);
			&:nth-child(1) {
				background-color: fadeout(@sea-green, 85%);
				>h3 {
					color: #22CC63;
				}
			}
			&:nth-child(2) {
				background-color: fadeout(#FC5130, 70%);
				background-color: fadeout(@desire-red, 70%);
				background-color: fadeout(#7E52A0, 70%);
				>h3 {
					color: @french-pink;
					color: #FC5130;
					color: @desire-red;
					color: #a563d9;
					text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.8);
				}
			}
			&:nth-child(3) {
				background-color: fadeout(@electric-blue, 70%);
				>h3 {
					color: @electric-blue;
				}
			}
			>h3 {
				color: #fff;
				text-shadow: 1px 1px 3px @japanese-indigo;
				line-height: 1;
				.font-size(2);
				>span {
					font-size: inherit;
					line-height: inherit;
				}
			}
			p.service-byline {
				font-size: 125%;
				.base(padding,1/@first-modular);
				padding-top: 0;
				color: @hero-color;
				font-style: italic;
				.base(margin,bottom,1);
				line-height: @second-modular;
				height: 100%/4;
			}
			>a {
				display: block;
				.font-size(1/@second-modular);
				width: 93%;
				margin: 0 auto;
				.base(margin,top,1);
				text-decoration: none;
				padding: 0.5rem 0.25rem;
				background-color: rgba(255,255,255,.25);
				color: @japanese-indigo;
				transition: all .25s ease-in;
				&:hover {
					color: #fff;
					background-color: fadeout(@japanese-indigo,10%);
				}
			}
		}
		@media (@sm-query) {
			display: flex;
			.base(padding);
			.base(padding,top,2/@second-modular);
			>div {
				.base(margin,bottom,@1-rem*@second-modular);
				>h3 {
					.font-size(2.5);
				}
				ul {
					.base(margin,1/@first-modular);
				}
				>a {
					width: 100%/@second-modular;
					padding: 0.5rem*@first-modular 1rem;
				}
			}
		}
		@media (@md-query) {
			justify-content: space-around;
			flex-wrap: wrap;
			>div {
				flex: 0 0 440px;
			}
		}
	}
	@media (@sm-query) {
		height: auto;
		min-height: 100vh;
	}
}

// individual service pages
.service {
	.box-shadow();
	>div {
		background-color: @pewter-blue;
		background-image: url('../_images/diamonds.svg');
		background-repeat: no-repeat;
		background-size: cover;
		.base(padding,.5);
		height: auto;
	}
	.service-intro {
		height: auto;
		color: @hero-color;
		.base(padding, top, 2);
		.base(padding, bottom, 2/@second-modular);
		span {
			.font-size(2);
			line-height: @second-modular;
			color: white;
			text-shadow: 1px 1px 1px @hero-color;
			>span.hero {
				color: @pewter-blue;
			}
			+ p {
				.base(margin, top, 1);
				+ p > a {
					.base(margin, top, 2);
				}
			}
		}
		p:last-child {
			.base(margin,top,2);
			a:hover {
				color: #fff;
			}
		}
	}
	.service-features {
		height: auto;
		background-color: #fff;
		.base(padding,top,1*@first-modular);
		.base(padding,bottom,1);
		ul.feature-list {
			.base(margin,top,1/@first-modular);
			padding-left: 0;
			display: flex;
			flex-wrap: wrap;
			margin-bottom: 0;
			>li {
				flex-grow:	1;
				flex-shrink:	1;
				flex-basis:	100%;
				// .base(margin,right,1);
				.base(margin,bottom,1/@first-modular);
				.base(padding,.25);
				// padding-left: 0;
				>span {
					.font-size(1);
					font-weight: bold;
				}
				>p {
					.font-size(.5);
					line-height: @second-modular;
					margin-top: unit(@second-modular, rem);
				}
				>small {
					font-style: italic;
					.font-size(.4);
					float: right;
					display: block;
					.base(margin,top,.5);
				}
			}
		}
	}
	.service-cta {
		height: 100vh;
	}
	@media (@sm-query) {
		.service-intro {
			height: auto;
			min-height: 100vh;
			.base(padding,top,4*@second-modular);
		}
		.service-features {
			height: auto;
			min-height: 100vh;
			.base(padding,top,2*@first-modular);
			ul.feature-list {
				li {
					flex-basis: 29%;
					margin-right: unit(@first-modular,%);
				}
			}
		}
	}
}
