// website-services/index.php
#website-services {
	position: relative;
	height: auto;
	.base(padding,top,1);
	background-color: @pewter-blue;
	background-image: url('../_images/diamonds.svg');
	background-repeat: no-repeat;
	background-size: cover;
	.box-shadow();

	p.message {
		text-align: center;
		width: 100%;
		.font-size(2);
		>span {
			font-size: inherit;
			text-transform: capitalize;
		}
	}
	#service-container {
		position: relative;
		z-index: 100;
		.base(margin,top,1);
		display: flex;
		flex-wrap: wrap;
		>div {
			text-align: center;
			flex: 1 1 100%;
			.base(padding,top,1/@second-modular);
			.base(padding,bottom,1);
			height: auto;
			border-left: 2px solid rgba(190,190,190,0.5);
			border-bottom: 1px solid rgba(90,90,90,0.5);
			// color: fadeout(@arsenic,20%);
			box-shadow: 0px 3px 10px 1px fadeout(@japanese-indigo,30%);
			>h3 {
				color: #fff;
				text-shadow: 1px 1px 3px @japanese-indigo;
				line-height: 1;
				.font-size(2.5);
				>span {
					font-size: inherit;
					line-height: inherit;
				}
			}
			ul {
				display: block;
				.font-size(1/@second-modular);
				padding-left: 0;
				.base(margin,1/@first-modular);
				.base(padding,top,0.5/@first-modular);
				.base(padding,bottom,0.5/@first-modular);
				color: fadeout(@japanese-indigo,35%);
				background-color: fadeout(#fff,50%);
				box-shadow: inset 0px 1px 3px 1px fadeout(#000,50%), inset 2px 1px 15px 2px fadeout(#000,75%)
				;
				li {
					.base(padding,.05/@second-modular);
					line-height: 1.2;
					&::before {
						.inline-icon-font;
						content: "\f05d";
						margin-right: 1rem/@first-modular;
						margin-top: 5px;
					}
				}
			}
			>a {
				display: block;
				.font-size(1/@second-modular);
				width: 100%/@second-modular;
				margin: 0 auto;
				.base(margin,top,1);
				text-decoration: none;
				padding: 0.5rem*@first-modular 1rem;
				background-color: fadeout(#F46036,50%);
				color: white;
				transition: all .25s ease-in;
				&:hover {
					background-color: fadeout(@japanese-indigo,10%);
				}
			}
			&:nth-child(1) {
				background-color: fadeout(@sea-green, 85%);
				>h3 {
					color: #22CC63;
				}
			}
			&:nth-child(2) {
				background-color: rgba(255, 73, 134, 0.26);
				>h3 {
					color: @french-pink;
				}
			}
			&:nth-child(3) {
				background-color: fadeout(@electric-blue, 70%);
				>h3 {
					color: @electric-blue;
				}
			}
		}
		@media (@sm-query) {
			display: flex;
			.base(padding);
			.base(padding,top,2/@second-modular);
			>div {
				.base(margin,bottom,@1-rem*@second-modular);
			}
		}
		@media (@md-query) {
			justify-content: space-around;
			flex-wrap: wrap;
			>div {
				flex: 0 0 440px;
			}
		}
	}
	@media (@sm-query) {
		height: auto;
		min-height: 100vh;
	}
}


	.service {
		>div {
			background-color: @pewter-blue;
			background-image: url('../_images/diamonds.svg');
			background-repeat: no-repeat;
			background-size: cover;
		}
		.service-intro {
			height: 100vh;
			color: @hero-color;
			.base(padding, top, 5);
			span {
				.font-size(2);
				line-height: @second-modular;
				color: white;
				text-shadow: 1px 1px 1px @hero-color;
				>span.hero {
					color: @pewter-blue;
				}
				+ p {
					.base(margin, top, 1);
					+ p > a {
						.base(margin, top, 2);
					}
				}
			}
			p:last-child {
				.base(margin,top,2);
				a:hover {
					color: #fff;
				}
			}
		}
		.service-features {
			height: 100vh;
			background-color: #fff;
			ul.feature-list {
				.base(margin,top,1);
				padding-left: 0;
				display: flex;
				flex-wrap: wrap;
				>li {
					margin-bottom: @1-rem/2;
					flex-grow:	1;
					flex-shrink:	1;
					flex-basis:	29%;
					.base(margin,right,1);
					.base(margin,bottom,1);
					.base(padding,.25);
					padding-left: 0;
					>span {
						.font-size(1);
						font-weight: bold;
					}
					>p {
						.font-size(.5);
						line-height: @second-modular;
						margin-top: unit(@second-modular, rem);
					}
					>small {
						font-style: italic;
						.font-size(.4);
						float: right;
						display: block;
						.base(margin,top,.5);
					}
				}
			}
		}
		.service-cta {
			height: 100vh;
			display: none;

		}
	}
