/*
* THEME DEFAULTS
*/
@browser-size-default: 16;
@base-size: 17;
@base-size-px: unit(@base-size, px);
@base-size-em: unit(@base-size / @browser-size-default,em);
@font-size-rem: unit((@base-size / 10), rem);
@line-height: 1.414;
@grid-columns: 12;

html {
	font-size: @base-size-px;
}
body {
	font: @body-font;
	font-size: @base-size-em;
	line-height: @line-height;
}

// modularly scaled font
// when a number is declared, the line-height is multiplied to the power of the supplied variable producing a modular scale
.font-size() {
	font-size: 1rem;
}
.font-size(@x) when (isnumber(@x)){
	font-size: unit( round( (@base-size * pow(@line-height, @x) ) / 10, 1 ), rem);
}
p {
	.font-size();
}
h4 {
	.font-size(1);
}
h3 {
	.font-size(2);
}
h2 {
	.font-size(3);
}
h1 {
	.font-size(4);
}
a:active,
a:hover {
	outline-width: 0;
	color: @link-color-hover;
}






// Colors:
@mint-cream: #f8fff4;
@light-yellow: #fcffe4;
@pomona-green: #314e22;
@dark-green: darken(@pomona-green, 16%);
@gunmetal-blue: #22333b;
@dark-blue: darken(@gunmetal-blue, 16%);
@accent-color: #D5A021;
@gradient-color-list: #ECA400 0%, #FCA311 33%, #EFCB68 66%, #D17A22;
@link-color: @light-yellow;
@link-color-hover: @gunmetal-blue;

// Transitions
@transition: color 100ms ease-in;
