/*!
*	Theme vX.X.X
*	Copyright 2016 Songfarm Inc.
*/

/*
* THEME STYLE DECLARATIONS
*/
html {
	// font-size: @font-size;
	font-size: 17px;
	//font-family: @main-font;
}
body {
	// font-size: @font-size;
	// line-height: @line-height;
	font-size: 1rem;
	font: @body-font;
}
a:active,
a:hover {
	outline-width: 0;
	color: @link-color-hover;
}


// Declare base font, line-height and # of columns:
@base-size: 17; // in px
@font-size: unit((@base-size / 10), rem);
@line-height: 1.414;
@grid-columns: 12;

// Declare Media sizes:
@sm-screen: 768;
@md-screen: 992;
@lg-screen: 1200;
/* NOTE: could write a function that does the conversions internally and outputs each size as separate variable */
@sm-screen-rem: (@sm-screen / @font-size);
@md-screen-rem: (@md-screen / @font-size);
@lg-screen-rem: (@lg-screen / @font-size);
@sm-query: ~"min-width: @{sm-screen-rem}rem";
@md-query: ~"min-width: @{md-screen-rem}rem";
@lg-query: ~"min-width: @{lg-screen-rem}rem";

// Colors:
@mint-cream: #f8fff4;
@light-yellow: #fcffe4;
@pomona-green: #314e22;
@dark-green: darken(@pomona-green, 16%);
@gunmetal-blue: #22333b;
@dark-blue: darken(@gunmetal-blue, 16%);
@accent-color: #D5A021;
@gradient-color-list: #ECA400 0%, #FCA311 33%, #EFCB68 66%, #D17A22;
@link-color: @light-yellow;
@link-color-hover: @gunmetal-blue;

// Fonts
@header-font: 700 1rem 'Asap', 'Georgia', 'Times New Roman', serif;
@header-font-light: 400 1rem 'Asap', 'Georgia', 'Times New Roman', serif;
@body-font: 400 1rem 'Noto Sans', Verdana, Arial, sans-serif;
@body-font-bold: 700 1rem 'Noto Sans', Verdana, Arial, sans-serif;
@special-font: 400 1rem 'Nunito', Verdana, Arial, sans-serif;
@special-font-light: 300 1rem 'Nunito', Verdana, Arial, sans-serif;
@special-font-bold: 700 1rem 'Nunito', Verdana, Arial, sans-serif;

// Transitions
@transition: color 100ms ease-in;
