/*
* TYPOGRAPHY AND TYPESETTING
*/
@header-font-900: 900 100% 'Passion One', cursive; // have a different fallback than just cursive
@header-font-400: 400 100% 'Passion One', cursive; // have a different fallback than just cursive
@body-font: 400 1rem 'Quicksand', Verdana, serif;

nav {
	font: @body-font;
}

#landing-page {
	font: @header-font-900
}
