/*!
*	Theme vX.X.X
*	Copyright 2016 Songfarm Inc.
*/

/*
* TYPOGRAPHY AND TYPESETTING
*/
@header-font: 700 1rem 'Asap', 'Georgia', 'Times New Roman', serif;
@header-font-light: 400 1rem 'Asap', 'Georgia', 'Times New Roman', serif;
@body-font: 400 1rem 'Noto Sans', Verdana, Arial, sans-serif;
@body-font-bold: 700 1rem 'Noto Sans', Verdana, Arial, sans-serif;
@special-font: 400 1rem 'Nunito', Verdana, Arial, sans-serif;
@special-font-light: 300 1rem 'Nunito', Verdana, Arial, sans-serif;
@special-font-bold: 700 1rem 'Nunito', Verdana, Arial, sans-serif;
// function to grow margin/padding/etc by line-height exponentially
// .base(margin; @base: 1) when not (@base = 0){
// 	margin: unit((@font-size * (@line-height * @base) / 10), rem);
// }
// .base(padding; @base: 1) {
// 	padding: unit((@font-size * (@line-height * @base) / 10), rem);
// }


// p,
// ul,
// ol,
// dl {
// 	.base(fontsize);
// 	margin-bottom: unit(@line-height,rem);
// }
// .lead {
// 	font-size: @font-size * 114.14%;
// }
// small {
// 	font-size: @font-size / @line-height;
// }
