// THEME VARIABLES
// site-wide variables
@browser-size-default: 16;
@base-size: 17;
@base-size-px: unit(@base-size, px);
@base-size-em: unit(@base-size / @browser-size-default, em);
@base-size-rem: unit(@base-size / @base-size, rem);
@line-height: @first-modular;
@first-modular: 1.414;
@second-modular: 1.2;
@grid-columns: 12;
@min-width-px: unit(320, px);
@page-width: @lg-screen-rem / @second-modular;
// Transitions
@transition: color 100ms ease-in;
