/*
* TYPOGRAPHY AND TYPESETTING
*/
// font: font-style font-variant font-weight font-size/line-height font-family;
// @header-font: normal 900 1rem/@line 'Passion One', Arial, sans-serif; // big, bold, bubbly
@second-font: normal 1rem 'Muli', Arial, sans-serif;
// @body-font: normal 1rem 'PT Sans', sans-serif; // this is a great body font, approachable
@header-font: 'Playfair Display', serif;
@body-font: 'Raleway', sans-serif;
