@keyframes fadeIn {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}
@keyframes fadeInUp {
	0% {
		transform: translateY(@1-rem);
		opacity: 0;
	}
	100% {
		transform: translate(0);
		opacity: 1;
	}
}
@keyframes bounce {
	0% {
		transform: translateY(15%);
	}
	// 25% {
	// }
	// 75% {
	// }
	100% {
		transform: translateY(-15%);
	}
}
