// SITE COLORS
<<<<<<< HEAD
// possible hero colors
@silver-lake-blue: #6393BB; // pale blue

@hero-color: #27495D;
@active-color: @hero-color;
@link-color-hover: @active-color;
@nav-color: darken(@silver-lake-blue,30%);


@gray-blue: #8B93A0;
@duke: #090C9B; // vibrant blue
@ebony: #5A5C5F;
@cotton-candy: #FFC6D9; // nice light pink
@jasper: #D33E43;
@mustard: #FFE066;
@arsenic: #39304A; // deep purple - good for drop shadow
@sea-green: #329F5B; // really nice green against site blue
@electric-blue: #51E5FF;
@crimson: #DB162F;
@cedar-chest: #c05746;
@dark-purple: #310A31;

// primary vars

@hero-color-bold: @japanese-indigo;
@secondary-color: @jasper;

@nav-color: @dark-purple;

// blue palette
@pewter-blue: #86A5C4;
@platinum: #E7EBEA;
@yankee-blue: #1A2C36; // deep blue - good for drop shadow
@japanese-indigo: #27495C;
@davy-grey: #595B5E;
@ash-white: #F0F4F5;
@background-color: @platinum;
=======
@hero-color: #00558c;
@hero-color-alt: #89C9E4;
// @hero-color-light: fadeout(@hero-color, 12%);
@background-color: #E7EFF4;
@secondary-color: #D0E0EA;

@link-color: @hero-color;
// @link-color-hover: @hero-color-light;
@nav-color: #E2E9F3;
>>>>>>> e80a2a4c65477e533cf296ba36d77ed31c4b06d6
