

@nav-color: @hero-color;
@link-hover: @secondary-color;

@japanese-indigo: #27495D;
@hero-color: @japanese-indigo;

@jungle-green: #1B998B;
@secondary-color: @jungle-green;

@pastel-yellow: #FFFD82;
@pink-orange: #FF9B71;
@desire-red: #E84855;
@crayola: #FF9F1C;
@crayola-2: #FF7442;
@arsenic: #403F4C;

@active-color: @hero-color;
