// SITE COLORS
// possible hero colors
@silver-lake-blue: #6393BB; // pale blue

@hero-color: @silver-lake-blue;
@active-color: #FFC97E;
@link-color-hover: @active-color;
@nav-color: darken(@silver-lake-blue,30%);























@gray-blue: #8B93A0;
@duke: #090C9B; // vibrant blue
@ebony: #5A5C5F;
@cotton-candy: #FFC6D9; // nice light pink
@jasper: #D33E43;
@mustard: #FFE066;
@arsenic: #39304A; // deep purple - good for drop shadow
@sea-green: #329F5B; // really nice green against site blue
@electric-blue: #51E5FF;
@crimson: #DB162F;
@cedar-chest: #c05746;
@dark-purple: #310A31;

// primary vars
@hero-color-bold: @japanese-indigo;
@secondary-color: @jasper;

// blue palette
@pewter-blue: #86A5C4;
@platinum: #E7EBEA;
@yankee-blue: #1A2C36; // deep blue - good for drop shadow
@japanese-indigo: #27495C;
@davy-grey: #595B5E;
@ash-white: #F0F4F5;
@background-color: @platinum;
