// SITE COLORS
// named colors
@silver-lake-blue: #6393BB;

@gray-blue: #8B93A0;
@ebony: #5A5C5F;
@orchid-pink: #F2B5D4;
@jasper: #D33E43;
@mustard: #FFE066;

@medium-sky-blue: #7BDFF2;
// as variables
@hero-color: @jasper;
@hero-color-bold: @japanese-indigo;
@accent-color: @medium-sky-blue;
@link-color: @hero-color;
@link-color-hover: @jasper;
@secondary-color: @jasper;
@nav-color: @yankee-blue;

// alt palette
@pewter-blue: #86A5C4;
@platinum: #E7EBEA;
@yankee-blue: #1A2C36;
@japanese-indigo: #27495C;
@davy-grey: #595B5E;
@ash-white: #F0F4F5;
@background-color: @platinum;
