
@hero-color: @japanese-indigo;
@secondary-color: @desire-red;
@nav-color: @hero-color;
@link-color: @deep-purple;
@link-hover: @hero-color;
@background-color: @pewter-blue;
@accent-color: #fff;
//
// color list
@japanese-indigo: #27495D;
@jungle-green: #1B998B;
@sea-green: #329f5b;
@pastel-yellow: #FFFD82;
@pink-orange: #FF9B71;
@desire-red: #E84855;
@crayola: #FF9F1C;
@crayola-2: #FF7442;
@arsenic: #403F4C;
@egg-shell: #eaead5;
@pewter-blue: #86A5C4;
@deep-purple: #4F1271;

//
// @active-color: @hero-color;
