.inline-icon-font {
	font-family: FontAwesome; // change this accordingly
	color: inherit;
	line-height: inherit;
	font-size: inherit;
	position: relative;
	vertical-align: baseline;
}

// overlays & misc
.overlay(@bg-color: '#333', @opacity: 0.9) {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	opacity: @opacity;
	background-color: @bg-color;
}
// animation classes
.fadeInUp {
	animation: fadeInUp 1.8s .23s ease-out forwards;
	animation-fill-mode: both;
}
.fadeInRight {
	animation: fadeInRight 1.8s 1.2s ease-out both;
}

// for testing
.border (@color: red) {
	border: 2px solid @color;
}
// assistive technology
.at-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.at-only-focusable:active,
.at-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.clear-float {
  content: '';
  display: table;
  clear: both;
}
.full-width {
  margin-left: 0;
  margin-right: 0;
}
// borders & radius
// border-radius
.border-radius (@radius: 4px) {
	border-radius: @radius;
}
.box-shadow {
	box-shadow: 0px 3px 5px 2px @hero-color;
}
.box-shadow-img {
	box-shadow: 0 0 3px 1px rgba(0, 0, 0, .9);
}
.hide { display: none; }
.invisible { visibility: hidden; }
