// MEDIA QUERY SIZES
// Declare Media sizes:
<<<<<<< HEAD:_less/theme/queries.less
@sm-screen: 768; // iPad portrait
@md-screen: 1024; // iPad landscape
=======
@sm-screen: 768;
@md-screen: 1024;
>>>>>>> e80a2a4c65477e533cf296ba36d77ed31c4b06d6:_less/theme/queries.less
@lg-screen: 1900;
/* NOTE: could write a function that does the conversions internally and outputs each size as separate variable */
@sm-screen-rem: unit((@sm-screen / @browser-size-default), rem);
@md-screen-rem: unit((@md-screen / @browser-size-default), rem);
@lg-screen-rem: unit((@lg-screen / @browser-size-default), rem);
@sm-query: ~"min-width: @{sm-screen-rem}";
@md-query: ~"min-width: @{md-screen-rem}";
@lg-query: ~"min-width: @{lg-screen-rem}";
