/*
* THEME DEFAULTS
*/
// special class
.cta-link {
	display: block;
	border: 1px solid transparent;
	.base(margin,top,@first-modular);
	text-transform: capitalize;
}
.nav-active {
	&::after {
		content: "";
		position: absolute;
		margin-left: auto;
		margin-right: auto;
		left: 0;
		right: 0;
		width: 100%;
		bottom: -1.618%;
		height: 5px;
		color: @link-hover;
		background-color: @link-hover;
	}
	@media (@sm-query) {
		&::after {
			width: 97%;
		}
	}
}

.fixed-nav {
	background-color: fadeout(#fff,20%);
	nav #primary-nav .dropdown-content {
		background-color: fadeout(#fff,20%);
		color: @hero-color;
		opacity: .8;
		li {
			a {
				color: inherit;
				&:hover {
					opacity: 1;
				}
				&::after {
					width: 100%;
					height: 0px;
				}
			}
			&:hover {
				background-color: #fff;
			}
		}
	}
}
.nav-visible {
	&:extend(.fixed-nav all);
}
html {
	background-color: #fff;
	body {
		margin: 0 auto;
		// background: @background-color;
		height: 100%;
		margin-bottom: 589.766px; // height of footer for parallax footer
	}
}
html {
	font-size: @base-size-px;
}
body {
	font: @body-font;
	font-size: @base-size-em;
}
.container {
	width: 100%;
	@media (@sm-query) {
		width: unit(@page-width-alt, rem);
		margin: 0 auto;
	}
}
.fixed-nav {
	// background-color: #ACC0D0;
	height: 73px;
	// box-shadow: 0px 1px 2px 2px @gray-blue;
	animation: fadeIn .8s ease-in; // temporary animation
	ul ul {
		// background-color: fadeout(@ash-white,10%);
	}
}
/* type & text */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	font: @header-font;
	margin: unit(@first-modular, rem) 0 unit(@first-modular/2, rem);
	text-transform: capitalize;
}
p,
span {
	margin: unit(@first-modular, rem) 0 unit(@first-modular/2, rem);
	line-height: @line-height;
	.font-size(1);
}
span {
	font-size: inherit;
	line-height: inherit;
	margin: inherit;
}
h4,
.h4 {
	.font-size(1);
}
h3,
.h3 {
	.font-size(2);
}
h2,
.h2 {
	.font-size(3);
}
h1,
.h1 {
	.font-size(4);
	margin-top: unit(@first-modular, rem);
}
label,	input,	button	{
		display:	block;
		width:	100%;
}
.lead {
	text-transform: uppercase;
	font-size: @1-rem * @second-modular;
	line-height: @second-modular;
	letter-spacing: 1px;
}
small {
	font-size: 80%;
}
/* links */
a {
	color: @nav-color;
	transition: all 100ms ease-in;
	&:hover {
		color: @link-hover;
	}
	&.active-link {
		color: @link-hover;
		.nav-active();
	}
}
// a.inline-link {
// 	text-transform: lowercase;
// }
a:active,
a:hover {
	outline-width: 0;
	// color: @link-color-hover;
	// text-shadow: 0px 0px 1px @gray-blue;
}
/* lists */
ul,
ol,
dl {
	margin-bottom: unit(@line-height, rem);
	padding-left: unit(@line-height, rem);
	list-style: none;
	.font-size(1);
	ul,
	ol,
	dl {
		margin-bottom: 0;
	}
}
dt {
	font-weight: bold;
	margin-bottom: @1-rem/2;
}
dd {
	padding-left: 1em;
}
li {
	line-height: @second-modular;
}

blockquote {
	font-style: italic;
	font-size: 100% * @first-modular;
	// border-left: 5px solid @hero-color-bold;
	.base(padding,0.3);
	padding-left: @1-rem;
}
