/*
* THEME DEFAULTS
*/
// special class
.cta-link {
	display: block;
	border: 1px solid transparent;
	.base(margin,top,@first-modular);
	text-transform: capitalize;
}
html {
	background-color: #fff;
	body {
		margin: 0 auto;
		background: @background-color;
		height: 100%;
		margin-bottom: 677.094px; // height of footer for parallax footer
	}
}
html {
	font-size: @base-size-px;
}
body {
	font: @body-font;
	font-size: @base-size-em;
}
.container {
	width: 100%;
	@media (@sm-query) {
		width: unit(@page-width-alt, rem);
		margin: 0 auto;
	}
}
/* type & text */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4 {
	font: @header-font;
	margin: unit(@first-modular, rem) 0 unit(@first-modular/2, rem);
	text-transform: capitalize;
}
p,
span {
	margin: unit(@first-modular, rem) 0 unit(@first-modular/2, rem);
	line-height: @line-height;
	.font-size(1);
}
h4,
.h4 {
	.font-size(1);
}
h3,
.h3 {
	.font-size(2);
}
h2,
.h2 {
	.font-size(3);
}
h1,
.h1 {
	.font-size(4);
	margin-top: unit(@first-modular, rem);
}
label,	input,	button	{
		display:	block;
		width:	100%;
}
.lead {
	text-transform: uppercase;
	font-size: @1-rem * @second-modular;
	line-height: @second-modular;
	letter-spacing: 1px;
}
small {
	font-size: 80%;
}
/* links */
a {
	color: #000;
}
a.inline-link {
	text-transform: lowercase;
}
a:active,
a:hover {
	outline-width: 0;
	color: @link-color-hover;
	text-shadow: 0px 0px 1px @gray-blue;
}
/* lists */
ul,
ol,
dl {
	margin-bottom: unit(@line-height, rem);
	padding-left: unit(@line-height, rem);
	list-style: none;
	.font-size(1);
	ul,
	ol,
	dl {
		margin-bottom: 0;
	}
}
dt {
	font-weight: bold;
	margin-bottom: @1-rem/2;
}
dd {
	padding-left: 1em;
}
li {
	line-height: @second-modular;
}

blockquote {
	font-style: italic;
	font-size: 100% * @first-modular;
	border-left: 5px solid @hero-color-bold;
	.base(padding,0.3);
	padding-left: @1-rem;
}
