/*
* TYPOGRAPHY AND TYPESETTING
*/
<<<<<<< HEAD
@header-font: 900 1rem 'Passion One', Arial, sans-serif; // big, bold, bubbly
@body-font: normal 1rem 'Signika', sans-serif; // this is a great body font, approachable

nav {
	font: @body-font;
}

#landing-page {
	font: @header-font;
=======
// @header-font-a: 1rem 'Open Sans Condensed', Georgia, sans-serif;
@header-font-b: 300 1rem 'Source Sans Pro', sans-serif;
@header-font: 'Source Sans Pro', sans-serif;
@body-font: 1rem 'Poppins', sans-serif;
@body: 'Poppins', sans-serif;

#highlights {
	h3 {
		font-family: @header-font;
	}
	p {
		font: @body-font;
	}
}

nav {
	font: @header-font-b;
}

footer {
	#site-map {
		font-family: @header-font;
	}
>>>>>>> e80a2a4c65477e533cf296ba36d77ed31c4b06d6
}
