/**
* Typography
*/
/* Common font fallback*/
/* fallbacks, see http://ffffallback.com/ */
html {
  line-height: 1.4;
}
html body {
  font-family: 'Raleway', Tahoma, sans-serif;
  font-weight: 400;
}
/* WebFontLoader plugin, see: https://www.sitepoint.com/improve-page-performance-font-loader/ */
/**
* Headers
******************/
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Raleway', Tahoma, sans-serif;
}
/*
* THEME VARIABLES
**/
/* minimum viewport width */
/* line-height */
/* Modular Scales */
/* Global font sizing */
/**
	* Breakpoint
	*/
/**
	* Content Width
	*/
/**
* Helper Classes
* - common theme classes that roll up a bunch on styles into one
*/
/* page container (deprecated) */
.container {
  width: 100%;
  margin: 0 auto;
  padding: 0;
}
@media (min-width: 40em) {
  .container {
    width: 34em;
  }
}
@media (min-width: 48em) {
  .container {
    width: 42em;
  }
}
/* transform effect: grow on hover */
.growOnHover {
  transition: all 0.25s ease-in-out;
}
.growOnHover:hover {
  cursor: pointer;
  transform: scale(1.05);
  transform-origin: center;
  box-shadow: 1px 1px 15px 3px #555;
}
/* Debugging Tool */
/* visibility classes */
.hide {
  display: none;
}
.invisible {
  visibility: hidden;
}
/* Make content only available for Assistive Technologies */
.at-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.at-only-focusable:active,
.at-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.clear-float {
  content: '';
  display: table;
  clear: both;
}
.box-shadow {
  box-shadow: 0px 3px 5px 2px #385f7e;
}
/**
	* Targets only IE 10 & 11
	* Removes troublesome background svg image
	*
	* source: http://www.mediacurrent.com/blog/write-conditional-css-ie10-and-11
	*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  #complicated-web,
  #portfolio-main {
    background-image: none !important;
    background-color: #fff !important;
  }
}
/**
* Theme Colors
*/
/* helper names */
/*
* LESS Calculations
* - specific helper functions for quick modularity
*/
/* Scale Font */
/* NOTE: deprecated */
/**
	* Animation Styles
	*	A list of CSS animations that can be applied to elements
	*/
@keyframes fadeInUp {
  0% {
    transform: translateY(2.8rem);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.fadeInUp {
  animation: fadeInUp 1.8s 0.23s ease-out forwards;
  animation-fill-mode: both;
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
/**
	* Theme Transition
	*/
.theme-transition {
  transition: all 0.25s ease-out;
  position: relative;
}
/**
	* Theme Scale
	*/
.theme-scale-up {
  transform: scale(1.25);
  position: relative;
  z-index: 10000;
}
/**
	* Used to animate modal dropdown
	*/
@-webkit-keyframes animateTop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 35%;
    opacity: 1;
  }
}
@keyframes animateTop {
  from {
    top: -300px;
    opacity: 0;
  }
  to {
    top: 35%;
    opacity: 1;
  }
}
/**
	* Spin element 360 degrees and move horizontally
	*/
@keyframes rollIn {
  0% {
    transform: translateX(-100%) rotateZ(180deg);
    opacity: .25;
  }
  100% {
    transform: translateX(0) rotateZ(0deg);
    opacity: 1;
  }
}
.rollIn {
  animation: rollIn 1.25s;
}
/**
	* Repeating slow "bounce" effect
	* Used, typically, for arrows
	*/
@keyframes bounce {
  0% {
    transform: translateY(15%);
  }
  100% {
    transform: translateY(-15%);
  }
}
header.pk-site-header {
  position: fixed;
  z-index: 1000;
  top: 0;
  width: 100%;
  /**
	 * At large breakpoint, show 'Peak Websites' text
	 */
}
header.pk-site-header > a {
  text-decoration: none;
}
header.pk-site-header > a .brand-logo {
  float: left;
  width: 4.25rem;
}
header.pk-site-header > a .brand-title {
  display: none;
}
@media (min-width: 56.555em) {
  header.pk-site-header .brand-logo {
    width: 5rem;
    max-width: 10rem;
    height: auto;
    margin-left: 0.4rem;
    margin-top: 0.4rem;
  }
}
@media (min-width: 84.444em) {
  header.pk-site-header > a {
    max-width: 36%;
  }
  header.pk-site-header > a .brand-logo {
    margin-right: 0.71428571rem;
  }
  header.pk-site-header > a .brand-title {
    display: block;
    height: 100%;
    color: #385f7e;
    font-weight: lighter;
    font-size: 2.25em;
  }
}
.fixed-nav {
  background-color: #385f7e;
  height: 73px;
  transition: all 100ms ease-in;
  animation: fadeIn 0.25s 0.1s ease-in both;
  box-shadow: 1px 1px 1px 2px rgba(51, 51, 51, 0.5);
}
.fixed-nav .brand-logo {
  max-height: 4rem;
  width: auto;
  margin-top: 0.25rem;
  margin-left: 0.25rem;
}
.fixed-nav .brand-title {
  color: white !important;
}
.fixed-nav #primary-nav a {
  color: #fff;
}
.fixed-nav #primary-nav a:hover {
  background-color: #fff;
  color: #28445b;
}
.fixed-nav #primary-nav ul.dropdown-content {
  background-color: #fff;
  color: #385f7e;
  top: 76px;
}
.fixed-nav #primary-nav ul.dropdown-content li a {
  color: inherit;
}
.fixed-nav #primary-nav ul.dropdown-content li a:hover {
  opacity: 1;
  color: #eee;
  background-color: #385f7e;
}
.fixed-nav #primary-nav ul.dropdown-content li a::after {
  width: 100%;
  height: 0px;
}
.fixed-nav #primary-nav ul.dropdown-content li:hover {
  background-color: #fff;
}
.fixed-nav #primary-nav span.icon-bar {
  background-color: white !important;
}
.fixed-nav span.icon-bar {
  background-color: white !important;
}
