#faq {
	.base(padding,.5/@first-modular);
	.base(padding,top,1*@second-modular);
	.base(padding,bottom,2);
	background-color: white;
	.box-shadow();
	background-color: #fff;
	background-image: url(../_images/backgrounds/circle-mess-multi.svg);
	h1 {
		.font-size(3);
		color: @pewter-blue;
		text-shadow: -1px 1px 2px @hero-color;
	}
	dl,
	dd {
		padding-left: 0;
	}
	dl {
		.base(margin,top,1);
		padding-left: 0;
	}
	dt {
		background: @pewter-blue;
		color: #fff;
		padding: 18px;
		margin-bottom: 0;
		outline: 0;
		border-bottom: 1px solid #ccc;
		>.fa {
			position: relative;
			margin-right: 9px;
			top: 2px;
		}
		&:hover {
			cursor: pointer;
		}
	}
	dd {
		background: #eee;
		// padding: @1-rem*@second-modular;
		// padding-bottom: @1-rem*@first-modular;
		padding: @1-rem / @second-modular;
		padding-bottom: @1-rem * @second-modular;

		line-height: @second-modular;
		border-left: 1px solid #ccc;
		border-right: 1px solid #ccc;
		border-bottom: 1px solid #ccc;
		.font-size(1/@second-modular);
	}
	@media (@sm-query) {
		.base(padding,top,3*@second-modular);
		margin-bottom: @1-rem;
	}
}
