
/* site-wide */
header {
	position: fixed;
	z-index: 10000;
	top: 0;
	z-index: 999;
	width: 100%;
	h1.h3 {
		margin: 0;
		padding-left: @1-rem/2;
		color: @hero-color;
		line-height: @second-modular;
		&:hover {
			cursor: pointer;
		}
	}
	&::after {
		.clear-float;
	}
	@media (@sm-query) {
		position: fixed;
	}
}
nav {
	position: static;
	clear: right;
	z-index: 1000;
	display: block;
	width: 100%;
	height: 73px;
	&::after {
		.clear-float;
	}

	.navbar-header {
		display: block;
		height: auto;
		width: 100%;
		button {
			display: block;
			height: 100%;
			width: auto;
			float: right;
			.base(padding,.3); /* css error */
			padding-top: .7rem;
			padding-bottom: .7rem;
			background: transparent;
			.base(margin,right,.15rem);
			span.icon-bar {
				width: @1-rem * @second-modular;
				height: 3px;
				background-color: @nav-color; // same color as nav !!
				display: block;
				margin: 0;
				margin: .5rem .5rem;
			}
			&:hover {
				cursor: pointer;
			}
		}
	}
	.navbar-collapse {
		clear: both;
		ul {
			background-color: fadeout(#fff,20%);
			.box-shadow();
		}
	}
	ul {
		padding-left: 0; // undo resets
		margin-bottom: 0; // undo resets
		display: block;
		height: 100%;
		li {
			display: block;
			text-align: center;
			a {
				display: block;
				vertical-align: middle;
				color: @nav-color;
				text-decoration: none;
				.font-size(1/@first-modular);
				text-transform: uppercase;
				padding-top: @1-rem / @first-modular;
				padding-bottom: @1-rem / @first-modular;
				&:hover {
					background-color: fadeout(#999,10%);
				}
			}
		}
	}
	@media (@sm-query) {
		position: absolute;
		top: 0;
		right: 0;
		display: flex;
		width: auto;
		// margin-right: @1-rem / @first-modular;
		.navbar-header {
			display: none;
		}
		.navbar-collapse {
			ul {
				background-color: transparent;
				box-shadow: none;
			}
		}
		.collapse {
			display: block;
		}
		ul {
			display: flex;
			background-color: transparent;
			margin-right: 0;
			li {
				// flex-direction: column;
				// justify-content: center;
				position: relative; // necessary for 'active-link'
				display: flex;
				justify-content: flex-end;
				align-items: center;
				a {
					padding: @1-rem/@second-modular;

					height: auto;
					&:hover {
						.nav-active();
					}
				}
			}
			li.dropdown-btn {
				position: relative;
				ul.dropdown-content {
					position: absolute;
					left: 5000%;
					opacity: .25;
					height: auto;
					display: block;
					width: auto;
					top: 73px;
					// border-top: 4px solid fadeout(@davy-grey, 40%);
					// box-shadow: 2px 2px 4px 1px @davy-grey;
					transition: opacity 100ms ease-in;
					// background-color: fadeout(@ash-white,10%);
					li {
						display: block;
						white-space: nowrap;
						// background-color: rgba(255, 255, 255, 0.1);
						a {
							padding: @1-rem/@first-modular @1-rem/2;
							line-height: 1;
						}
					}
				}
				&:hover,
				&:focus {
					ul.dropdown-content {
						left: @1-rem / @first-modular;
						left: 0;
						opacity: 1;

					}
				}
			}
		}
	}
}
footer {
	position: static;
	width: 100%;
	bottom: 0;
	z-index: -1;
	color: #27495D;
	.font-size(.5);
	text-align: center;
	clear: both;
	ul li a {
		font-size: inherit;
		text-shadow: none;
	}
	#site-map {
		position: relative;
		margin: 0 auto;
		.base(margin,top,1);
		.base(margin,bottom,1);
		display: block;
		clear: both;
		z-index: 100;
		.border;
		>h4 {
			font: @second-font;
			.font-size(2);
		}
		ul {
			display: flex;
			flex-wrap: wrap;
			justify-content: center;
			.font-size(.5);
			li {
				flex: 0 1 auto;
				>a {
					padding-left: @1-rem/@first-modular;
					padding-right: @1-rem/@first-modular;
				}
			}
		}
		abbr {
			text-decoration: none;
		}
	}
	#copyright {
		text-align: center;
		width: 100%;
		.base(padding,1);
		span {
			.font-size(0);
		}
	}
	@media (@sm-query) {
		position: fixed;
		// #site-map ul {
		// 	justify-content: center;
		// 	li {
		// 		flex: 0 1 auto;
		// 	}
		// }
	}
}

.nav-bg-color-active {
	// background-color: fadeout(@pewter-blue, 30%);
}

.fa.fa-angle-down {
	.font-size(3);
	color: @hero-color;
	position: absolute;
	left: 49%;
	transform: translateX(-50%);
	bottom: 1%;
	// width: 100px;
	animation: bounce 1.2s infinite alternate both;

	&:hover {
		cursor: pointer;
	}
}

.cssanimations {
	#about #about-intro,
	ul#key-list,
	#about-cta {
		opacity: 0;
	}
}

#final-cta {
	font: @second-font;
	text-align: center;
	background-color: @hero-color;
	color: #fff;
	width: 100%;
	transition: background-color .25s linear;
	position: relative;
	z-index: 100;
	.base(padding,1);
	padding-top: @1-rem*@first-modular;
	padding-bottom: @1-rem*@first-modular;
	.box-shadow();
	@media (@sm-query) {
		padding-bottom: @2-rem;
	}
	@media (@sm-query) {
		.base(padding,2/@second-modular);
	}
	&:hover {
		background-color: lighten(@hero-color,10%);
		cursor: pointer;
	}
	h2 {
		.font-size(2);
		>i {
			color: inherit;
			font-size: inherit;
			position: relative;
		}
		@media (@sm-query) {
			.font-size(2*@second-modular);
		}
	}
}
