/* index.php (main) */

#elevate-business h2,
#website-important h3 {
	font: @second-font;
}
#website-important dt {
	font-weight: bold;
}

#business-top {
	position: relative;
	background-color: @background-color;
	background-image: url(../_images/air-triangulated.jpg);
	background-size: cover;
	background-position: 50% 75%;
	height: auto;
	box-shadow: inset 0px -3px 12px rgba(0, 0, 0, 0.5);
	.base(padding,top,2);
	.base(padding,bottom,2);
	@media (@sm-query) {
		height: 100vh;
		.base(padding,top,2*@first-modular);
	}
	>div {
		text-align: center;
		h1 {
			font: @header-font;
			.font-size(2);
			color: @hero-color;
			.base(margin,bottom,1);
			>span {
				color: @secondary-color;
			}
			@media (@sm-query) {
				.font-size(3);
				.base(margin,bottom,2*@first-modular);
				padding-left: @1-rem;
				padding-right: @1-rem;
			}
			@media (@md-query) {
				.base(padding,top,1);
				.font-size(4);
				margin-bottom: @1-rem*@first-modular;
			}
		}
		p {
			.font-size(1/@second-modular);
			line-height: @second-modular;
			background-color: rgba(255, 255, 255, .45);
			.base(padding,1/2);
			margin-left: @1-rem/3;
			margin-right: @1-rem/3;
			color: #333;
			@media (@sm-query) {
				.font-size(1);
				width: 60%;
				margin-left: auto;
				margin-right: auto;
			}
			@media (@md-query) {
				.font-size(1*@second-modular);
				width: 70%;
				margin-top: @3-rem*@first-modular;
			}
			box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, .45);
		}
	}
	i {
		display: none;
		@media (@sm-query) {
			display: block; // show bouncy arrow
			color: @secondary-color;
		}
	}
	em {
		font-size: 115%;
		>a {
			text-decoration: none;
			&:hover {
				color: darken(@secondary-color,15%);
			}
		}
	}
}

#elevate-business {
	height: auto;
	background: #fff svg-gradient(to bottom, @pewter-blue 25%, rgba(255, 255, 235, 50%));
	.base(padding,top,1);
	.base(padding,bottom,2);
	>div {
		text-align: center;
		padding-left: @1-rem/@second-modular;
		padding-right: @1-rem/@second-modular;
		@media (@md-query) {
			width: 70%;
			margin-left: auto;
			margin-right: auto;
			.base(margin,top,3);
		}
		h2 {
			color: darken(@hero-color, 8%);
			.font-size(2);
			@media (@sm-query) {
				.font-size(3/@second-modular);
				font-weight: bold;
			}
			@media (@md-query) {
				.font-size(3);
				.base(margin,bottom,1*@first-modular);
			}
		}
		#mountain-layout {
			>div.col {
				position: relative;
				.base(margin,top,1);
				padding-left: @1-rem/@second-modular;
				padding-right: @1-rem/@second-modular;
				padding-bottom: @1-rem/@second-modular;
				@media (@md-query) {
					// min-height: 368px;
					// &:first-child>p {
					// 	position: absolute;
					// 	bottom: 0;
					// }
					// &:nth-child(2)>p {
					// 	position: absolute;
					// 	top: 20%;
					// }
					// &:nth-child(3)>p {
					// 	position: absolute;
					// 	top: -10%;
					// }
				}
			}
		}
		p {
			color: #1a4b67;
			.font-size(1);
			@media (@md-query) {
				.font-size(1/@second-modular);
				margin-left: auto;
				margin-right: auto;
			}
		}


	}
	@media (@md-query) {
		min-height: 100vh;
	}
}

#website-important {
	.base(padding,top,2);
	.base(padding,bottom,2);
	background-color: #fff;
	background-image: url(../_images/backgrounds/circle-mess-multi.svg);
	>div {
		text-align: center;
		h3 {
			.font-size(2/@first-modular);
			.base(margin,bottom,1);
			padding-left: @1-rem/@second-modular;
			padding-right: @1-rem/@second-modular;
			color: darken(@hero-color,10%);
			@media (@sm-query) {
				.font-size(2);
				position: relative;
				.base(margin,bottom,1*@first-modular);
				font-weight: bold;
				&::after {
					content: "";
					height: 5px;
					width: 12.5%;
					position: absolute;
					background-color: darken(@hero-color, 8%);
					bottom: -@1-rem*@second-modular;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
		dl,
		dd {
			padding-left: 0;
		}
		dl {
			text-align: center;
			.font-size(1/@second-modular);
			margin-left: @1-rem/3;
			margin-right: @1-rem/3;
		}
		dl>.row {

			div:nth-child(1) dt {
				color: #4F1271;
			}
			div:nth-child(2) dt {
				color: #056a5f;
			}
			div:nth-child(3) dt {
				color: #345995;
			}
			dt {
				font-size: 130%;
			}
			dd {
				color: darken(@hero-color,10%);
			}
		}
		dd {
			.base(margin,bottom,1);
		}
		dt,
		dd {
			padding-left: 12px;
			padding-right: 12px;
		}
		@media (@md-query) {
			.base(margin,top,2);
		}
	}
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.45);
	@media (@md-query) {
		min-height: 100vh;
	}
}


// about section
// #about {
// 	height: auto;
// 	min-height: 100vh;
// 	background-color: #fff;
// 	background-image: url(../_images/backgrounds/circle-mess-multi.svg);
// 	ul#key-list {
// 		li {
// 			&:nth-child(1) {
// 				color: #4F1271;
// 			}
// 			&:nth-child(2) {
// 				color: #1B998B;
// 			}
// 			&:nth-child(3) {
// 				color: #345995;
// 			}
// 			&:nth-child(4) {
// 				color: #5E0B15;
// 			}
// 		}
// 	}
