/*
* peakwebsites.ca/website-services/
*/

#website-services {
	position: relative;
	background: #fff url('../_images/backgrounds/polygon-bg-green.svg') no-repeat;
	.base(padding,top,2);
	.base(padding,bottom,2);
	.box-shadow();
	@media (@sm-query) {
		height: auto;
		min-height: 100vh;
	}
	>div.container {
		text-align: center;
		padding-left: @1-rem/@second-modular;
		padding-right: @1-rem/@second-modular;
		@media (@md-query) {
			.base(margin,top,2/@second-modular);
		}
		h2 {
			font: @header-font;
			font-weight: bold;
			.font-size(2);
			color: darken(@hero-color,5%);
			@media (@sm-query) {
				.font-size(2*@second-modular);
			}
			@media (@md-query) {
				.font-size(3);
			}
		}
		p {
			@media (@sm-query) {
				.font-size(1);
			}
			margin-bottom: @2-rem*@first-modular;
		}
	}
	article#service-table {
		.container-alt();
		// position: relative;
		background-color: fadeout(#fff,5%);
		box-shadow: -1px 1px 3px 0px rgba(0, 0, 0, .45);
		.base(padding,top,1*@first-modular);
		.base(padding,bottom,1*@first-modular);
		table {
			width: 85%;
			border-left: 1px solid #eed;
			margin-right: auto;
			margin-left: auto;
			position: relative;
			min-width: 900px;
			.td-no-bg {
				background-color: #fefefe !important;
			}
			th,
			td {
				border-right: 1px solid #edd;
				background-color: #fefefe;
			}
			tr:nth-child(even) {
				td {
					background-color: #eed;
				}
			}
			thead {
				font: @second-font;
				&:extend(.h4);
				font-weight: bold;
				tr th {
					line-height: @first-modular*@second-modular;
					padding-bottom: @1-rem;
				}
			}
			tbody {
				tr {
					td {
						text-align: center;
						padding-top: 18px;
						padding-bottom: 18px;
						padding-left: @1-rem;
						padding-right: @1-rem;
						width: 100%/3;
						&.tr-header {
							text-align: left;
							vertical-align: bottom;
							.embolden();
						}
						// &::after {
						// 	content: "";
						// 	position: absolute;
						// 	bottom: 0;
						// 	height: 360px;
						// 	width: 100%/3;
						// 	display: table-cell;
						// 	background: svg-gradient(to bottom, #fff 35%, fadeout(#fff,100%));
						// 	margin-left: -@1-rem;
						// 	margin-right: -@1-rem;
						// }
					}
				}
				tr>td#cost-examples {
					position: absolute;
					text-align: left;
					>i {
						.font-size(1);
						display: block;
						margin-top: @1-rem;
						margin-bottom: @1-rem/@second-modular;
					}
					ul {
						list-style-type: circle;
						padding-top: 18px;
						margin-bottom: 9px;
						font-family: Arial, sans-serif;
						.font-size(0);
						+span {
							width: 100%;
							display: block;
							text-align: right;
							.font-size(1/@first-modular);
							font-style: italic;
						}
					}
					span.cost {
						display: block;
						text-align: right;
						padding-top: 9px;
						padding-right: 18px;
						padding-bottom: 9px;
						.font-size(1/@second-modular);
						margin-bottom: 0;
						border-bottom: 1px solid #ccc;
					}
					span.br-space {
						display: inline-block;
						margin-top: @1-rem/@first-modular;
						margin-bottom: @1-rem/@first-modular;
					}
				}
				#intro {
					td {
						vertical-align: top;
						padding-bottom: 0;
						.td-no-bg;
						.font-size(1/@first-modular);
						a {
							text-transform: capitalize;
						}
					}
				}
				#byline {
					padding-top: 18px;
					td {
						vertical-align: top;
						padding-top: 18px;
						.td-no-bg;
					}
				}
			}
		}
	}
}

// individual service pages
.service {
	.box-shadow();
	background-color: ;
	>.service-intro {
		.base(padding,.5);
		height: auto;
		height: auto;
		color: @hero-color;
		.base(padding, top, 2);
		.base(padding, bottom, 2/@second-modular);
		@media (@sm-query) {
			height: auto;
			min-height: 100vh;
			.base(padding,top,4*@second-modular);
		}
		>span {
			.font-size(2);
			line-height: @second-modular;
			color: white;
			text-shadow: 1px 1px 1px @hero-color;
		}
		>p {
			.base(margin, top, 1);
		}
	}
	>.service-features {
		height: auto;
		background-color: #fff;
		.base(padding,top,1*@first-modular);
		.base(padding,bottom,1);
		@media (@sm-query) {
			height: auto;
			min-height: 100vh;
			.base(padding,top,2);
		}
		>ul.feature-list {
			.base(margin,top,1/@first-modular);
			padding-left: 0;
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			margin-bottom: 0;
			padding-left: 18px;
			padding-right: 18px;
			>li {
				flex-grow: 2;
				flex-shrink: 0;
				flex-basis:	100%;
				.base(margin,bottom,1/@first-modular);
				@media (@sm-query) {
					flex-basis: 400px;
					margin-right: unit(@first-modular,%);
				}
				>span {
					.font-size(1);
					font-weight: bold;
				}
				>p {
					.font-size(.5);
					line-height: @second-modular;
					margin-top: unit(@second-modular, rem);
				}
				>small {
					font-style: italic;
					.font-size(.4);
					float: right;
					display: block;
					.base(margin,top,.5);
				}
			}
		}
	}
	.feature-container {
		display: flex;
		flex-direction: row-reverse;
		align-items: center;
		justify-content: space-between;
		flex-wrap: nowrap;
		@media (@sm-query) {
			flex: 0 0 @1-rem*6;
			width: auto;
			height: auto;
			>img {
				height: auto;
				width: auto;
			}
		}
		@media (@md-query) {
			justify-content: flex-start;
		}
		>img {
			flex: 0 0 90px;
			margin-right: 9px;
			margin-left: 9px;
			width: 90px;
			height: 90px;
		}
		>span {
			flex: 1 1 0px;
		}
	}
}

#service-cta {
	&:extend(#final-cta all);
	>div {
		h2 {
			margin-bottom: 0;
		}
		p {
			line-height: 1.618;
			>a {
				color: #fff;
			}
		}
	}
	@media (@sm-query) {
		>div {
			display: flex;
			justify-content: space-between;
			align-items: center;
			.base(padding,top,1*@first-modular);
			.base(padding,bottom,1*@first-modular);
			padding-left: 0;
			padding-right: 0;
			p {
				.base(margin,left,4);
				.font-size(2/@first-modular);
				text-align: left;
			}
		}
	}
}
