/*!
*	Theme vX.X.X
*	Copyright 2016 Songfarm Inc.
*/
/*
* RESET STYLES
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* html5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
/* links */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:visited {
  text-decoration: none;
}
/* inline elements */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
em {
  font-style: italic;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  width: 100%;
  /* ie fallback */
  max-width: 100%;
  height: auto;
  vertical-align: middle
  /* removes gap below image and it's parent */
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  display: block;
  box-sizing: content-box;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
  height: 0;
  overflow: visible;
}
/* forms */
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
  width: 100%;
}
button {
  width: auto;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
.box-shadow {
  box-shadow: 0px 2px 3px 2px rgba(0, 0, 0, 0.35);
}
.eq {
  margin: 0;
  padding: 0;
}
/*
* THEME DEFAULTS
*/
/* body-container (if applicable) */
html,
body {
  height: 100%;
  color: #000;
  background-color: #fff;
}
html {
  font-size: 18px;
}
body {
  font: 400 1rem 'Quicksand', Verdana, serif;
  font-size: 1.125em;
}
.container {
  min-width: 320px;
}
/* type & text */
h1,
h2,
h3,
h4 {
  font: 900 100% 'Passion One', cursive;
  margin: 1.618rem 0 0.809rem;
}
p {
  margin: 1.2rem 0 0.5rem;
  line-height: 1.5;
  font-size: 1rem;
}
a {
  text-transform: capitalize;
}
h4,
.h4 {
  font-size: 1.6rem;
}
h3,
.h3 {
  font-size: 2.6rem;
}
h2,
.h2 {
  font-size: 4.2rem;
}
h1,
.h1 {
  font-size: 6.9rem;
  margin-top: 1.414rem;
}
.lead {
  text-transform: uppercase;
  font-size: 1.33rem;
  line-height: 1.33;
  letter-spacing: 1px;
}
small {
  font-size: 80%;
}
/* links */
a {
  color: #000;
}
/* make links display as block and have a top margin - for call-to-action type links */
.cta-links {
  display: block;
  margin-top: 1.618rem;
}
a:active,
a:hover {
  outline-width: 0;
  color: #000;
}
/* lists */
ul,
ol,
dl {
  margin-bottom: 1.618rem;
  padding-left: 1.618rem;
  list-style: none;
}
dt {
  font-weight: bold;
  margin-bottom: 0.5em;
}
dd {
  padding-left: 1em;
}
li {
  line-height: 1.33;
}
/* forms */
/* overlays & misc */
.header-focus {
  background-color: rgba(115, 13, 9, 0.88);
  color: #fbfffe;
  padding: .25rem 1rem;
  box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.link-style {
  padding: 1rem 0.25rem 1rem 0;
  font-size: 1.4rem;
}
.link-style:hover {
  text-decoration: underline;
  color: #000;
}
.box-shadow-img {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.9);
}
/*
* GRID STYLES
*/
.row {
  padding: 1.618%;
  clear: both;
  height: auto;
  margin: 0;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  zoom: 1
  /* For IE 6/7 */
}
.col {
  box-sizing: border-box;
  display: block;
  float: left;
  margin-right: 1.414%;
  margin-bottom: 1.414%;
  height: 100%;
}
.col:last-child {
  margin-right: 0;
}
.span-1,
.span-2,
.span-3,
.span-4,
.span-5,
.span-6,
.span-7,
.span-8,
.span-9,
.span-10,
.span-11,
.span-12 {
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 58.0625rem) {
  .col {
    margin-bottom: 0;
  }
  .span-1 {
    width: 6.71533333%;
  }
  .span-2 {
    width: 15.04866667%;
  }
  .span-3 {
    width: 23.382%;
  }
  .span-4 {
    width: 31.71533333%;
  }
  .span-5 {
    width: 40.04866667%;
  }
  .span-6 {
    width: 48.382%;
  }
  .span-7 {
    width: 56.71533333%;
  }
  .span-8 {
    width: 65.04866667%;
  }
  .span-9 {
    width: 73.382%;
  }
  .span-10 {
    width: 81.71533333%;
  }
  .span-11 {
    width: 90.04866667%;
  }
  .span-12 {
    width: 98.382%;
  }
}
/* NOTE: could write a function that does the conversions internally and outputs each size as separate variable */
/*
* TYPOGRAPHY AND TYPESETTING
*/
nav {
  font: 400 1rem 'Quicksand', Verdana, serif;
}
#landing-page {
  font: 900 100% 'Passion One', cursive;
}
@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  80% {
    -webkit-transform: translateX(0.5%);
            transform: translateX(0.5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  80% {
    -webkit-transform: translateX(0.5%);
            transform: translateX(0.5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0.35;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0.35;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
.slideInLeft {
  -webkit-animation: slideInLeft 1.1s cubic-bezier(0.01, 0.01, 0, 1) both;
          animation: slideInLeft 1.1s cubic-bezier(0.01, 0.01, 0, 1) both;
}
.at-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.at-only-focusable:active,
.at-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.clear-float {
  content: '';
  display: table;
  clear: both;
}
.full-width {
  margin-left: 0;
  margin-right: 0;
}
.hide {
  display: none;
}
.invisible {
  visibility: hidden;
}
html {
  background-color: #fff;
}
html body {
  margin: 0 auto;
  background: #eee;
  height: 100%;
}
html body main {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 0px;
      -ms-flex: 1 1 0px;
          flex: 1 1 0px;
  background-color: #ddd;
  height: 100%;
}
header {
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;
  color: #111;
}
header h1.h3 {
  margin: 0;
  padding-left: 0.809rem;
  line-height: 1.618;
}
nav {
  color: #111;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1000;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
nav ul {
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  height: 100%;
}
nav ul li {
  display: table;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
nav ul li a {
  display: table-cell;
  vertical-align: middle;
  padding: 1.25rem 1rem;
  color: #111;
  text-decoration: none;
}
@media (min-width: 58.0625rem) {
  nav .navbar-header {
    display: none;
  }
  nav li.dropdown-btn {
    position: relative;
  }
  nav li.dropdown-btn ul.dropdown-content {
    position: absolute;
    -webkit-transform: translateX(5000%);
        -ms-transform: translateX(5000%);
            transform: translateX(5000%);
  }
}
#landing-page {
  height: 100vh;
  background-color: #eee;
  background-image: url(../_images/business-on-top.jpg);
  background-size: cover;
  background-position: 50% center;
  position: relative;
}
#landing-page #landing-page-intro {
  font: 900 100% 'Passion One', cursive;
  position: relative;
  top: 29.3%;
  left: 14.65%;
  color: white;
  line-height: 1.2;
}
#landing-page #landing-page-intro span {
  font-size: 6.9rem;
  width: auto;
}
#landing-page #landing-page-intro p {
  font: 400 100% 'Passion One', cursive;
  font-size: 1.6rem;
  width: 30.90234858%;
  line-height: 1.33;
  margin-bottom: 0;
}
#landing-page #landing-page-intro a {
  color: #fbfffe;
  margin-top: 1.21654135rem;
  float: left;
  font: 400 100% 'Passion One', cursive;
  font-size: 2.6rem;
  padding: 0.25rem .5rem;
}
#landing-page #landing-page-intro a:first-of-type {
  margin-right: 0.5rem;
  margin-left: -0.25rem;
}
footer {
  position: relative;
  background-color: #e9e9e9;
}
footer > article {
  padding: 1.4562rem;
}
footer #mission-statement {
  width: 50%;
}
footer #mission-statement h4 {
  font-family: Arial, sans-serif;
  margin-top: 0.5rem;
}
footer #mission-statement p {
  line-height: 1.33;
}
footer #newsletter {
  width: 61%;
}
footer #newsletter h3 {
  font-family: Arial, sans-serif;
}
footer #newsletter form {
  width: 61%;
}
footer #newsletter form fieldset {
  border-radius: 2px;
}
footer #newsletter form input {
  padding-left: 1rem;
}
footer #newsletter form div.container-newsletter {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
footer #newsletter form div.container-newsletter button {
  -webkit-box-flex: 0;
  -webkit-flex: 0 0 auto;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  padding: 0.75rem;
  margin: 0;
}
footer #newsletter form div.container-newsletter button > span.fa {
  margin: 0;
}
footer #newsletter h3 {
  font-size: 2.2rem;
}
footer #contact-info {
  float: right;
  width: 38%;
}
footer #contact-info h3 {
  font-size: 1.6rem;
  font-weight: normal;
  background-color: #ccc;
  padding: 0.25em;
}
footer #contact-info ul {
  padding-left: 0.5rem;
}
footer #contact-info ul li {
  padding: 0.38rem 0;
}
footer .copyright {
  text-align: center;
  font-size: 61%;
  padding: 0.5rem 0 0.5rem;
  background-color: #c3c3c3;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
          transition-property: height, visibility;
  -webkit-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
button.navbar-toggle:focus {
  outline: 0;
}
@media (min-width: 58.0625rem) {
  .collapse {
    display: block;
  }
}
#about-1,
#expertise-1,
#faq-video {
  position: relative;
  top: 3.6rem;
  top: 7vh;
  background-color: #ccc;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZWVlZWVlIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWRpZW50KSIgLz48L3N2Zz4=');
  background-repeat: no-repeat;
  background-size: cover;
}
#about-1 .container,
#expertise-1 .container,
#faq-video .container {
  background-color: #fbfffe;
  padding: 2.9124rem;
  padding-bottom: 8.09rem;
}
#about-1 .container > h2,
#expertise-1 .container > h2,
#faq-video .container > h2 {
  font-size: 6.9rem;
  background-color: rgba(115, 13, 9, 0.88);
  color: #fbfffe;
  padding: .25rem 1rem;
  box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-top: 0;
}
#about-1 .container div h3,
#expertise-1 .container div h3,
#faq-video .container div h3 {
  font-size: 4.2rem;
  margin-top: 2.617924rem;
}
#about-1 .container div strong,
#expertise-1 .container div strong,
#faq-video .container div strong,
#about-1 .container div strong a,
#expertise-1 .container div strong a,
#faq-video .container div strong a {
  white-space: nowrap;
}
#about-1 .container div .lessen strong,
#expertise-1 .container div .lessen strong,
#faq-video .container div .lessen strong {
  font-size: 1.6rem;
}
#about-1 .container aside,
#expertise-1 .container aside,
#faq-video .container aside {
  float: none;
  border: 3px solid #730d09;
  margin-top: 1.618rem;
  padding: 2.9124rem;
  padding-top: 0;
  padding-bottom: 0.5rem;
  background-color: #eee;
}
#about-1 .container aside > p,
#expertise-1 .container aside > p,
#faq-video .container aside > p {
  color: #730d09;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
  font-size: 1.8rem;
}
#about-1 .container aside > ul,
#expertise-1 .container aside > ul,
#faq-video .container aside > ul {
  color: #111;
  font-size: 1.1rem;
}
#about-1 .container aside + p,
#expertise-1 .container aside + p,
#faq-video .container aside + p {
  text-align: center;
  clear: both;
  position: relative;
  top: 2.15194rem;
}
#about-1 .container aside + p a,
#expertise-1 .container aside + p a,
#faq-video .container aside + p a {
  font-size: inherit;
}
#about-1 .container strong,
#expertise-1 .container strong,
#faq-video .container strong {
  font-size: 2.6rem;
}
#about-1 + footer,
#expertise-1 + footer,
#faq-video + footer {
  background-color: white;
  position: relative;
  top: 3.6rem;
  top: 6.2vh;
  z-index: 100;
  box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.5);
}
#about-1 img {
  float: right;
  width: 35%;
  max-width: 35%;
  height: auto;
  margin: 2.9124rem;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.9);
}
#about-1 p:last-of-type {
  margin-bottom: 2.15194rem;
}
#about-1 a {
  font-weight: bold;
  font-size: 1.8rem;
}
#expertise-1 #crim-law,
#expertise-1 #fam-law,
#expertise-1 #civil-lits {
  padding-bottom: 2rem;
  position: relative;
}
#expertise-1 #crim-law > div,
#expertise-1 #fam-law > div,
#expertise-1 #civil-lits > div {
  float: none;
}
#expertise-1 hr {
  clear: both;
  display: block;
  padding-top: 4rem;
  position: relative;
  top: 4rem;
}
#faq-video #video-gallery {
  padding: 1.4562rem;
  background-color: #eee;
  margin: 2.15194rem 0;
}
#faq-video #video-gallery:after {
  content: '';
  display: table;
  clear: both;
}
#faq-video #video-gallery .video {
  position: relative;
  height: 0;
  overflow: hidden;
  float: left;
  width: 100%;
  padding-bottom: 51.25%;
  vertical-align: middle;
  margin: 1rem 0 0.5rem;
  margin-top: 0;
  background-color: #000;
}
#faq-video #video-gallery .video > iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#faq-video #video-gallery .video.empty > span {
  display: block;
  border: 2px solid #fbffd2;
  color: #fbffd2;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.4045rem 0.809rem;
  font-size: 1.5rem;
  border-radius: 8px;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(-20deg);
      -ms-transform: translateY(-50%) translateX(-50%) rotate(-20deg);
          transform: translateY(-50%) translateX(-50%) rotate(-20deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  text-align: center;
}
#faq-video #video-gallery + a {
  padding: 1rem 0.25rem 1rem 0;
  font-size: 1.4rem;
  clear: both;
}
#faq-video #video-gallery + a:hover {
  text-decoration: underline;
  color: #000;
}
@media (min-width: 58.0625rem) {
  #about-1 .container #crim-law > div,
  #expertise-1 .container #crim-law > div,
  #about-1 .container #fam-law > div,
  #expertise-1 .container #fam-law > div,
  #about-1 .container #civil-lits > div,
  #expertise-1 .container #civil-lits > div {
    float: right;
    width: 61.8%;
  }
  #about-1 .container aside,
  #expertise-1 .container aside {
    float: left;
    width: 34.2%;
  }
  #faq-video #video-gallery .video {
    width: 23%;
    margin: 0.7281rem;
    padding-bottom: 14%;
  }
  #faq-video #video-gallery .video:nth-child(1) {
    margin-left: 0;
  }
}
