/*!
*	Theme vX.X.X
*	Copyright 2016 Songfarm Inc.
*/
/*
* RESET STYLES
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* html5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
/* links */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  color: #fcffe4;
}
a:visited {
  text-decoration: none;
}
/* inline elements */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  max-width: 100%;
  height: auto;
}
svg:not(:root) {
  overflow: hidden;
}
figure {
  margin: 1em 40px;
}
hr {
  display: block;
  box-sizing: content-box;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
  height: 0;
  overflow: visible;
}
/* forms */
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
/*
* THEME DEFAULTS
*/
/* containers */
.main-container {
  max-width: 62.5rem;
  margin: 0 auto;
  background-color: #ddd;
  display: block;
}
html {
  font-size: 17px;
  overflow-x: hidden;
  min-width: 320px;
}
body {
  font: 400 1rem 'Noto Sans', Verdana, Arial, sans-serif;
  font-size: 1em;
  line-height: 1.414;
}
/* type & text */
h1,
h2,
h3,
h4,
p {
  margin: 1.414rem 0 0.5rem;
}
p {
  font-size: 1rem;
}
h4 {
  font-size: 2.4rem;
}
h3 {
  font-size: 3.4rem;
}
h2 {
  font-size: 4.8rem;
}
h1 {
  font-size: 6.8rem;
  margin-top: 1.414rem;
}
.lead {
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: 1px;
}
small {
  font-size: 80%;
}
/* links */
a {
  text-decoration: none;
}
a:active,
a:hover {
  outline-width: 0;
  color: #22333b;
  text-decoration: underline;
}
/* lists */
ul,
ol,
dl {
  font-size: 1rem;
  margin-bottom: 1.414rem;
  padding-left: 1.414rem;
  list-style: none;
}
dt {
  font-weight: bold;
  margin-bottom: 0.5em;
}
dd {
  padding-left: 1em;
}
li {
  line-height: 1.999396;
}
/* forms */
/* overlays & misc */
/*
* GRID STYLES
*/
.row {
  padding: 1.414%;
  clear: both;
  height: auto;
  margin: 0;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  zoom: 1;
  /* For IE 6/7 */
}
.col {
  box-sizing: border-box;
  display: block;
  float: left;
  margin-right: 1.414%;
  margin-bottom: 1.414%;
  border: 2px solid black;
}
.col:last-child {
  margin-right: 0;
}
.span-1,
.span-2,
.span-3,
.span-4,
.span-5,
.span-6,
.span-7,
.span-8,
.span-9,
.span-10,
.span-11,
.span-12 {
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 48rem) {
  .col {
    margin-bottom: 0;
  }
  .span-1 {
    width: 6.91933333%;
  }
  .span-2 {
    width: 15.25266667%;
  }
  .span-3 {
    width: 23.586%;
  }
  .span-4 {
    width: 31.91933333%;
  }
  .span-5 {
    width: 40.25266667%;
  }
  .span-6 {
    width: 48.586%;
  }
  .span-7 {
    width: 56.91933333%;
  }
  .span-8 {
    width: 65.25266667%;
  }
  .span-9 {
    width: 73.586%;
  }
  .span-10 {
    width: 81.91933333%;
  }
  .span-11 {
    width: 90.25266667%;
  }
  .span-12 {
    width: 98.586%;
  }
}
/* NOTE: could write a function that does the conversions internally and outputs each size as separate variable */
/*
* TYPOGRAPHY AND TYPESETTING
*/
/*
* MAIN PAGE STYLES
*/
#main-page-1,
#main-page-2,
#main-page-3,
#main-page-4 {
  display: block;
  border: 2px solid red;
  height: 100vh;
}
/********
	BANNER
	*******/
#banner {
  width: 100%;
  line-height: 1.6968;
  font-size: 1rem;
  background-color: #d5a021;
}
#banner span,
#banner a {
  margin: 0 auto;
  width: 100%;
}
#banner span {
  display: table;
  text-align: center;
}
@media (min-width: 48rem) {
  #banner span {
    width: 80%;
  }
}
@media (min-width: 62rem) {
  #banner span {
    width: 50%;
  }
}
@media (min-width: 75rem) {
  #banner span {
    width: 20%;
  }
}
#banner a {
  display: table-cell;
  vertical-align: middle;
}
/******************
	MAIN SITE HEADER
	*****************/
header {
  font: 700 1rem 'Asap', 'Georgia', 'Times New Roman', serif;
  color: #314e22;
  position: relative;
  overflow: hidden;
  background-image: url(../_images/backgrounds/polyester.png);
  /* flexbox backup */
  display: flex;
  justify-content: center;
  align-items: center;
}
header:before {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0.9;
  background-color: #fcffe4;
}
header .row {
  position: relative;
  z-index: 10;
}
header .row > div > a {
  display: block;
}
header .row {
  display: table;
  width: 100%;
  height: 15vh;
}
header .col {
  display: table-cell;
}
header .col:last-of-type {
  display: table;
  text-align: right;
}
header .col:last-of-type div:first-of-type {
  text-align: center;
}
@media (min-width: 48rem) {
  header .col:last-of-type div:first-of-type {
    text-align: inherit;
  }
}
header a {
  color: #314e22;
}
