/*!
*	Theme vX.X.X
*	Copyright 2016 Songfarm Inc.
*/
/*
* RESET STYLES
*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* html5 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block;
}
audio,
canvas,
progress,
video {
  display: inline-block;
}
audio:not([controls]) {
  display: none;
  height: 0;
}
progress {
  vertical-align: baseline;
}
template,
[hidden] {
  display: none;
}
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
/* links */
a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
}
a:visited {
  text-decoration: none;
}
/* inline elements */
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: inherit;
}
em {
  font-style: italic;
}
b,
strong {
  font-weight: bolder;
}
dfn {
  font-style: italic;
}
mark {
  background-color: #ff0;
  color: #000;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
  width: 100%;
  /* ie fallback */
  max-width: 100%;
  height: auto;
  vertical-align: middle
  /* removes gap below image and it's parent */
}
svg:not(:root) {
  overflow: hidden;
}
hr {
  display: block;
  box-sizing: content-box;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
  height: 0;
  overflow: visible;
}
/* forms */
button,
input,
select,
textarea {
  font: inherit;
  margin: 0;
  width: 100%;
}
button,
input[type="radio"],
input[type="checkbox"] {
  width: auto;
}
optgroup {
  font-weight: bold;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
button,
html [type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  border: 1px solid #c0c0c0;
}
legend {
  color: inherit;
  display: table;
  max-width: 100%;
  white-space: normal;
}
textarea {
  overflow: auto;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-cancel-button,
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-input-placeholder {
  color: inherit;
  opacity: 0.54;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}
/* functions for font and margin/padding based on a chosen modular scale (theme.less) */
/*
* GRID STYLES
*/
.row {
  clear: both;
  height: auto;
  margin: 0;
  padding: 0;
}
.row:before,
.row:after {
  content: "";
  display: table;
}
.row:after {
  clear: both;
}
.row {
  zoom: 1
  /* For IE 6/7 */
}
.col {
  box-sizing: border-box;
  display: block;
  float: left;
  margin-left: 1.416%;
  margin-top: 1.416%;
  margin-bottom: 1.416%;
  height: 100%;
}
.col:last-child {
  margin-right: 1.416%;
}
.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
  width: 100%;
  box-sizing: border-box;
}
@media (min-width: 48rem) {
  .col-1 {
    width: 6.11733333%;
  }
  .col-2 {
    width: 14.45066667%;
  }
  .col-3 {
    width: 22.784%;
  }
  .col-4 {
    width: 31.11733333%;
  }
  .col-5 {
    width: 39.45066667%;
  }
  .col-6 {
    width: 47.784%;
  }
  .col-7 {
    width: 56.11733333%;
  }
  .col-8 {
    width: 64.45066667%;
  }
  .col-9 {
    width: 72.784%;
  }
  .col-10 {
    width: 81.11733333%;
  }
  .col-11 {
    width: 89.45066667%;
  }
  .col-12 {
    width: 97.784%;
  }
}
/* NOTE: could write a function that does the conversions internally and outputs each size as separate variable */
/*
* TYPOGRAPHY AND TYPESETTING
*/
#highlights h3 {
  font-family: 'Source Sans Pro', sans-serif;
}
#highlights p {
  font: 1rem 'Poppins', sans-serif;
}
nav {
  font: 300 1rem 'Source Sans Pro', sans-serif;
}
footer #site-map {
  font-family: 'Source Sans Pro', sans-serif;
}
@-webkit-keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  80% {
    -webkit-transform: translateX(0.5%);
            transform: translateX(0.5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@keyframes slideIn {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  80% {
    -webkit-transform: translateX(0.5%);
            transform: translateX(0.5%);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
@-webkit-keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes slideInLeft {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0.35;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
@keyframes slideInLeft {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
    opacity: 0.35;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}
.slideInLeft {
  -webkit-animation: slideInLeft 1.1s cubic-bezier(0.01, 0.01, 0, 1) both;
          animation: slideInLeft 1.1s cubic-bezier(0.01, 0.01, 0, 1) both;
}
.at-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.at-only-focusable:active,
.at-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.clear-float {
  content: '';
  display: table;
  clear: both;
}
.full-width {
  margin-left: 0;
  margin-right: 0;
}
.box-shadow {
  box-shadow: 0px 3px 5px 2px #00558c;
}
.box-shadow-img {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.9);
}
.hide {
  display: none;
}
.invisible {
  visibility: hidden;
}
.inline-icon-font {
  font-family: FontAwesome;
  color: inherit;
  line-height: inherit;
  font-size: inherit;
  position: relative;
  vertical-align: baseline;
}
.fadeInUp {
  -webkit-animation: fadeInUp 1.8s 0.23s ease-out forwards;
          animation: fadeInUp 1.8s 0.23s ease-out forwards;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
}
.fadeInRight {
  -webkit-animation: fadeInRight 1.8s 1.2s ease-out both;
          animation: fadeInRight 1.8s 1.2s ease-out both;
}
/*
* THEME DEFAULTS
*/
html {
  /* set the base font size in pixels */
  font-size: 18px;
}
body {
  /* specify body font */
  /* specify base font size in ems */
  font: 1rem 'Poppins', sans-serif;
  font-size: 1.125em;
}
/* type & text */
h1,
h2,
h3,
h4 {
  font: 300 1rem 'Source Sans Pro', sans-serif;
  margin: 1.416rem 0 0.708rem;
}
p {
  margin: 1.2rem 0 0.5rem;
  line-height: 1.416;
  font-size: 1rem;
}
a {
  text-transform: capitalize;
  color: #00558c;
}
h4,
.h4 {
  font-size: 1.4rem;
}
h3,
.h3 {
  font-size: 2rem;
}
h2,
.h2 {
  font-size: 2.8rem;
}
h1,
.h1 {
  font-size: 4rem;
  margin-top: 1.414rem;
}
.lead {
  text-transform: uppercase;
  font-size: 1.2rem;
  line-height: 1.2;
  letter-spacing: 1px;
}
small,
.small {
  font-size: 75%;
  line-height: 1.416;
}
a.phone {
  text-decoration: none;
}
.fa {
  color: #00558c;
  position: relative;
  top: 4px;
  font-size: 1.5rem;
}
section {
  padding: 1.416rem;
}
section > h4,
section > h3 {
  margin-top: 0;
  margin-bottom: 0;
}
section h2 {
  position: relative;
}
section h2:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.82rem;
  width: 2.832%;
  height: 1px;
  background-color: #89c9e4;
}
section img {
  margin-top: 2.005056rem;
  width: 100%;
}
section h2 {
  padding-left: 1.416%;
}
section section {
  padding: 0;
}
section p {
  line-height: 1.416;
}
.header-blip {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.82rem;
  width: 2.832%;
  height: 1px;
  background-color: #89c9e4;
}
/* links */
a {
  color: #000;
}
/* make links display as block and have a top margin - for call-to-action type links */
.cta-link {
  display: inline-block;
  margin-top: 1.416rem;
}
a:active,
a:hover {
  outline-width: 0;
  color: #000;
}
/* lists */
ul,
ol,
dl {
  margin-bottom: 1.416rem;
  padding-left: 1.416rem;
  list-style: none;
}
dt {
  font-weight: bold;
  margin-bottom: 0.5em;
}
dd {
  padding-left: 1em;
}
li {
  line-height: 1.2;
}
/* forms */
/* overlays & misc */
.header-focus {
  padding: .25rem 1rem;
  box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.5);
}
.link-style {
  padding: 1rem 0.25rem 1rem 0;
  font-size: 1.3rem;
}
.link-style:hover {
  text-decoration: underline;
  color: #000;
}
.box-shadow-img {
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.9);
}
/*!
*	Theme vX.X.X
*	Copyright 2016 Songfarm Inc.
*/
#preloader {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 999;
  width: 100%;
  height: 100%;
  overflow: visible;
  background: #eeeeee url('../_assets/ajax-loader.gif') no-repeat center center;
  font-size: 2rem;
}
html,
body {
  background-color: #e7eff4;
}
body {
  position: relative;
}
#main-container {
  width: 71rem;
  margin: 0 auto;
  background: #fff;
}
#ticket-newsletter {
  width: 12.22%;
  position: fixed;
  top: 29.8%;
  right: -12.5%;
  z-index: 1000;
  background-color: #00558c;
  border: 2px solid #89c9e4;
  padding: 0.6372rem;
  padding-0.25: 2.5488rem;
  color: #fff;
}
#ticket-newsletter h3 {
  font-weight: 400;
}
#ticket-newsletter span#ticket {
  -webkit-transform: translateX(-100%);
      -ms-transform: translateX(-100%);
          transform: translateX(-100%);
  background-color: #00558c;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSI4MCUiIHN0b3AtY29sb3I9IiMwMDU1OGMiLz48c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiMwMDMwNGYiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjZ3JhZGllbnQpIiAvPjwvc3ZnPg==');
  z-index: 1000;
  padding: 0.5rem;
  padding-right: 1rem;
  margin-right: 2.005056rem;
  position: absolute;
  left: 0px;
  top: 29.8%;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-right: 2px solid #89c9e4;
  box-shadow: -1px -1px 3px rgba(0, 0, 0, 0.35);
  color: #ddd;
  font-size: 2.1rem;
  -webkit-transition: all 0.25s ease-out;
          transition: all 0.25s ease-out;
}
#ticket-newsletter span#ticket:hover {
  cursor: pointer;
  color: #333;
}
#ticket-newsletter p {
  font-style: italic;
  font-family: 'Open Sans Condensed';
  border-top: 1px solid white;
  padding-top: 0.708rem;
  margin-bottom: 0.70621469rem;
}
#ticket-newsletter p em {
  font-weight: bold;
}
#ticket-newsletter form {
  padding-bottom: 1.6992rem;
}
#ticket-newsletter form input:not([type="submit"]) {
  border: 1px solid #89c9e4;
  border-radius: 1px;
  padding: 0.25rem 0.5rem;
  margin-bottom: 0.35310734rem;
}
#ticket-newsletter form input[type="submit"] {
  margin-top: 0.6rem;
  padding: 0.5rem 0.83333333rem;
  font-weight: bold;
  opacity: 0.7;
  border-radius: 4px;
  box-shadow: 0px 3px 5px 2px #00558c;
  -webkit-transition: all 0.5s;
          transition: all 0.5s;
}
#ticket-newsletter form input[type="submit"]:hover {
  cursor: pointer;
  opacity: 1;
}
body,
#highlights {
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.1);
}
img:not(.logo),
#ticket-newsletter {
  box-shadow: 0 0 5px #000000;
}
a {
  -webkit-transition: color 50ms ease-in-out;
          transition: color 50ms ease-in-out;
}
a:hover {
  color: #89c9e4;
}
header#site-header {
  position: relative;
}
header#site-header .col {
  margin-bottom: 0.25rem;
}
header#site-header div#logo {
  display: block;
  background-size: cover;
  /* custom-fix while temp logo */
  position: relative;
  top: -3px;
  height: 100%;
}
header#site-header div#logo img {
  width: auto;
}
header#site-header div#call-now {
  color: #fff;
  position: absolute;
  top: 4.248%;
  right: 1.6992rem;
  border-radius: 30px;
  font-size: 1.3rem;
}
header#site-header div#call-now a {
  line-height: 1.416;
  color: #00558c;
}
header#site-header div#call-now .fa {
  position: relative;
  top: 4px;
  font-size: 1.5rem;
}
header#site-header div#call-now:after {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.82rem;
  width: 2.832%;
  height: 1px;
  background-color: #89c9e4;
  right: 1.416%;
  width: 2.005056rem;
}
header#site-header nav {
  position: relative;
  top: 0.416rem;
  color: #000;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  clear: right;
  margin-top: 1.416rem;
  margin-bottom: 0;
  font-size: 1.1rem;
}
header#site-header nav ul {
  padding-left: 0;
  margin-bottom: 0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  text-align: center;
}
header#site-header nav ul li {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
header#site-header nav ul li a {
  padding: 1.416rem 1rem;
  color: #000;
  text-decoration: none;
}
header#site-header nav ul li a:hover {
  color: #89c9e4;
}
@media (min-width: 48rem) {
  header#site-header nav .navbar-header {
    display: none;
  }
  header#site-header nav li.dropdown-btn {
    position: relative;
  }
  header#site-header nav li.dropdown-btn ul.dropdown-content {
    position: absolute;
    -webkit-transform: translateX(5000%);
        -ms-transform: translateX(5000%);
            transform: translateX(5000%);
  }
}
#highlights {
  height: 70.62146893vh;
  padding: 0;
  color: #fff;
}
#highlights #carousel-slider {
  height: 100%;
}
#highlights #carousel-slider .slide {
  text-align: center;
  height: 100%;
  padding-top: 6.015168rem;
  background-color: #eee;
  background-size: cover;
  background-repeat: no-repeat;
}
#highlights #carousel-slider .slide h3 {
  line-height: 1.2;
  text-transform: capitalize;
}
#highlights #carousel-slider .slide h3,
#highlights #carousel-slider .slide p {
  width: 83.33333333%;
  margin: 0 auto;
  margin-bottom: 1.416rem;
}
#highlights #carousel-slider .slide p {
  line-height: 1.416;
  font-size: 1.2rem;
}
#highlights #carousel-slider .slide:nth-child(1) {
  background-image: url(../_images/features/victoria-island-gully.jpg);
}
#highlights #carousel-slider .slide:nth-child(2) {
  background-image: url(../_images/features/yoho-national-park.jpg);
}
#highlights #carousel-slider .slide:nth-child(3) {
  background-image: url(../_images/features/villa-eyrie-vancouver-island.jpg);
  background-position: center 100%;
}
#highlights #carousel-slider .slide a {
  margin-top: 2.005056rem;
  color: #fff;
  font-size: 1.6rem;
}
#highlights #carousel-slider .slide a:hover {
  color: #89c9e4;
}
#highlights #carousel-slider .slide h3,
#highlights #carousel-slider .slide p,
#highlights #carousel-slider .slide a {
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.4);
}
#about #about-video img {
  height: auto;
  margin-top: -2rem;
}
#services section > img + h3 {
  margin: 1.416rem 0 0.708rem;
}
footer {
  background-color: #d0e0ea;
  color: #00558c;
  border-top: 1px solid #00558c;
  margin-top: 1.6992rem;
}
footer h3,
footer h4 {
  font-weight: 400;
}
footer #site-map {
  padding-top: 0;
  padding-bottom: 0;
}
footer #site-map > h3 {
  margin-bottom: 1.2rem;
}
footer #site-map ul {
  padding-left: 0;
  margin-bottom: 0;
}
footer #site-map ul li {
  display: inline-block;
}
footer #site-map ul li a {
  display: block;
  padding: 0.25rem;
  color: #00558c;
}
footer #address > #address-container {
  position: relative;
  margin-top: 1.2rem;
}
footer #address > #address-container span {
  line-height: 1.416;
  margin-top: 1.2rem;
}
footer #address > #address-container a.phone {
  color: #00558c;
  font-size: 105%;
}
footer #address > #address-container .fa {
  top: 2px;
}
footer #mission-statement > h4 {
  margin-top: 0;
  margin-bottom: 0;
}
footer #disclaimer {
  text-align: center;
  font-size: 90%;
}
footer #disclaimer > h5 {
  margin-top: 0;
  margin-bottom: 0.6rem;
  line-height: 1.2;
  font-weight: 400;
}
footer #disclaimer small {
  display: block;
  margin-top: 1.416em;
  font-style: italic;
  -webkit-transition: font-size 0.75s ease-out;
          transition: font-size 0.75s ease-out;
}
footer #disclaimer small:hover {
  font-size: 100%;
}
footer #copyright {
  text-align: center;
  padding-top: 0;
  padding-bottom: 5.664rem;
}
footer #copyright small {
  font-size: 90%;
  line-height: 0;
}
.collapse {
  display: none;
}
.collapse.in {
  display: block;
}
.collapsing {
  position: relative;
  height: 0;
  overflow: hidden;
  -webkit-transition-property: height, visibility;
          transition-property: height, visibility;
  -webkit-transition-duration: .35s;
          transition-duration: .35s;
  -webkit-transition-timing-function: ease-out;
          transition-timing-function: ease-out;
}
button.navbar-toggle:focus {
  outline: 0;
}
@media (min-width: 48rem) {
  .collapse {
    display: block;
  }
}
.carousel {
  position: relative;
}
.carousel-inner {
  position: relative;
  width: 100%;
  overflow: hidden;
  height: 100%;
}
.carousel-inner > .slide {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
.carousel-inner > .slide > img,
.carousel-inner > .slide > a > img {
  line-height: 1;
}
@media all and (transform-3d), (-webkit-transform-3d) {
  .carousel-inner > .slide {
    -webkit-transition: -webkit-transform 0.6s ease-in-out;
    transition: transform 0.6s ease-in-out;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    -webkit-perspective: 1000px;
    perspective: 1000px;
  }
  .carousel-inner > .slide.next,
  .carousel-inner > .slide.active.right {
    left: 0;
    -webkit-transform: translate3d(100%, 0, 0);
    transform: translate3d(100%, 0, 0);
  }
  .carousel-inner > .slide.prev,
  .carousel-inner > .slide.active.left {
    left: 0;
    -webkit-transform: translate3d(-100%, 0, 0);
    transform: translate3d(-100%, 0, 0);
  }
  .carousel-inner > .slide.next.left,
  .carousel-inner > .slide.prev.right,
  .carousel-inner > .slide.active {
    left: 0;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
}
.carousel-inner > .active,
.carousel-inner > .next,
.carousel-inner > .prev {
  display: block;
}
.carousel-inner > .active {
  left: 0;
}
.carousel-inner > .next,
.carousel-inner > .prev {
  position: absolute;
  top: 0;
  width: 100%;
}
.carousel-inner > .next {
  left: 100%;
}
.carousel-inner > .prev {
  left: -100%;
}
.carousel-inner > .next.left,
.carousel-inner > .prev.right {
  left: 0;
}
.carousel-inner > .active.left {
  left: -100%;
}
.carousel-inner > .active.right {
  left: 100%;
}
.carousel-control {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 15%;
  font-size: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
  background-color: rgba(0, 0, 0, 0);
  filter: alpha(opacity=50);
  opacity: .5;
}
.carousel-control.left {
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.5)), to(rgba(0, 0, 0, 0.0001)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.5) 0%, rgba(0, 0, 0, 0.0001) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80000000', endColorstr='#00000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control.right {
  right: 0;
  left: auto;
  background-image: -webkit-linear-gradient(left, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.0001)), to(rgba(0, 0, 0, 0.5)));
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.0001) 0%, rgba(0, 0, 0, 0.5) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#80000000', GradientType=1);
  background-repeat: repeat-x;
}
.carousel-control:hover,
.carousel-control:focus {
  color: #fff;
  text-decoration: none;
  filter: alpha(opacity=90);
  outline: 0;
  opacity: .9;
}
.carousel-control .icon-prev,
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-left,
.carousel-control .glyphicon-chevron-right {
  position: absolute;
  top: 50%;
  z-index: 5;
  display: inline-block;
  margin-top: -10px;
}
.carousel-control .icon-prev,
.carousel-control .glyphicon-chevron-left {
  left: 50%;
  margin-left: -10px;
}
.carousel-control .icon-next,
.carousel-control .glyphicon-chevron-right {
  right: 50%;
  margin-right: -10px;
}
.carousel-control .icon-prev,
.carousel-control .icon-next {
  width: 20px;
  height: 20px;
  font-family: serif;
  line-height: 1;
}
.carousel-control .icon-prev:before {
  content: '\2039';
}
.carousel-control .icon-next:before {
  content: '\203a';
}
.carousel-indicators {
  position: absolute;
  bottom: 10px;
  left: 50%;
  z-index: 15;
  width: 60%;
  padding-left: 0;
  margin-left: -30%;
  text-align: center;
  list-style: none;
}
.carousel-indicators li {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 1px;
  text-indent: -999px;
  cursor: pointer;
  background-color: #000 \9;
  background-color: rgba(0, 0, 0, 0);
  border: 1px solid #fff;
  border-radius: 10px;
}
.carousel-indicators .active {
  width: 12px;
  height: 12px;
  margin: 0;
  background-color: #fff;
}
.carousel-caption {
  position: absolute;
  right: 15%;
  bottom: 20px;
  left: 15%;
  z-index: 10;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  text-align: center;
  text-shadow: 0 1px 2px rgba(0, 0, 0, 0.6);
}
.carousel-caption .btn {
  text-shadow: none;
}
@media screen and (min-width: 768px) {
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-prev,
  .carousel-control .icon-next {
    width: 30px;
    height: 30px;
    margin-top: -10px;
    font-size: 30px;
  }
  .carousel-control .glyphicon-chevron-left,
  .carousel-control .icon-prev {
    margin-left: -10px;
  }
  .carousel-control .glyphicon-chevron-right,
  .carousel-control .icon-next {
    margin-right: -10px;
  }
  .carousel-caption {
    right: 20%;
    left: 20%;
    padding-bottom: 30px;
  }
  .carousel-indicators {
    bottom: 20px;
  }
}
.carousel-indicators li {
  border-color: #fff;
  background-color: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.4);
}
.carousel-indicators li.active {
  background-color: #fff;
}
.slide-in-left {
  -webkit-animation: slideIn 1s 0.1s ease-in;
          animation: slideIn 1s 0.1s ease-in;
}
@keyframes slideIn {
  from {
    -webkit-transform: translateX(100%);
            transform: translateX(100%);
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}
#about-1,
#expertise-1,
#faq-video {
  position: relative;
  top: 3.6rem;
  top: 7vh;
  background-color: #ccc;
  background-image: url('data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/PjxzdmcgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB2ZXJzaW9uPSIxLjEiIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZ3JhZGllbnQiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjEwMCUiIHkyPSIwJSI+PHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2NjY2NjYyIvPjxzdG9wIG9mZnNldD0iNTAlIiBzdG9wLWNvbG9yPSIjZWVlZWVlIi8+PHN0b3Agb2Zmc2V0PSIxMDAlIiBzdG9wLWNvbG9yPSIjY2NjY2NjIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI2dyYWRpZW50KSIgLz48L3N2Zz4=');
  background-repeat: no-repeat;
  background-size: cover;
}
#about-1 .container,
#expertise-1 .container,
#faq-video .container {
  padding: 2.5488rem;
  padding-bottom: 7.08rem;
}
#about-1 .container > h2,
#expertise-1 .container > h2,
#faq-video .container > h2 {
  font-size: 4rem;
  padding: .25rem 1rem;
  box-shadow: -1px 1px 1px 1px rgba(0, 0, 0, 0.5);
  margin-top: 0;
}
#about-1 .container div h3,
#expertise-1 .container div h3,
#faq-video .container div h3 {
  font-size: 2.8rem;
  margin-top: 2.005056rem;
}
#about-1 .container div strong,
#expertise-1 .container div strong,
#faq-video .container div strong,
#about-1 .container div strong a,
#expertise-1 .container div strong a,
#faq-video .container div strong a {
  white-space: nowrap;
}
#about-1 .container div .lessen strong,
#expertise-1 .container div .lessen strong,
#faq-video .container div .lessen strong {
  font-size: 1.4rem;
}
#about-1 .container aside,
#expertise-1 .container aside,
#faq-video .container aside {
  float: none;
  border: 3px solid #00558c;
  margin-top: 1.416rem;
  padding: 2.5488rem;
  padding-top: 0;
  padding-bottom: 0.5rem;
  background-color: #eee;
}
#about-1 .container aside > p,
#expertise-1 .container aside > p,
#faq-video .container aside > p {
  color: #00558c;
  font-style: italic;
  font-weight: bold;
  line-height: 1.2;
  font-size: 1.5rem;
}
#about-1 .container aside > ul,
#expertise-1 .container aside > ul,
#faq-video .container aside > ul {
  color: #111;
  font-size: 1.1rem;
}
#about-1 .container aside + p,
#expertise-1 .container aside + p,
#faq-video .container aside + p {
  text-align: center;
  clear: both;
  position: relative;
  top: 1.6992rem;
}
#about-1 .container aside + p a,
#expertise-1 .container aside + p a,
#faq-video .container aside + p a {
  font-size: inherit;
}
#about-1 .container strong,
#expertise-1 .container strong,
#faq-video .container strong {
  font-size: 2rem;
}
#about-1 + footer,
#expertise-1 + footer,
#faq-video + footer {
  position: relative;
  top: 3.6rem;
  top: 6.2vh;
  z-index: 100;
  box-shadow: 0px -1px 3px 0px rgba(0, 0, 0, 0.5);
}
#about-1 img {
  float: right;
  width: 35%;
  max-width: 35%;
  height: auto;
  margin: 2.5488rem;
  margin-top: 0;
  margin-bottom: 0;
  box-shadow: 0 0 3px 1px rgba(0, 0, 0, 0.9);
}
#about-1 p:last-of-type {
  margin-bottom: 1.6992rem;
}
#about-1 a {
  font-weight: bold;
  font-size: 1.5rem;
}
#expertise-1 #crim-law,
#expertise-1 #fam-law,
#expertise-1 #civil-lits {
  padding-bottom: 2rem;
  position: relative;
}
#expertise-1 #crim-law > div,
#expertise-1 #fam-law > div,
#expertise-1 #civil-lits > div {
  float: none;
}
#expertise-1 hr {
  clear: both;
  display: block;
  padding-top: 4rem;
  position: relative;
  top: 4rem;
}
#faq-video #video-gallery {
  padding: 1.2744rem;
  padding-0.5: 2.5488rem;
  background-color: #eee;
  margin: 1.6992rem 0;
}
#faq-video #video-gallery:after {
  content: '';
  display: table;
  clear: both;
}
#faq-video #video-gallery .video {
  position: relative;
  height: 0;
  overflow: hidden;
  float: left;
  width: 100%;
  padding-bottom: 51.25%;
  vertical-align: middle;
  margin: 1rem 0 0.5rem;
  margin-top: 0;
  background-color: #000;
}
#faq-video #video-gallery .video > iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
#faq-video #video-gallery .video.empty > span {
  display: block;
  border: 2px solid #fbffd2;
  color: #fbffd2;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 0.354rem 0.708rem;
  font-size: 1.3rem;
  border-radius: 8px;
  -webkit-transform: translateY(-50%) translateX(-50%) rotate(-20deg);
      -ms-transform: translateY(-50%) translateX(-50%) rotate(-20deg);
          transform: translateY(-50%) translateX(-50%) rotate(-20deg);
  -webkit-transform-origin: center;
      -ms-transform-origin: center;
          transform-origin: center;
  text-align: center;
}
#faq-video #video-gallery + a {
  padding: 1rem 0.25rem 1rem 0;
  font-size: 1.3rem;
  clear: both;
}
#faq-video #video-gallery + a:hover {
  text-decoration: underline;
  color: #000;
}
@media (min-width: 48rem) {
  #about-1 .container #crim-law > div,
  #expertise-1 .container #crim-law > div,
  #about-1 .container #fam-law > div,
  #expertise-1 .container #fam-law > div,
  #about-1 .container #civil-lits > div,
  #expertise-1 .container #civil-lits > div {
    float: right;
    width: 61.8%;
  }
  #about-1 .container aside,
  #expertise-1 .container aside {
    float: left;
    width: 34.2%;
  }
  #faq-video #video-gallery .video {
    width: 23%;
    margin: 0.6372rem;
    margin-0.25: 2.5488rem;
    padding-bottom: 14%;
  }
  #faq-video #video-gallery .video:nth-child(1) {
    margin-left: 0;
  }
}
