/**
	* Index.php (Landing Page)
	*
 	* Import base styles
	*/
	@import 'base/base.less';
	@import 'theme/theme.less';

	main {
		section#about {
			padding-top: 5rem;
			background: #fff;
			>div {
				padding: 2.5rem*@first-modular 0.5rem;
				.theme-container();
			}
			.page-title {
				color: darken(@hero-color, 5%);
				.font-size(3);
				&::after {
					/** add visible corner to bottom of description **/
					content: "";
					display: block;
					height: 3px;
					width: 3%;
					background-color: @hero-color;
					position: relative;
					bottom: -1rem * @first-modular;
				}
			}
			.page-sub-title {
				margin-top: 2em;
			}
			.page-cta {
				font-weight: bold;
				color: @hero-color;
				.font-size(1.15);
			}
			/**
			 *
			 */
			 	@media (min-width: 56.555em) {
	 				.page-title {
						.font-size(3.5);
	 				}
					p {
						.font-size(1.15);
					}
		 		}
				@media (@tablet-breakpoint) {
					>div {
						width: @tablet-content-width;
					}
					.page-title {
						.font-size(4);
					}
					p {
						.font-size(1.3);
					}
					.page-cta {
						.font-size(1.45);
					}
				}
			@media (@desktop-breakpoint) {
				>div {
					width: @desktop-content-width;
					padding-bottom: 5em;
				}
				.page-title {
					.font-size(4.2);
				}
				p {
					.font-size(1.5);
				}
				.page-cta {
					.font-size(1.65);
				}
			}
			@media (@lg-desktop-breakpoint) {
				>div {
					width: @lg-desktop-content-width;
				}
				.page-title {
					.font-size(4.5);
				}
				p {
					.font-size(2);
				}
				.page-cta {
					.font-size(2.15);
					margin: 2em 0;
					padding-bottom: 1em;
				}
			}
		}

	}
