/*
 	Contact Form Critical CSS styles
	January 2017
	==
	David Gaskin
	*/

/* import base styles */
@import 'base/base.less';
@import 'theme/theme.less';
@import 'modal.less';


//contact form
#contact-main {
	padding-top: 1rem;
	padding-bottom: 2rem;
	color: #fff;
	background: radial-gradient(ellipse at center, fadeout(#1A2C36, 90%) 50%, fadeout(#1A2C36, 30%) 100%), #86A5C4 url("data:image/svg+xml,%3Csvg width='136' height='78' viewBox='0 0 84 48' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M0 0h12v6H0V0zm28 8h12v6H28V8zm14-8h12v6H42V0zm14 0h12v6H56V0zm0 8h12v6H56V8zM42 8h12v6H42V8zm0 16h12v6H42v-6zm14-8h12v6H56v-6zm14 0h12v6H70v-6zm0-16h12v6H70V0zM28 32h12v6H28v-6zM14 16h12v6H14v-6zM0 24h12v6H0v-6zm0 8h12v6H0v-6zm14 0h12v6H14v-6zm14 8h12v6H28v-6zm-14 0h12v6H14v-6zm28 0h12v6H42v-6zm14-8h12v6H56v-6zm0-8h12v6H56v-6zm14 8h12v6H70v-6zm0 8h12v6H70v-6zM14 24h12v6H14v-6zm14-8h12v6H28v-6zM14 8h12v6H14V8zM0 8h12v6H0V8z' fill='%2327495D' fill-opacity='0.15' fill-rule='evenodd'/%3E%3C/svg%3E");
	// background-size: 100% 100%;
	h1 {
		text-align: center;
		.font-size(3);
		padding-left: 1em/3;
		padding-right: 1em/3;
		margin-bottom: 1em/@first-modular	;
	}
	p {
		text-align: center;
		margin-bottom: 2rem;
	}
	#contact-form {
		background-color: fadeout(#fff, 60%);
		margin: 0.25rem;
		margin-top: 0;
		padding: 1em 1em 1em*@first-modular;
		box-shadow: -1px 1px 6px 3px #7385a2;
		.row {
			overflow: hidden;
		}
		>fieldset {
			border-width: 0px;
			padding: 0;
			// legend {
			// 	font-weight: normal;
			// 	color: @japanese-indigo;
			// 	.font-size(.75);
			// 	border-bottom: 2px solid @japanese-indigo;
			// 	padding-bottom: .5em;
			// 	border-top: 2px solid @japanese-indigo;
			// 	padding-top: .5em;
			// 	margin-bottom: 1em;
			// }
		}
		input,
		textarea {
			border-width: 0 0 2px;
			border-style: solid;
			border-color: @sea-green;
			background-color: transparent;
			border-bottom-left-radius: 1px;
			border-bottom-right-radius: 1px;
			height: auto;
			.font-size(1.25);
			padding: 1em 0 .5em;
			padding-left: .25em;
			&:focus {
				outline: 0;
			}
		}
		textarea {
			// min-height: 150px;
			&:focus {
				outline: 0;
				height: 150px;
			}
		}
		input[type="submit"],
		button.g-recaptcha {
			color: #fff;
			display: block;
			.font-size(1);
			margin: 1.5em*@first-modular auto 0;
			padding: .75em 1.5em;
			min-width: 10em;
			width: 65%;
			border-width: 0px;
			text-transform: uppercase;
			border-radius: 2px;
			background: linear-gradient(to bottom, @sea-green 25%, darken(@sea-green, 10%));
			transition: color .5s ease-out;
			&:hover {
				cursor: pointer;
				color: #fff;
				background-color: @japanese-indigo;
			}
		}
		button.g-recaptcha {
			display: none;
		}
	}
	// @media (@sm-query) {
	// 	height: 100vh;
	// 	display: flex;
	// 	justify-content: flex-start; // fixes bug on ie
	// 	align-items: center;
	// 	padding: 0;
	// 	#contact-form {
	// 		width: 100% / @second-modular;
	// 		margin: .5rem/@first-modular auto;
	// 		.base(padding, 1/2);
	// 		>fieldset {
	// 			.base(padding, 0.25rem);
	// 		}
	// 		button.g-recaptcha {
	// 			width: (100% / @first-modular) / @first-modular;
	// 		}
	// 		input,
	// 		textarea {
	// 			padding-left: @1-rem/@first-modular;
	// 		}
	// 	}
	// }
	@media (min-width: 27.75em) {
		padding-left: 5%;
		padding-right: 5%;
	}
	@media (min-width: 32.875em) {
		padding-top: 2em*@first-modular;
		h1 {
			.font-size(3.5);
		}
		p {
			.font-size(1.5);
		}
		#contact-form {
			max-width: 37.5em;
			margin-left: auto;
			margin-right: auto;
			button.g-recaptcha {
				.font-size(1.3);
			}
		}
		#contact-form fieldset {
			padding-left: 1.5em;
			padding-right: 1.5em;
		}
		#contact-form input,
		#contact-form textarea {
			padding-top: 1.2em;
		}
	}
	@media (min-width: 46.375em) {
		padding-top: 2em*@first-modular;
		h1 {
			.font-size(4);
		}
		p {
			.font-size(2);
		}
		#contact-form {
			padding-bottom: 2em;
			input,
			textarea {
				.font-size(1.5);
			}
			button.g-recaptcha {
				.font-size(1.75);
			}
		}
	}
	@media (min-width: 67.5em) {
		padding-top: 3em*@first-modular;
		h1, p {
			max-width: 80%;
			margin-left: auto;
			margin-right: auto;
		}
		h1 {
			.font-size(4.5);

			margin-bottom: 0.5rem;
		}
		p {
			.font-size(2.25);
			margin-bottom: 2.5rem;
			max-width: 75%;
		}

		#contact-form {
			fieldset {
				padding-top: 1em;
			}
			button.g-recaptcha {
				max-width: 50%;
			}
		}
	}
	@media (min-width: 79.75em) {
		h1 {
			.font-size(4.75);
			max-width: none;
		}
		#contact-form {
			min-width: calc(36.25em + 10);
			input,
			textarea {
				.font-size(1.75);
			}
		}
	}
	@media (min-height: 50em) {
		height: 100vh;
	}
	@media (min-width: 102.5em) {
		padding-top: 5em*@first-modular;
		h1 {
			.font-size(5);
			width: auto;
		}
		#contact-form {
			min-width: 50em;
		}
	}
}
