/**
	* Index.php (Landing Page)
	*
 	* Import base styles
	*/
	@import 'base/base.less';
	@import 'theme/theme.less';



#business-top {
	position: relative;
	background-color: @background-color;
	background-image: url(/_images/air-triangulated.jpg);
	background-position: center 0%;
	background-repeat: no-repeat;
	background-size: cover;
	height: auto;
	min-height: 26.666em;
	text-align: center;
	padding-top: 5rem;
	padding-bottom: 2em*@first-modular;
	div.callout {
		padding-left: .75em;
		padding-right: .75em;
		height: 100%;
		text-align: center;
	}
	h1 {
		color: @hero-color;
		text-shadow: 1px 1px 1px darken(@hero-color, 10%);
		.font-size(4);
		margin: 0 auto;
		text-align: center;
		line-height: 1.2;
		letter-spacing: -0.03em;
		font-weight: 800;
		>span {
			font-size: inherit;
			color: @sea-green;
			line-height: inherit;
		}
		@media (min-width: 24.375em) {
			.font-size(4.25);
		}
		@media (min-width: 64em) {
			.font-size(6);
			text-align: left;
		}
	}
	p {
		display: none;
		color: darken(@hero-color,10%);
		letter-spacing: 0.02em;
		font-weight: normal;
	}
	a {
		display: inline-block;
		max-width: 13.75em;
		width: auto;
		margin: 1.5em auto 0;
		text-transform: capitalize;
		letter-spacing: 1px;
		font-weight: bold;
		color: @hero-color;
		background-color: none;
		text-transform: uppercase;
		padding: @1-rem/@first-modular @1-rem;
		text-decoration: none;
		border-radius: 2px;
		border: 1px solid @hero-color;
		&:hover,
		&:active {
			border-color: transparent;
			background-color: @hero-color;
			color: #fff;
		}
	}
	@media (max-height: 40.88em) {
		height: 480px;
		height: 100vh;
		position: relative;
		a#down-arrow {
			display: inline-block;
			height: 3rem;
			width: 3rem;
		}
	}
	@media (min-width: 56.555em) {
		padding-top: 6.5em;
		div.callout {
			width: @tablet-content-width;
		}
		h1 {
			.font-size(5);
		}
		p {
			.font-size(2.25);
			width: 56%;
		}
		a {
			.font-size(1.75);
		}

	}
/**
	*	@tablet-breakpoint-a
	*/
	@media (@tablet-breakpoint) {
		background-size: cover;
		padding-top: 6.25em;
		padding-bottom: 10em;
		min-height: 40em;
		div.callout {
			text-align: left;
		}
		h1 {
			// .font-size(4.75);
			text-align: left;
		}
		p {
			display: block;
			.font-size(1.85);
		}
		a {
			.font-size(1.85);
		}
		a#down-arrow {
			display: inline-block;
		}
	}
	@media (@desktop-breakpoint) and (min-height: 57.125em) {
		background-size: cover;
		background-position: 90%;
		height: 100vh;
		div.callout {
			width: @desktop-content-width;
		}
		h1 {
			.font-size(6);
		}
		p {
			.font-size(2.4);
		}
	}
	@media (min-width: 98.4375em) {
		padding-top: 10em;
		div.callout {
			width: 70em;
		}
		p {
			width: 38%;
		}
		a {
			// width: 30%;
		}
		a#down-arrow {
			height: 4.5rem;
			width: 4.5rem;
		}
	}
	@media (min-height: 48em) {
		height: 100vh;
	}
}

/**
	* Banner Image
	*/


/**
	* Landing Page, 2nd Section
	*/
	.main-container {
		text-align: center;
		color: darken(@hero-color, 12%);
		background: #fff;
		/**
			* 2nd Page Banner
			*/
		#landing-banner {
			// font-size: 1.2em;
			background-color: @hero-color;
			.gradient-background();
			#intro-copy {
				font-size: 1.4em;
			}
		}
		/**
			* Services Images
			*/
		.service-image {
			max-width: 28em;
		}
		// a {
		// 	color: inherit;
		// 	font-weight: bold;
		// 	margin-bottom: 2.5rem*@first-modular;
		// }
		#intro-copy,
		#cta-banner {
			padding: 2.5em 0;
		}
		#intro-copy {
			color: #fff;
			text-align: center;
			h2 {
				.h3;
				margin-top: 0;
			}
		}
		#cta-banner {
			text-align: center;
			p, a {
				.h3;
			}
			p {
				font-weight: lighter;
				margin-top: 0;
			}
		}

	/**
		* Table Breakpoint
		*/
		@media (@tablet-breakpoint) {
			text-align: left;
			.container {
				width: @tablet-content-width;
				margin: 0 auto;
				a {
					margin-top: 1em*@first-modular;
				}
			}
			#intro-copy,
			#cta-banner,
			.panel-inner {
				font-size: 1.2em;
			}
			#cta-banner {
				padding: 2em 0;
			}
			.service-image {
				// max-width: none;
				max-width: 24em;
			}
			.service-image.left {
				float: left;
			}
			.service-image.right {
				float: right;
			}
		}
	/**
		* Desktop Breakpoint
		*/
		@media (@desktop-breakpoint) {
			.container {
				width: @desktop-content-width;
			}
			#intro-copy,
			#cta-banner,
			.panel-inner {
				font-size: 1.3em;
			}
			.panel-inner.right {
				text-align: right;
			}
		}
	/**
		* Large Desktop Breakpoint
		*/
		@media (@lg-desktop-breakpoint) {
			.container {
				width: @lg-desktop-content-width;
			}
			#intro-copy,
			#cta-banner,
			.panel-inner {
				// font-size: 1.35em;
			}
		}
	}



.no-flexbox #work-with-us {
	#columns>div {
		margin-bottom: 2.25em;
	}
	@media (min-width: 69.25em) {
		#columns {
			width: 100%;
			display: block;
			>div {
				width: 33.33%;
				float: left;
			}
		}
		a {
			clear: both;
			margin-top: 5em;
		}
	}
	@media (min-width: 94.5em) {
		#columns>div p {
			padding-left: 2%;
			padding-right: 2%;
		}
	}
}
