/* index.php (main) */

// #elevate-business h2,
// #website-important h3 {
// 	font-family: @header-font;
// }
// #website-important dt {
// 	font-weight: bold;
// }

#business-top {
	position: relative;
	background-color: @background-color;
	background-image: url(../_images/air-triangulated.jpg);
	background-position: center 0%;
	background-repeat: no-repeat;
	height: auto;
	min-height: 480px;
	.base(padding,top,2);
	@media (max-height: 460px) {
		height: 480px;
	}
	@media (@sm-query) {
		background-size: 100%;
		height: 100vh;
	}
	@media (@md-query) {
		background-size: cover;
		overflow: hidden;
	}
	.callout {
		// .base(padding,left,.25);
		// .base(padding,right,.25);
		@media (@sm-query) {
			// .base(padding,left,.5);
			// .base(padding,right,.5);
		}
		@media (@md-query) {
			.base(padding,top,3);
		}
		h1 {
			color: #467F96;
			font: @header-font;
			text-shadow: 1px 1px 1px darken(@hero-color, 10%);
			.font-size(4);
			margin: 0 auto;
			text-align: center;
			>span {
				font-size: inherit;
				color: #35885f;
				line-height: 0;
			}
			@media (@sm-query) {
				.font-size(5);
			}
			@media (@md-query) {
				// .base(padding,top,5);
				.font-size(6);
				text-align: left;
			}
		}
		div.callout-container {
			width: 100%;
			position: absolute;
			top: 480px;
			left: 0;
			right: 0;
			text-align: center;
			background-color: #fff;
			.base(padding,top,0.5);
			.base(padding,bottom,3);
			box-shadow: inset 0px 2px 10px 0px #467F96;
			display: none;
			@media (@sm-query) {
				.base(padding,top,1);
				.base(padding,bottom,4);
				top: 28rem;
				display: inline;
			}
			@media (@md-query) {
				position: static;
				background-color: transparent;
				box-shadow: none;
				text-align: left;
				padding-top: 0;
			}
			p {
				font-family: @body-font;
				.font-size(1);
				color: darken(@hero-color,15%);
				font-weight: 400;
				margin-left: auto;
				margin-right: auto;
				.base(margin,bottom,1.5);
				// padding-left: 0.2;
				// padding-right: 0.5rem;
				@media (@sm-query) {
					.font-size(1.5);
				}
				@media (@md-query) {
					.font-size(2);
					width: 70%;
					margin-left: 0;
				}
				@media (@lg-query) {
					width: 60%;
					.font-size(2.25);
				}
			}
			a {
				display: inline-block;
				font-family: @body-font;
				color: white;
				// font-weight: 700;
				letter-spacing: 1px;
				padding: @1-rem/@first-modular @2-rem;
				.font-size(1);
				background-color: #35885f;
				text-decoration: none;
				border-radius: 2px;
				box-shadow: 0 2px 3px 0px #555;
				@media (@sm-query) {
					.font-size(1.5);
				}
				&:hover,
				&:active {
					background-color: #467F96;
				}
			}
		}
	}
}

#complicated-web {
	color: @hero-color;
	background-color: white;
	background-color: #e6f4fb;
	background-image: svg-gradient(to bottom, #e6f4fb 50% 10%, lighten(#e6f4fb,5%));
	background-repeat: no-repeat;
	background-size: cover;
	text-align: center;
	.base(padding,top,2);
	.base(padding,bottom,1*@first-modular);
	// padding-left: .5rem;
	// padding-right: .5rem;
	// box-shadow: inset 3px -3px 8px 1px @japanese-indigo;
	h2 {
		font-family: @body-font;
		font-weight: 700;
		.font-size(2.5);
		margin-top: 0;
		color: @hero-color;
	}
	p {
		.base(padding,.25);
		.font-size(1);
		color: @hero-color;
		font-weight: 400;
		padding-left: .25rem;
		padding-right: .25rem;
	}
	p + p {
		padding-top: @1-rem;
		padding-bottom: @1-rem;
		// color: @sea-green;
		em {
			// font-weight: bold;
			font-style: normal;
		}
	}
	a {
		width: 90%;
		&:extend(#business-top .callout div.callout-container a);
		// background-color: @moonstone-blue;
		margin: 1rem auto;
		font-weight: bold;
		.font-size(1.15);
		transition: all 1s;
		&:hover {
			background-color: @hero-color;
		}
	}
	p:last-of-type {
		font-weight: bold;
		margin-top: 0;
		padding-top: 0;
	}
	@media (min-width: 36em) {
		p {
			// padding-left: 1.5%;
			// padding-right: 1.5%;
			padding: 0;
		}
		a {
			max-width: 20em;
		}
	}
	@media (min-width: 48em) {
		h2 {
			// .font-size(3.5);
		}
		p {
			// padding-left: 3%;
			// padding-right: 3%;
			.font-size(1.5);
		}
		a {
			max-width: 60%;
			.font-size(1.6);
		}
	}
	// desktops
	@media (min-width: 80em) {
		padding-bottom: 4rem*@first-modular;
		height: 100vh;
		h2 {
			.font-size(4);
		}
		p {
			// width: 60rem;
			margin-left: auto;
			margin-right: auto;
			.font-size(2);
		}
		p:last-of-type {
			.font-size(2.1);
			// .border;
		}
		a {
			max-width: 30rem;
			.font-size(2.1);
		}
	}
}

#website-important {
	// display: none;
	.base(padding,top,2);
	.base(padding,bottom,2);
	background-color: #fff;
	>div {
		text-align: center;
		h3 {
			.font-size(2/@first-modular);
			.base(margin,bottom,1);
			padding-left: @1-rem/@second-modular;
			padding-right: @1-rem/@second-modular;
			color: darken(@hero-color,10%);
			@media (@sm-query) {
				.font-size(2);
				position: relative;
				.base(margin,bottom,1*@first-modular);
				font-weight: bold;
				&::after {
					content: "";
					height: 5px;
					width: 12.5%;
					position: absolute;
					background-color: darken(@hero-color, 8%);
					bottom: -@1-rem*@second-modular;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
		dl,
		dd {
			padding-left: 0;
		}
		dl {
			text-align: center;
			.font-size(1/@second-modular);
			margin-left: @1-rem/3;
			margin-right: @1-rem/3;
		}
		dl>.row {

			div:nth-child(1) dt {
				color: #4F1271;
			}
			div:nth-child(2) dt {
				color: #056a5f;
			}
			div:nth-child(3) dt {
				color: #345995;
			}
			dt {
				font-size: 130%;
			}
			dd {
				color: darken(@hero-color,10%);
			}
		}
		dd {
			.base(margin,bottom,1);
		}
		dt,
		dd {
			padding-left: 12px;
			padding-right: 12px;
		}
		@media (@md-query) {
			.base(margin,top,2);
		}
	}
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.45);
	@media (@md-query) {
		min-height: 100vh;
	}
}

footer {
	display: none;
}

@media (@md-query) {
	html,
	body {
		// overflow: hidden;
	}
}
