/* index.php (main) */

#elevate-business h2,
#website-important h3 {
	font-family: @header-font;
}
#website-important dt {
	font-weight: bold;
}

#business-top {
	position: relative;
	background-color: @background-color;
	background-image: url(../_images/air-triangulated.jpg);
	background-position: center 0%;
	background-repeat: no-repeat;
	height: auto;
	min-height: 480px;
	.base(padding,top,2);
	@media (max-height: 460px) {
		height: 480px;
	}
	@media (@sm-query) {
		background-size: 100%;
		height: 100vh;
	}
	@media (@md-query) {
		background-size: cover;
		overflow: hidden;
	}
	.callout {
		.base(padding,left,.25);
		.base(padding,right,.25);
		@media (@sm-query) {
			.base(padding,left,.5);
			.base(padding,right,.5);
		}
		@media (@md-query) {
			.base(padding,top,3);
		}
		h1 {
			color: #467F96;
			font: @header-font;
			text-shadow: 1px 1px 1px darken(@hero-color, 10%);
			.font-size(4);
			margin: 0 auto;
			text-align: center;
			>span {
				font-size: inherit;
				color: #35885f;
			}
			@media (@sm-query) {
				.font-size(5);
			}
			@media (@md-query) {
				// .base(padding,top,5);
				.font-size(5.5);
				text-align: left;
			}
		}
		div.callout-container {
			width: 100%;
			position: absolute;
			top: 480px;
			left: 0;
			right: 0;
			text-align: center;
			background-color: #fff;
			.base(padding,top,0.5);
			.base(padding,bottom,3);
			box-shadow: inset 0px 2px 10px 0px #467F96;
			@media (@sm-query) {
				.base(padding,top,1);
				.base(padding,bottom,4);
				top: 28rem;
			}
			@media (@md-query) {
				position: static;
				background-color: transparent;
				box-shadow: none;
				text-align: left;
				padding-top: 0;
			}
			p {
				font-family: @body-font;
				.font-size(1);
				color: #314873;
				font-weight: 400;
				margin-left: auto;
				margin-right: auto;
				.base(margin,bottom,1.5);
				padding-left: 0.5rem;
				padding-right: 0.5rem;
				@media (@sm-query) {
					.font-size(1.5);
				}
				@media (@md-query) {
					.font-size(2);
					width: 70%;
					margin-left: 0;
				}
				@media (@lg-query) {
					width: 60%;
					.font-size(2);
					// .base(margin,bottom,2);
				}
			}
			// p+p {
			// 	color: #333;
			// 	.font-size(1.5);
			// 	font-weight: normal;
			// 	.base(margin,bottom,1.5);
			// 	width: 50%;
			// }
			a {
				font-family: @body-font;
				color: white;
				// font-weight: 700;
				letter-spacing: 1px;
				padding: @1-rem/@first-modular @2-rem;
				.font-size(1);
				background-color: #35885f;
				text-decoration: none;
				border-radius: 2px;
				box-shadow: 0 2px 3px 0px #555;
				@media (@sm-query) {
					.font-size(1.5);
				}
				&:hover,
				&:active {
					background-color: #467F96;
				}
			}
		}
	}



}

#elevate-business {
	display: none;
	height: auto;
	background: #fff svg-gradient(to bottom, @pewter-blue 25%, rgba(255, 255, 235, 50%));
	.base(padding,top,1);
	.base(padding,bottom,2);
	>div {
		text-align: center;
		padding-left: @1-rem/@second-modular;
		padding-right: @1-rem/@second-modular;
		@media (@md-query) {
			width: 70%;
			margin-left: auto;
			margin-right: auto;
			.base(margin,top,3);
		}
		h2 {
			color: darken(@hero-color, 8%);
			.font-size(2);
			@media (@sm-query) {
				.font-size(3/@second-modular);
				font-weight: bold;
			}
			@media (@md-query) {
				.font-size(3);
				.base(margin,bottom,1*@first-modular);
			}
		}
		#mountain-layout {
			>div.col {
				position: relative;
				.base(margin,top,1);
				padding-left: @1-rem/@second-modular;
				padding-right: @1-rem/@second-modular;
				padding-bottom: @1-rem/@second-modular;
				@media (@md-query) {
					// min-height: 368px;
					// &:first-child>p {
					// 	position: absolute;
					// 	bottom: 0;
					// }
					// &:nth-child(2)>p {
					// 	position: absolute;
					// 	top: 20%;
					// }
					// &:nth-child(3)>p {
					// 	position: absolute;
					// 	top: -10%;
					// }
				}
			}
		}
		p {
			color: #1a4b67;
			.font-size(1);
			@media (@md-query) {
				.font-size(1/@second-modular);
				margin-left: auto;
				margin-right: auto;
			}
		}


	}
	@media (@md-query) {
		min-height: 100vh;
	}
}

#website-important {
	display: none;
	.base(padding,top,2);
	.base(padding,bottom,2);
	background-color: #fff;
	background-image: url(../_images/backgrounds/circle-mess-multi.svg);
	>div {
		text-align: center;
		h3 {
			.font-size(2/@first-modular);
			.base(margin,bottom,1);
			padding-left: @1-rem/@second-modular;
			padding-right: @1-rem/@second-modular;
			color: darken(@hero-color,10%);
			@media (@sm-query) {
				.font-size(2);
				position: relative;
				.base(margin,bottom,1*@first-modular);
				font-weight: bold;
				&::after {
					content: "";
					height: 5px;
					width: 12.5%;
					position: absolute;
					background-color: darken(@hero-color, 8%);
					bottom: -@1-rem*@second-modular;
					left: 50%;
					transform: translateX(-50%);
				}
			}
		}
		dl,
		dd {
			padding-left: 0;
		}
		dl {
			text-align: center;
			.font-size(1/@second-modular);
			margin-left: @1-rem/3;
			margin-right: @1-rem/3;
		}
		dl>.row {

			div:nth-child(1) dt {
				color: #4F1271;
			}
			div:nth-child(2) dt {
				color: #056a5f;
			}
			div:nth-child(3) dt {
				color: #345995;
			}
			dt {
				font-size: 130%;
			}
			dd {
				color: darken(@hero-color,10%);
			}
		}
		dd {
			.base(margin,bottom,1);
		}
		dt,
		dd {
			padding-left: 12px;
			padding-right: 12px;
		}
		@media (@md-query) {
			.base(margin,top,2);
		}
	}
	box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.45);
	@media (@md-query) {
		min-height: 100vh;
	}
}

// about section
// #about {
// 	height: auto;
// 	min-height: 100vh;
// 	background-color: #fff;
// 	background-image: url(../_images/backgrounds/circle-mess-multi.svg);
// 	ul#key-list {
// 		li {
// 			&:nth-child(1) {
// 				color: #4F1271;
// 			}
// 			&:nth-child(2) {
// 				color: #1B998B;
// 			}
// 			&:nth-child(3) {
// 				color: #345995;
// 			}
// 			&:nth-child(4) {
// 				color: #5E0B15;
// 			}
// 		}
// 	}

footer {
	display: none;
}

@media (@md-query) {
	html,
	body {
		overflow: hidden;
	}
}
