/**
* Portfolio styles
*/

/* import base styles */
@import 'base/base.less';
@import 'theme/theme.less';

#portfolio {
	padding: 2.5rem*@first-modular 0.5rem;
	.border;
	.image-port {
		min-height: 25em;
		height: 100%;
		background-repeat: no-repeat;
		background-size: cover;
		margin-bottom: 2rem;
		background-position: top left;
	}
	#cirs {
		background-image: url(../_images/portfolio/cirs-mid.png);
	}
	#songfarm {
		background-image: url(../_images/portfolio/songfarm-mid.png);
	}
	#luna {
		background-image: url(../_images/portfolio/luna-mid.png);
		background-position: top left;

	}
}
