/**
* Portfolio styles
*/

/* import base styles */
@import 'base/base.less';
@import 'theme/theme.less';

main#portfolio-main {

	background-color: lighten(@background-color,20%);
	background-image: url(../_images/low-polys.svg);
	background-position: left top;
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 5rem;
	#portfolio {
		padding: 2.5rem*@first-modular 0.5rem;
		max-width: 100rem;
		margin-left: auto;
		margin-right: auto;

		/** Main page title styles **/
		.portfolio-main {
			// margin-left: 1.618%;
		}
		.portfolio-main.portfolio-main-title {
			.font-size(3);
			color: darken(@hero-color, 5%);
			font-weight: 700;
			&::after {
				/** add visible corner to bottom of description **/
				content: "";
				display: block;
				height: 3px;
				width: 3%;
				background-color: @hero-color;
				position: relative;
				bottom: -1rem * @first-modular;
			}
		}
		.portfolio-main.portfolio-main-description {
			// .font-size(1.5);
			margin-bottom: 2rem;
			margin-top: 2em;
			color: inherit;
		}

		/** iFrame is connected to portfolio links/thumbnails **/
		iframe {
			display: none;
		}

		/** portfolio thumbnail source **/
			#cirs {
				background-image: url(../_images/portfolio/cirs-mid.png);
				// .grow-1;
			}
			#songfarm {
				background-image: url(../_images/portfolio/songfarm-mid.png);
				// .grow-2;
			}
			#luna {
				background-image: url(../_images/portfolio/luna-mid.png);
				// .grow-3;
			}
			#hollis {
				background-image: url(../_images/portfolio/hollis.png);
				// .grow-4;
			}

		.portfolio-item {
			margin-bottom: 2em * @first-modular;

			.portfolio-title {
				color: @hero-color;
				.font-size(2.25);
			}
			.portfolio-description {
				margin-top: 0;
				margin-bottom: 1em;
				abbr,
				a {
					text-decoration: none;
					font-size: inherit;
					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}
			}
			.portfolio-thumbnail-container {
				display: block;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: top left;
				box-shadow: 1px 1px 3px 0px #333;
				height: 100%;
				min-height: 20em;
				// .growOnHover();
				.fadeInUp;
				&:hover {
					box-shadow: 0px 0px 6px 3px fadeout(#333, 50%);
				}
			}
		}


		@media (min-width: 26.25em) {
			margin-bottom: 2.5rem;
			.portfolio-item .portfolio-thumbnail-container {
				min-height: 30em;
			}
		}
		@media (min-width: 42.5em) {
			margin-bottom: 3.5rem;

			h1.portfolio-main.portfolio-main-title {
				.font-size(3.5);
			}
			p.portfolio-main.portfolio-main-description {
				// .font-size(2);
			}

			.portfolio-item {
				// .portfolio-desc-container {
				// 	min-height: 22em;
				// 	.border;
				// }
				.portfolio-thumbnail-container {
					min-height: 42.5rem;
					// .border(blue);
				}
			}


		}
		@media (min-width: @grid-breakpoint) {
			margin-bottom: 3.5rem;
			.portfolio-item {
				.portfolio-desc-container {
					// .border;
				}
			}
			.portfolio-main {
				margin-left: 1.618%;
			}
			h1.portfolio-main.portfolio-main-title {
				.font-size(4);
				// margin-left: unit(@first-modular, %);
			}
			p.portfolio-main.portfolio-main-description {
				font-size: 1.6em;
			}
			#luna {
				// background-image: url(../_images/portfolio/luna-mid.png);
				background-position: top center;
			}

			.portfolio-description {
				min-height: 8em;
			}

		}

		@media (min-width: 78em) {
			.portfolio-item {
				.portfolio-desc-container {
					// .border(yellow);
					// min-height: 18em;
				}
			}
		}
	}
}
