/**
* Service Pages (development)
*	- Jan 22,2017
**/

/* import base styles */
@import 'base/base.less';
@import 'theme/theme.less';
@import 'theme/price-table.less';

/* individual service backgrounds */
#development-bg {
	background-image: url('/_images/backgrounds/polygon-bg-green-min.jpg');
}
#maintenance-bg {
	background-image: url('/_images/backgrounds/polygon-bg-pink-min.jpg');
}
#optimization-bg {
	background-image: url('/_images/backgrounds/polygon-bg-purple-min.jpg');
}
.hero-panel {
	background-color: #fff; // background color here
	background-size: cover;
	background-position: center top; // make sure top
}

/**
	* Set a max-width, centered container for mobile
	*/
.mobile-max-width {
	max-width: 52em;
	margin-left: auto;
	margin-right: auto;
}

main {
	background-color: #fff;
	color: @hero-color;

	/**
		* A distinct, colored panel
		*/
	// .special {
	// 	background-color: #e2ffe8;
	// 	background-image: svg-gradient(to bottom, lighten(#e2ffe8,3%) 50%, #e2ffe8);
	// 	border-top: 1px solid darken(#e2ffe8, 5%);
	// 	border-bottom: 1px solid darken(#e2ffe8, 5%);
	// 	color: #285b4b;
	// 	box-shadow: 0px 2px 4px 0px #285b4b;
	// 	.service-unit {
	// 		border-right: 5px solid #285b4b;
	// 		padding-right: 2em !important;
	// 		padding-bottom: 0;
	// 	}
	// 	.service-icon {
	// 		max-width: 12em;
	// 		float: right;
	// 		margin-left: 1em;
	// 	}
	// 	.cost {
	// 		font-weight: 700;
	// 		>span {
	// 			font-weight: 300;
	// 		}
	// 	}
	// 	@media (@tablet-breakpoint) {
	// 		.service-unit {
	// 			text-align: right;
	// 		}
	// 		.service-icon {
	// 			float: left;
	// 			margin-right: 1em;
	// 			max-width: 14em;
	// 		}
	// 	}
	// }

	.hero-panel {
		padding: 6em 1em 3em;
		color: darken(@hero-color, 10%);
		text-align: center;
		.hero-panel-container {
			.mobile-max-width();
			.hero-panel-inner {
				font-size: 1em;
				.hero-title {
					font-size: 2em;
					font-weight: 700;
					color: darken(@hero-color,10%);
					text-transform: capitalize;
				}
				.hero-byline {
					font-size: 1.6em;
				}
			}
		}
	}

	.service-container {

		/** this really isn't semantically right
			* this is a decorative bar
			*/
		.service-intro-container {
			.gradient-background();
			color: #fff;
			text-align: center;
			height: 30px;
			box-shadow: 0px 2px 3px 0px darken(@hero-color, 25%);
			.service-intro {
				padding: 2em 0.5em 2.5em;
				font-size: 0.8em;
				/** content hidden **/
				display: none;
				.service-title {
					margin-bottom: 0;
				}
				.service-byline {
					font-size: 1.8em;
					margin-top: 0.5em;
				}
			}
		}

		.panel-container {
			// .service-unit {
			// 	font-size: 1em;
			// 	.mobile-max-width();
			// 	ul {
			// 		list-style-type: circle;
			// 		padding: 0 0 0 1.5em;
			// 		li {
			// 			color: inherit;
			// 			margin-bottom: 0.25rem;
			// 			line-height: @line-height;
			// 			&:last-of-type {
			// 				margin-bottom: 0;
			// 			}
			// 			>a {
			// 				font-style: inherit;
			// 				font-size: inherit;
			// 				font-weight: inherit;
			// 				line-height: inherit;
			// 				text-decoration: none;
			// 				&:hover {
			// 					text-decoration: underline;
			// 				}
			// 			}
			// 		}
			// 	}
			// 	p.cost {
			// 		font-style: italic;
			// 	}
			// }
		}
	}

	@media (@tablet-breakpoint) {

		.hero-panel {
			padding: 7.5em 0 3.75em;

			.hero-panel-container {
				max-width: none;
				width: @tablet-content-width;
				.hero-panel-inner {
					font-size: 1.2em;
				}
			}
		}

		.service-container {

			.service-intro-container {
				.service-intro {
					font-size: 0.95em;
				}
			}
			.panel-container {
				width: @tablet-content-width;
				margin: 0 auto;
				// .service-unit {
				// 	max-width: none;
				// 	padding: 0;
				// }
				// .service-unit {
				// 	font-size: 1.15em;
				// }
			}
		}
	}

	@media (@desktop-breakpoint) {

		.hero-panel {
			padding: 8.5em 0 4.25em;
			// height: 16em;
			.hero-panel-container {
				width: @desktop-content-width;
				// display: none;
				.hero-panel-inner {
					font-size: 1.35em;
				}
			}
		}

		.service-container {

			.service-intro-container {
				height: 60px;
				// display: none;
				.service-intro {
					font-size: 1.1em;
					display: none; /* temp: hide service-intro copy - May 28/17 */
				}
			}

			.panel-container {
				width: @desktop-content-width;
				// .service-unit {
				// 	font-size: 1.3em;
				// }
			}

		}

		// .cta-container {
		// 	font-size: 1.3em;
		// }

	}

	@media (@lg-desktop-breakpoint) {

		.hero-panel {
			padding: 10em 0 5em;
			.hero-panel-container {
				width: @lg-desktop-content-width;
				.hero-panel-inner {
					font-size: 1.8em;
					.hero-byline {
						font-size: 1.4em;
					}
				}
			}
		}

		.service-container {
			.panel-container {
				width: @lg-desktop-content-width;
				.service-unit {
					// font-size: 1.45em;
				}
			}
		}
	}
}

.flexbox main {
	section.features {
		ul {
			display: flex;
			flex-wrap: wrap;
			li {
				flex: 1 0 100%;
				>div {
					display: flex;
					justify-content: space-between;
					flex-wrap: nowrap;
				}
			}
		}
	}
	@media (min-width: 26.25em) {
		section.features {
			ul li > div span {
				flex-grow: 2;
			}
		}
	}
	@media (min-width: 44em) {
		section.features {
			ul > li {
				flex: 0 0 49%;
				margin-right: 1%;
			}
		}
	}
	@media (min-width: 80.25em) {
		section.features {
			ul li {
				flex-basis: 49%;
				margin-right: 1%;
			}
		}
	}
}

.no-flexbox main {
	blockquote {
		clear: both;
	}
	section.features {
		ul,
		ul li div {
			overflow: hidden;
		}
		ul li div {
			span {
				float: left;
				max-width: 48%;
			}
			img {
				float: right;
				max-width: 48%;
				max-height: 4.75em;
			}
		}
	}
	@media (min-width: 36.25em) {
		section.features {
			ul li {
				width: 49%;
				margin-right: 1%;
				float: left;
			}
		}
	}
	@media (min-width: 62.25em) {
		section.features {
			ul li > div {
				span,
				img {
					max-width: none;
				}
				span {
					width: 65%;
				}
				img {
					width: 35%;
				}
			}
		}
	}
}

aside.content-aside {
	border: 1px solid #aaa;
	background: #eee;
	margin-top: 2rem*@first-modular;
	margin-right: 2rem;
	padding: 1rem;
	p {
		margin-top: 1rem/2;
		font-style: italic;
		.font-size(.8);
	}
	@media (min-width: 54em) {
		float: left;
		padding-left: 2rem;
		min-width: 24em;
		max-width: 34em;
	}
}


/**
	* Features Grid
	*/
.feature-grid {
	padding-bottom: 4rem*@first-modular;
	margin-top: 1em;
	.title,
	.subtitle,
	.col {
		text-align: center;
	}
	.title {
		margin-bottom: 0;
	}
	.subtitle {
		font-size: 1.4em * 1.15;
		margin-bottom: 1em * @second-modular;
		margin-top: 0.5em;
	}
	.feature {
		padding-top: 1em * @second-modular;
	}
	.feature {
		.feature-photo {
			width: 64px;
			max-width: 100px;
		}
		.feature-header {
			font-size: 125%;
			font-family: Verdana;
		}
	}
	@media (@desktop-breakpoint) {
		.title {
			margin-bottom: 0;
		}
		.subtitle {
			margin: 0 0 1em;
			font-size: 150%;
		}
		.feature {
			font-size: 85%;
			padding-top: 2em;
		}
	}
}


.small-list {
	width: 80%;
	margin: 2rem*@first-modular auto;
	font-size: 100%;
	font-family: @second-font;
	display: none;
	li {
		margin-left: 1em * @first-modular;
		// font-size: 1em;
	}
	p {
		font-size: inherit;
		font-weight: bold;
	}
}
