/* import base styles */
@import 'base/base.less';
@import 'theme/theme.less';

/* to apply background colors to certain sections */
.green-bg {
	background: #52c38c svg-gradient(to bottom, #52c38c 50%, #239d62);
	&:hover {
	}
}
.blue-bg {
	background: #48c6df svg-gradient(to bottom, #48c6df 50%, #1c9eb8);
}
.purple-bg {
	background: #895cbd svg-gradient(to bottom, #895cbd 50%, #552987);
}
.green-bg,
.blue-bg,
.purple-bg {
	&:hover {
		cursor: pointer;
	}
}

main#website-services {
	background-image: url('../../_assets/fallbacks/backgrounds/polygon-bg-main-min.jpg');
	position: relative;
	padding-top: 3.5rem*@first-modular; // adjust top of paragraph from top-viewport
	background-color: white;
	background-size: cover;
	text-align: center;
	color: #487F98;
	padding-bottom: 2rem;
	height: auto;
	section {
		>h1 {
			margin: 0 auto 1em;
			padding: 0;
			padding-left: 1em;
			padding-right: 1em;
			.font-size(2.25);
			font-weight: 400;
		}
		#service-display {
			padding-left: 1rem/1.618;
			padding-right: 1rem/1.618;
			a {
				text-decoration: none;
				display: block;
			}
			@media (min-width: 46em ) {
				padding-left: 1rem;
				padding-right: 1rem;
			}
			section.service-section {
				height: auto;
				min-height: 300px;
				max-width: unit(480/18, em);
				text-align: center;
				background-color: #fff;
				padding-bottom: 1rem;
				margin: 0 auto;
				margin-bottom: 2rem;
				box-shadow: 1px 1px 4px 1px #337592;
				// see helper.less for growOnHover
				.fadeInUp;
				// .growOnHover;
				h3 {
					padding-top: 1rem;
					padding-bottom: 1rem;
					font-weight: 700;
					.font-size(1.9);
					color: white;
				}
				h3,
				button {
					text-shadow: 0px 1px 2px #666;
				}
				p {
					.font-size(1);
					padding: 1rem;
					margin: 0 auto 1rem;
				}
				button {
					.font-size(1.25);
					display: block;
					box-shadow: 0px 1px 3px 1px #357;
					max-width: 80%;
					font-weight: bold;
					text-decoration: none;
					color: white;
					margin: calc(1rem*1.618) auto 0;
					padding: 1em;
				}
			}
		}
	}
	@media (min-width: 28.7em) {
		section {
			>h1 {
				.font-size(2.5);
			}
			#service-display {
				section.service-section {
					h3 {
						.font-size(2.25);
					}
					p {
						.font-size(1.25);
					}
					button {
						.font-size(1.5);
						margin-bottom: 1rem;
					}
				}
			}
		}
	}
	@media (min-width: 37.5em) {
		section {
			>h1 {
			.font-size(3);
			}
			#service-display {
				section.service-section {
					h3 {
						.font-size(2.5);
					}
					p {
						.font-size(1.5);
					}
					button {
						.font-size(1.75);
					}
				}
			}
		}
	}
	@media (min-width: 47.45em) {
		section {
			>h1 {
				.font-size(3.5);
			}
			#service-display {
				section.service-section {
					h3 {
						.font-size(2.75);
					}
					p {
						.font-size(1.75);
					}
					button {
						.font-size(2);
					}
				}
			}
		}
	}
	@media (min-width: @grid-breakpoint) {
		section {
			>h1 {
				.font-size(3.75);
				max-width: 24em;
			}
			#service-display {
				max-width: 106rem;
				margin: 0 auto;
				section.service-section {
					h3 {
						.font-size(3);
					}
					p {
						.font-size(2);
					}
					button {
						.font-size(2.25);
					}
				}
			}
		}
	}
	@media (min-width: 97em) {
		section {
			>h1 {
				.font-size(4);
				max-width: 26em;
			}
			#service-display
				section.service-section {
					h3 {
						.font-size(3.25);
					}
					p {
						.font-size(1.85);
					}
					button {
						.font-size(2.25);
					}
				}
			}
		}
	@media (min-height: 56em) and (min-width: @grid-breakpoint){
		height: 100vh;
	}
}

/* particular background colors for each service section */
#service-display section[data-id="service-development"] {
	background-color: #fbfffb;
	.grow-1();
}
#service-display section[data-id="service-maintenance"] {
	background-color: #f2fdff;
	.grow-2();
}
#service-display section[data-id="service-optimization"] {
	background-color: #fbf8ff;
	.grow-3();
}
