/**
	* Animation Styles
	*	A list of CSS animations that can be applied to elements
	*/
@keyframes fadeInUp {
	0% {
		transform: translateY(@2-rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
.fadeInUp {
animation: fadeInUp 1.8s .23s ease-out forwards;
animation-fill-mode: both;
}

/**
	* Theme Transition
	*/
.theme-transition {
	transition: all .25s ease-out;
	position: relative;
}
/**
	* Theme Scale
	*/
.theme-scale-up {
	transform: scale(1.25);
	position: relative;
	z-index: 10000;
}
/**
	* Used to animate modal dropdown
	*/
@-webkit-keyframes animateTop {
    from {top: -300px; opacity: 0}
    to {top: 35%; opacity: 1}
}
@keyframes animateTop {
    from {top: -300px; opacity: 0}
    to {top: 35%; opacity: 1}
}


/**
	* Spin element 360 degrees and move horizontally
	*/
@keyframes rollIn {
	0% {
		transform: translateX(-100%) rotateZ(180deg) ;
		opacity: .25;
	}
	100% {
		transform: translateX(0) rotateZ(0deg) ;
		opacity: 1;
	}
}
.rollIn {
	animation: rollIn 1.25s;
}

/**
	* Repeating slow "bounce" effect
	* Used, typically, for arrows
	*/
@keyframes bounce {
	0% {
		transform: translateY(15%);
	}
	100% {
		transform: translateY(-15%);
	}
}
