/**
	* Animation Styles
	*	A list of CSS animations that can be applied to elements
	*/
@keyframes fadeInUp {
	0% {
		transform: translateY(@2-rem);
		opacity: 0;
	}
	100% {
		transform: translateY(0);
		opacity: 1;
	}
}
.fadeInUp {
animation: fadeInUp 1.8s .23s ease-out forwards;
animation-fill-mode: both;
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

/**
	* Theme Transition
	*/
.theme-transition {
	transition: all .25s ease-out;
	position: relative;
}
/**
	* Theme Scale
	*/
.theme-scale-up {
	transform: scale(1.25);
	position: relative;
	z-index: 10000;
}
/**
	* Used to animate modal dropdown
	*/
@-webkit-keyframes animateTop {
    from {top: -300px; opacity: 0}
    to {top: 35%; opacity: 1}
}
@keyframes animateTop {
    from {top: -300px; opacity: 0}
    to {top: 35%; opacity: 1}
}


/**
	* Spin element 360 degrees and move horizontally
	*/
@keyframes rollIn {
	0% {
		transform: translateX(-100%) rotateZ(180deg) ;
		opacity: .25;
	}
	100% {
		transform: translateX(0) rotateZ(0deg) ;
		opacity: 1;
	}
}
.rollIn {
	animation: rollIn 1.25s;
}

/**
	* Repeating slow "bounce" effect
	* Used, typically, for arrows
	*/
@keyframes bounce {
	0% {
		transform: translateY(15%);
	}
	100% {
		transform: translateY(-15%);
	}
}

/**
	* Button Animations
	*/
	/* Shutter In Vertical */
	/* Credit: http://ianlunn.github.io/Hover/ */
	.hvr-shutter-in-vertical {
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px transparent;
	  position: relative;
	  background: #4cb474;
	  -webkit-transition-property: color;
	  transition-property: color;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
		&:before {
			content: "";
		  position: absolute;
		  z-index: -1;
		  top: 0;
		  bottom: 0;
		  left: 0;
		  right: 0;
		  background: @hero-color;
		  -webkit-transform: scaleY(1);
		  transform: scaleY(1);
		  -webkit-transform-origin: 50%;
		  transform-origin: 50%;
		  -webkit-transition-property: transform;
		  transition-property: transform;
		  -webkit-transition-duration: 0.3s;
		  transition-duration: 0.3s;
		  -webkit-transition-timing-function: ease-out;
		  transition-timing-function: ease-out;
		}
		&:hover,
		&:focus,
		&:active {
			color: #fff;
			&:before {
				-webkit-transform: scaleY(0);
				transform: scaleY(0);
			}
		}
	}

	/* Grow */
	.hvr-grow {
	  display: inline-block;
	  vertical-align: middle;
	  -webkit-transform: perspective(1px) translateZ(0);
	  transform: perspective(1px) translateZ(0);
	  box-shadow: 0 0 1px transparent;
	  -webkit-transition-duration: 0.3s;
	  transition-duration: 0.3s;
	  -webkit-transition-property: transform;
	  transition-property: transform;
		&:hover,
		&:focus,
		&:active {
			-webkit-transform: scale(1.02);
			transform: scale(1.02);
		}
	}
