// SITE COLORS

@queen-blue: #487F98;
@moonstone-blue: #68ABC4;
@ski-elf: #A3333D;
@japanese-indigo: #27495D;
@sea-green: #35885F;
@pewter-blue: #86A5C4;


@link-color: @sea-green;
@link-hover: @japanese-indigo;
@hero-color: @queen-blue;
@nav-color: @hero-color;
@background-color: @pewter-blue;





// possible hero colors
// @silver-lake-blue: #6393BB; // pale blue
//
// @hero-color: #27495D;
// @active-color: @hero-color;
// @link-color-hover: @active-color;
// @nav-color: darken(@silver-lake-blue,30%);


// @gray-blue: #8B93A0;
// @duke: #090C9B; // vibrant blue
// @ebony: #5A5C5F;
// @cotton-candy: #FFC6D9; // nice light pink
// @jasper: #D33E43;
// @mustard: #FFE066;
// @sea-green: #329F5B; // really nice green against site blue
// @electric-blue: #51E5FF;
// @crimson: #DB162F;
// @cedar-chest: #c05746;
// @dark-purple: #310A31;

// primary vars

// @hero-color-bold: @japanese-indigo;
// @secondary-color: @jasper;
//
// @nav-color: @dark-purple;
//
// // blue palette
// @pewter-blue: #86A5C4;
// @platinum: #E7EBEA;
// @yankee-blue: #1A2C36; // deep blue - good for drop shadow
// @japanese-indigo: #27495C;
// @davy-grey: #595B5E;
// @ash-white: #F0F4F5;
// @background-color: @platinum;
