@japanese-indigo: #27495D;
@jungle-green: #1B998B;
@pewter-blue: #86A5C4;
@yankees-blue: #1A2C36;

@hero-color: @japanese-indigo;
@secondary-color: @desire-red;

@link-color: @deep-purple;
@link-hover: @hero-color;
@accent-color: #fff;
//
// color list

@pastel-yellow: #FFFD82;
@desire-red: #E84855;
@crayola: #FF9F1C;
@egg-shell: #eaead5;
@arsenic: #39304A; // deep purple - good for drop shadow

@deep-purple: #4F1271;
@cotton-candy: #FFC6D9; // nice light pink
@electric-blue: #51E5FF;
@french-pink: #FF70A6;

/* colors used on website services page*/
@royal-purple: #7E52A0;
@rich-lavender: #A563D9;
@sea-green: #329F5B;
@ufo-green: #22CC63;

//
// @active-color: @hero-color;
