/**
* Theme Colors
*/

@queen-blue: #385f7e;
@moonstone-blue: #68ABC4;
@ski-elf: #A3333D;
@japanese-indigo: #27495D;
@sea-green: #338c5f;
@pewter-blue: #86A5C4;

/* helper names */
@hero-color: @queen-blue;
@background-color: @pewter-blue;
@nav-color: @hero-color;
@link-color: @sea-green;
@link-hover: @hero-color;
