/**
* XX THE PLACE WHERE COLORS GO TO DIE (i.e: unused colors)
*/

@japanese-indigo: #27495D;
@jungle-green: #1B998B;
@pewter-blue: #86A5C4;
@yankees-blue: #1A2C36;

@hero-color: @japanese-indigo;
@secondary-color: @desire-red;

@link-color: @deep-purple;
@link-hover: @hero-color;
@accent-color: #fff;
//
// color list

@pastel-yellow: #FFFD82;
@desire-red: #E84855;
@crayola: #FF9F1C;
@egg-shell: #eaead5;
@arsenic: #39304A; // deep purple - good for drop shadow

// @deep-purple: #4F1271;
// @cotton-candy: #FFC6D9; // nice light pink
// @electric-blue: #51E5FF;
// @french-pink: #FF70A6;

/* colors used on website services page*/
// @royal-purple: #7E52A0;
// @rich-lavender: #A563D9;
// @sea-green: #329F5B;
// @ufo-green: #22CC63;


// @active-color: @hero-color;
// possible hero colors
// @silver-lake-blue: #6393BB; // pale blue
//
// @hero-color: #27495D;
// @active-color: @hero-color;
// @link-color-hover: @active-color;
// @nav-color: darken(@silver-lake-blue,30%);


// @gray-blue: #8B93A0;
// @duke: #090C9B; // vibrant blue
// @ebony: #5A5C5F;
// @cotton-candy: #FFC6D9; // nice light pink
// @jasper: #D33E43;
// @mustard: #FFE066;
// @sea-green: #329F5B; // really nice green against site blue
// @electric-blue: #51E5FF;
// @crimson: #DB162F;
// @cedar-chest: #c05746;
// @dark-purple: #310A31;

// primary vars

// @hero-color-bold: @japanese-indigo;
// @secondary-color: @jasper;
//
// @nav-color: @dark-purple;
//
// // blue palette
// @pewter-blue: #86A5C4;
// @platinum: #E7EBEA;
// @yankee-blue: #1A2C36; // deep blue - good for drop shadow
// @japanese-indigo: #27495C;
// @davy-grey: #595B5E;
// @ash-white: #F0F4F5;
// @background-color: @platinum;
