@import 'typography';
@import '../base/vars';
@import 'helper';
@import 'colors';
@import '../base/calcs';
@import 'animations';

footer#pk-site-footer {
	position: static;
	width: 100%;
	bottom: 0;
	z-index: -1;
	font: @body-font;
	text-align: center;
	clear: both;
	padding-top: @1-rem;
	color: #fff;
	background-color: @hero-color;
	#sitemap {
		border-bottom: 1px solid #cccccc;
		ul {
			padding: 0 0.5em;
			list-style: none;
			.sitemap-title {
				margin-bottom: 0.5rem;
				.font-size(1);
				font-weight: bold;
			}
			li:not(.sitemap-title) {
				margin-bottom: 0;
				>a {
					color: #ddd;
					text-decoration: none;
					.font-size(.75);
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	#social-links {
		ul {
			margin-bottom: 0;
			padding-left: 0;
			text-align: center;
			li {
				display: inline-block;
				padding: 12px 6px;
				padding-bottom: 0;
				margin-bottom: 0;
				>a {
					.font-size(2.8);
					color: inherit;
					>i {
					/**
						* See 'animations.less'
						*/
						.theme-transition();
					}
					&:hover >i{
						.theme-scale-up();
						color: #fff;
					}
				}
			}
		}
	}
	#copyright {
		text-align: center;
		width: 100%;
		padding: 0.5em;
		span {
			.font-size(0);
			color: inherit;
		}
	}
/**
	*
	*/
	@media (@tablet-breakpoint) {
		#sitemap {
			padding: 1rem 0 2rem;
			width: @tablet-content-width;
			margin: 0 auto 2rem;
			overflow: hidden;
			ul {
				float: left;
				width: 33%;
				>.sitemap-title {
					.font-size(1.25);
				}
			}
		}
		#social-links,
		#copyright {
			clear: left;
		}
	}
	@media (@desktop-breakpoint) {
		padding-top: 3rem;
		#sitemap {
			width: @desktop-content-width;
			ul {
				li.sitemap-title {
					.font-size(1.5);
				}
				li:not(.sitemap-title) > a{
					.font-size(1.25);
				}
			}
		}
		#social-links ul li >a {
			.font-size(3.3);
		}
	}
	@media (@lg-desktop-breakpoint) {
		#sitemap {
			width: @lg-desktop-content-width;
		}
		#social-links ul li >a {
			.font-size(3.6);
		}
	}
}
