@import 'typography';
@import '../base/vars';
@import 'helper';
@import 'colors';
@import '../base/calcs';
@import 'animations';
@import "theme"; /* added May/24/2017 */

footer.pk-site-footer {
	position: static;
	width: 100%;
	bottom: 0;
	z-index: -1;
	font: @body-font;
	text-align: center;
	clear: both;
	padding-top: @1-rem;
	color: #fff;
	background-color: @hero-color;
	.gradient-background();
	font-size: 1em;
	#sitemap {
		border-bottom: 1px solid #cccccc;
		ul {
			font-size: 1em;
			padding: 0 0.5em;
			list-style: none;
			.sitemap-title {
				margin-bottom: 0.5rem;
				font-weight: bold;
				font-size: 1.4em;
			}
			li:not(.sitemap-title) {
				margin-bottom: 0;
				>a {
					color: #ddd;
					text-decoration: none;
					&:hover {
						text-decoration: underline;
					}
				}
			}
		}
	}
	#social-links {
		ul {
			margin-bottom: 0;
			padding-left: 0;
			text-align: center;
			font-size: 1.4em;
			li {
				display: inline-block;
				padding: 12px 6px;
				padding-bottom: 0;
				margin-bottom: 0;
				>a {
					font-size: 2em;
					color: inherit;
					>i {
					/**
						* See 'animations.less'
						*/
						.theme-transition();
					}
					&:hover >i{
						.theme-scale-up();
						color: #fff;
					}
				}
			}
		}
	}
	#copyright {
		text-align: center;
		width: 100%;
		padding: 0.5em;
		font-size: .75em;
		span {
			color: inherit;
		}
	}
/**
	*
	*/
	@media (@tablet-breakpoint) {
		font-size: 1.10em;
		#sitemap {
			padding: 1rem 0 2rem;
			max-width: @tablet-content-width;
			margin: 0 auto 2rem;
			overflow: hidden;
			ul {
				float: left;
				width: 33%;
			}
		}
		#social-links,
		#copyright {
			clear: left;
		}
	}
	@media (@desktop-breakpoint) {
		font-size: 1.25em;

		padding-top: 3rem;
		// font-size: 1.6em;
		#sitemap {
			width: @desktop-content-width;
		}
	}
	@media (@lg-desktop-breakpoint) {
		#sitemap {
			width: @lg-desktop-content-width;
		}
	}
}
