@import 'typography';
@import '../base/vars';
@import 'helper';
@import 'colors';
@import '../base/calcs';
@import 'animations';

header.pk-site-header {
	position: fixed;
	z-index: 1000;
	top: 0;
	width: 100%;
	>a {
		text-decoration: none;
		/* align logo to nav items */
		margin-top: 2px;
		.brand-logo {
			float: left;
			width: 4.25rem;
			margin: 0.35rem 0 0.15rem 0.25rem;
		}
		.brand-title {
			display: none;
		}
	}

	@media (min-width: 56.555em) { // is mobile break-point
		.brand-logo {
			width: 5rem;
			max-width: 10rem;
			height: auto;
			margin-left: 1rem/2.5;
			margin-top: 1rem/2.5;
		}
	}

	/**
	 * At large breakpoint, show 'Peak Websites' text
	 */
	 @media (@desktop-breakpoint) {
		 >a {
			 display: block;
			 max-width: 36%;
			 height: 100%;
			 .brand-logo {
				 margin-right: 1rem/@first-modular;
			 }
			 .brand-title {
				 display: block;
				 height: 100%;
				 color: @hero-color;
				 font-weight: lighter;
				 font-size: 2.25em;
			 }
		 }
	 }
}
.fixed-nav {
	background-color: @hero-color;
	height: 73px;
	transition: @transition;
	animation: fadeIn 0.25s .1s ease-in both; // temporary animation
	box-shadow: 1px 1px 1px 2px fadeout(#333, 50%);
	.brand-logo {
		max-height: 4rem;
		width: auto;
		margin-top: 0.25rem;
		margin-left: 0.25rem
	}
	.brand-title {
		color: white !important;
	}
	#primary-nav {
		a {
			color: #eee;
			&:hover {
				background-color: #fff;
				color: darken(@hero-color, 10%);
			}
		}
		ul.dropdown-content {
		background-color: #fff;
		color: @hero-color;
		top: 76px;
		li {
			a {
				color: inherit;
				&:hover {
					opacity: 1;
					color: #eee;
					background-color: @hero-color;
				}
				&::after {
					width: 100%;
					height: 0px;
				}
			}
			&:hover {
				background-color: #fff;
			}
		}
		}
		span.icon-bar {
			background-color: white !important;
		}
	}
	span.icon-bar {
		background-color: white !important;
	}
}
