/**
* Helper Classes
* - common theme classes that roll up a bunch on styles into one
*/

/* page container (deprecated) */


/* transform effect: grow on hover */
.growOnHover {
	transition: all .25s ease-in-out;
	&:hover {
		cursor: pointer;
		transform: scale(1.05);
		transform-origin: center;
		box-shadow: 1px 1px 15px 3px #555;
	}
}
/* Debugging Tool */
.border (@color: #f69c55, @width: 2px) {
	border: @width dashed @color;
}
/* visibility classes */
.hide { display: none; }
.invisible { visibility: hidden; }

/* Make content only available for Assistive Technologies */
.at-only {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}
.at-only-focusable:active,
.at-only-focusable:focus {
  position: static;
  width: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  clip: auto;
}
.clear-float {
  content: '';
  display: table;
  clear: both;
}
.box-shadow {
	box-shadow: 0px 3px 5px 2px @hero-color;
}

/**
	* Targets only IE 10 & 11
	* Removes troublesome background svg image
	*
	* source: http://www.mediacurrent.com/blog/write-conditional-css-ie10-and-11
	*/
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
	#complicated-web,
	#portfolio-main {
		background-image: none !important;
		background-color: #fff !important;
	}
}
