/*
* THEME DEFAULTS
*/

/* import theme specific styles */
@import 'typography';
@import 'animations';
@import 'helper';
@import 'colors';
@import 'header';
@import 'nav';
@import 'footer';

/**
 * Theme Gradient Background
 */
 .gradient-background {
	 background-image: svg-gradient(to bottom, @hero-color 30%, darken(@hero-color, 7%));
 }

/**
 * THeme colors for Panels
 */
 .panel {
	 padding: 2em 0.5em;
 }
 .panel.color-1 {
	 background: @hero-color;
	 .gradient-background();
	 color: white;
 }
 .panel.color-2 {
	 background: #f3f7fb;
	 border-top: 1px solid darken(#f3f7fb, 5%);
	 border-bottom: 1px solid darken(#f3f7fb, 5%);
 }

/**
 * Container helper styles
 */
 .container {
	 width: 100%;
	 margin: 0 auto;
	 padding: 0;
	 @media (@tablet-breakpoint) {
		 width: @tablet-content-width;
	 }
	 @media (@desktop-breakpoint) {
		 width: @desktop-content-width;
	 }
	 @media (@lg-desktop-breakpoint) {
		 width: @lg-desktop-content-width;
	 }
 }
 
html {
	font-size: @theme-default-rem;
	font-size: calc(@theme-default-rem * 1vw);
	body {
		font: @body-font;
		font-size: @theme-default-em;
		min-width: @min-width-px;
		margin: 0;
		height: 100%;
		background-color: @hero-color;
		background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232e5c78' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	}
}
/* type & text */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin: unit(@first-modular, rem) 0 unit(@first-modular/2, rem);
	text-transform: capitalize;
}
p,
span,
.service-link button {
	margin: unit(@first-modular, rem) 0 unit(@first-modular/2, rem);
	line-height: @line-height;
	.font-size(1);
}
h6,
.h6 {
	.font-size(0);
}
h5,
.h5 {
	.font-size(1);
}
h4,
.h4 {
	.font-size(2);
}
h3,
.h3 {
	.font-size(3);
}
h2,
.h2 {
	.font-size(4);
}
h1,
.h1 {
	.font-size(5);
}

/* links */
a {
	transition: all 100ms ease-in;
	color: #000;
	.font-size(1);
	&:link,
	&:visited,
	&:hover,
	&:active,
	&:focus {
		outline-width: 0;
	}
	&.active-link {
		color: @link-hover;
		.nav-active();
	}
}
p > a {
	font-size: inherit;
	color: inherit;
}
span {
	font-size: inherit;
	line-height: inherit;
	margin: inherit;
}
/* images */
img {
	width: inherit;
}

label,	input,	button	{
		display:	block;
		width:	100%;
}

/* lists */
ul,
ol,
dl {
	margin-top: @1-rem/2;
	margin-bottom: unit(@line-height, rem);
	padding-left: 0;
	list-style: none;
	font-size: 1.4em;
	ul,
	ol,
	dl {
		margin-bottom: 0;
	}
}
dt {
	font-weight: bold;
	margin-bottom: @1-rem/2;
}
dd {
	padding-left: 1em;
}
li {
	line-height: @line-height;
	margin-bottom: @1-rem/@second-modular;
}
blockquote {
	font-style: italic;
	font-size: 100% * @first-modular;
	border-left: 5px solid @hero-color;
	padding: 0.5rem;
	padding-left: @1-rem;
	line-height: @first-modular;
}

/**
 * Uniform container width
 */
.theme-container {
	max-width: 100rem;
	margin-left: auto;
	margin-right: auto;
}


/**
 * Page CTA (call-to-action)
 */
 .page-cta {
	 text-transform: capitalize;
 }
