/*
* THEME DEFAULTS
*/

/* import theme specific styles */
@import 'typography';
@import 'animations';
@import 'helper';
@import 'colors';
@import 'header';
@import 'nav';
@import 'footer';

/**
	* Breakpoint
	*/
	@tablet-breakpoint: ~"min-width: 64em";
	@desktop-breakpoint: ~"min-width: 84.444em";
	@lg-desktop-breakpoint: ~"min-width: 98.4375em";

/**
	* Content Width
	*/
	@tablet-content-width: ~"54em";
	@desktop-content-width: ~"64em";
	@lg-desktop-content-width: ~"70em";


html {
	font-size: @theme-default-rem;
	font-size: calc(@theme-default-rem * 1vw);
	body {
		font: @body-font;
		font-size: @theme-default-em;
		min-width: @min-width-px;
		margin: 0;
		height: 100%;
		background-color: @hero-color;
		background-image: url("data:image/svg+xml,%3Csvg width='6' height='6' viewBox='0 0 6 6' xmlns='http://www.w3.org/2000/svg'%3E%3Cg fill='%232e5c78' fill-opacity='0.4' fill-rule='evenodd'%3E%3Cpath d='M5 0h1L0 6V5zM6 5v1H5z'/%3E%3C/g%3E%3C/svg%3E");
	}
}
/* type & text */
h1,
.h1,
h2,
.h2,
h3,
.h3,
h4,
.h4,
h5,
.h5,
h6,
.h6 {
	margin: unit(@first-modular, rem) 0 unit(@first-modular/2, rem);
	text-transform: capitalize;
}
p,
span {
	margin: unit(@first-modular, rem) 0 unit(@first-modular/2, rem);
	line-height: @line-height;
	.font-size(1);
}
h6,
.h6 {
	.font-size(0);
}
h5,
.h5 {
	.font-size(1);
}
h4,
.h4 {
	.font-size(2);
}
h3,
.h3 {
	.font-size(3);
}
h2,
.h2 {
	.font-size(4);
}
h1,
.h1 {
	.font-size(5);
}

/* links */
a {
	transition: all 100ms ease-in;
	&:link,
	&:visited,
	&:hover,
	&:active,
	&:focus {
		color: #000;
		outline-width: 0;
	}
	&.active-link {
		color: @link-hover;
		.nav-active();
	}
}
span {
	font-size: inherit;
	line-height: inherit;
	margin: inherit;
}
/* images */
img {
	width: inherit;
}

label,	input,	button	{
		display:	block;
		width:	100%;
}

/* lists */
ul,
ol,
dl {
	margin-top: @1-rem/2;
	margin-bottom: unit(@line-height, rem);
	padding-left: 0;
	list-style: none;
	.font-size(1);
	ul,
	ol,
	dl {
		margin-bottom: 0;
	}
}
dt {
	font-weight: bold;
	margin-bottom: @1-rem/2;
}
dd {
	padding-left: 1em;
}
li {
	line-height: @line-height;
	margin-bottom: @1-rem/@second-modular;
}
blockquote {
	font-style: italic;
	font-size: 100% * @first-modular;
	border-left: 5px solid @hero-color;
	padding: 0.5rem;
	padding-left: @1-rem;
	line-height: @first-modular;
}

// .cta-link {
// 	display: block;
// 	border: 1px solid transparent;
// 	.base(margin,top,@first-modular);
// 	text-transform: capitalize;
// }

// .fixed-nav {
// 	background-color: fadeout(#fff,20%);
// 	height: 73px;
// 	animation: fadeIn .5s .23s ease-in both; // temporary animation
// 	nav #primary-nav .dropdown-content {
// 		background-color: fadeout(#fff,20%);
// 		color: @hero-color;
// 		opacity: .8;
// 		li {
// 			a {
// 				color: inherit;
// 				&:hover {
// 					opacity: 1;
// 				}
// 				&::after {
// 					width: 100%;
// 					height: 0px;
// 				}
// 			}
// 			&:hover {
// 				background-color: #fff;
// 			}
// 		}
// 	}
// }
// .nav-visible {
// 	&:extend(.fixed-nav all);
// }
