/**
* Typography
*/

@first-font: 'Raleway', Tahoma, sans-serif;
@second-font: 'Open Sans', sans-serif;

@header-font: normal 800 1em/@line-height @first-font;
@body-font: normal 400 1em/@line-height @second-font;


/* fallbacks, see http://ffffallback.com/ */
html {
	// font-family: Tahoma;
	line-height: 1.4;
	body {
		font: @body-font;
	}
}
/* WebFontLoader plugin, see: https://www.sitepoint.com/improve-page-performance-font-loader/ */
// html {
// 	// @header-font: normal 900 1rem/@line-height 'Raleway', Tahoma, sans-serif;
// 	.wf-active body {
// 		font: @body-font;
// 		// #business-top {
// 		// 	h1 {
// 		// 		font: @header-font;
// 		// 		letter-spacing: 0;
// 		// 		font-weight: 900;
// 		// 		line-height: 1;
// 		// 		.border;
// 		// 	}
// 		// 	p {
// 		// 		letter-spacing: 0;
// 		// 		font-family: 'Raleway';
// 		// 	}
// 		// }
// 	}
// }

/**
* Headers
******************/
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: @first-font;
}
