/**
* Typography
*/

/* Common font fallback*/
// @header-font: normal bold 1rem/1.4 Tahoma, sans-serif;
// @body-font: normal normal 1rem/1.4 Tahoma, sans-serif;
@header-font: normal 800 1rem/@line-height 'Raleway', Tahoma, sans-serif;
@body-font: normal 400 1rem/@line-height 'Raleway', Tahoma, sans-serif;

/* fallbacks, see http://ffffallback.com/ */
html {
	// font-family: Tahoma;
	line-height: 1.4;
	body {
		font: @body-font;
	}
	/**
	* Headers
	******************/
	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		font: @header-font;
	}
	/**
	* Landing Page
	******/
	#business-top {
		h1 {
			letter-spacing: -0.03em;
		}
		p {
			letter-spacing: 0.02em;
			font-weight: normal;
		}
	}
}
/* WebFontLoader plugin, see: https://www.sitepoint.com/improve-page-performance-font-loader/ */
html {
	// @header-font: normal 900 1rem/@line-height 'Raleway', Tahoma, sans-serif;

	.wf-active body {

		font: @body-font;
		#business-top {
			h1 {
				font: @header-font;
				letter-spacing: 0;
				font-weight: 900;
				line-height: 1;
				.border;
			}
			p {
				letter-spacing: 0;
				font-family: 'Raleway';
			}
		}
	}




}
